﻿@model ManicNet.Models.ChapterViewModel
@inject IStringLocalizer<ChapterLocalization> chapterLocalizer

@{
    ViewData["Title"] = string.IsNullOrWhiteSpace(Model.Title) ? chapterLocalizer[ChapterLocalization.CHAPTER_OVERVIEW_TITLE, Model.Number].ToString() : chapterLocalizer[ChapterLocalization.CHAPTER_OVERVIEW_TITLE_WITH_TITLE, Model.Number, Model.Title].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article>
    <header class="row">
        <section name="title" class="col-12 col-md-7 col-lg-9">
            <h1>
                @ViewData["Title"]
                @if (Model.AreParentsDeleted)
                {
                    <i class="fas fa-dumpster" title="@generalLocalizer[GeneralLocalization.PARENT_IS_DELETED]"></i>
                }
                @if (Model.IsDeleted)
                {
                    <i class="far fa-trash-alt" title="@generalLocalizer[GeneralLocalization.DELETED]"></i>
                }
            </h1>
        </section>

        <section name="admin_buttons" class="col-12 col-md-5 col-lg-3 d-inline-flex flex-md-row-reverse">
            @if (Model.IsDeleted && (await AuthorizationService.Authorize(User, Policies.Owner.DELETE_WORK)).Succeeded)
            {
                <div>
                    <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Chapter.CONTROLLER" asp-action="@Routing.Controllers.Chapter.Routes.DELETE">
                        <input asp-for="ChapterID" name="id" type="hidden" />
                        <button type="submit" class="btn btn-danger text-nowrap deleteButton"><i class="fas fa-trash-alt" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.DELETE]</button>
                    </form>
                </div>
            }

            @if (Model.AreParentsDeleted && !Model.IsDeleted && (await AuthorizationService.Authorize(User, Policies.Administrator.EDIT_WORK)).Succeeded)
            {
                <div>
                    <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Chapter.CONTROLLER" asp-action="@Routing.Controllers.Chapter.Routes.SOFT_DELETE">
                        <input asp-for="ChapterID" name="id" type="hidden" />
                        <button type="submit" class="btn btn-danger text-nowrap deleteButton"><i class="fas fa-trash-alt" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.DELETE]</button>
                    </form>
                </div>
            }

            @if (!Model.AreParentsDeleted && (await AuthorizationService.Authorize(User, Policies.Administrator.EDIT_WORK)).Succeeded)
            {
                @if (Model.IsDeleted)
                {
                    <div>
                        <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Chapter.CONTROLLER" asp-action="@Routing.Controllers.Chapter.Routes.RESTORE">
                            <input asp-for="ChapterID" name="id" type="hidden" />
                            <button type="submit" class="btn btn-dark text-nowrap"><i class="fas fa-trash-restore-alt" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.RESTORE]</button>
                        </form>
                    </div>
                }
                else if (!Model.IsDeleted)
                {
                    <div>
                        <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Chapter.CONTROLLER" asp-action="@Routing.Controllers.Chapter.Routes.EDIT" asp-route-id="@Model.ChapterID" class="btn btn-success text-nowrap" role="button">
                            <i class="fas fa-edit" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.EDIT]
                        </a>
                    </div>
                }
            }
            <div>
                <a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Chapter.CONTROLLER" asp-action="@Routing.Controllers.Chapter.Routes.VIEWER" asp-route-id="@Model.ChapterID" class="btn btn-dark text-nowrap" role="button">
                    <i class="fas fa-eye" aria-hidden="true"></i> @chapterLocalizer[ChapterLocalization.VIEWER]
                </a>
            </div>
        </section>
    </header>


    <h5><a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Work.CONTROLLER" asp-action="@Routing.Controllers.Work.Routes.SHOW" asp-route-id="@Model.WorkID">@chapterLocalizer[ChapterLocalization.PARENT_WORK]</a></h5>
    <h6>Volume: <a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Volume.CONTROLLER" asp-action="@Routing.Controllers.Volume.Routes.SHOW" asp-route-id="@Model.VolumeID">@(String.Format("{0}{1}", Model.VolumeNumber, String.IsNullOrWhiteSpace(Model.VolumeTitle) ? string.Empty : String.Format(" - {0}", Model.VolumeTitle)))</a></h6>

    @if (Model.PreviousChapterID.HasValue || Model.NextChapterID.HasValue)
    {
        <section name="navigation_buttons" class="row pb-3">
            <div class="col-12 d-inline-flex">
                @if (Model.PreviousChapterID.HasValue)
                {
                    <div class="pr-2">
                        <a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Chapter.CONTROLLER" asp-action="@Routing.Controllers.Chapter.Routes.OVERVIEW" asp-route-id="@Model.PreviousChapterID" class="btn btn-dark" role="button">
                            <i class="fas fa-arrow-left" aria-hidden="true"></i> @chapterLocalizer[ChapterLocalization.PREVIOUS_CHAPTER]
                        </a>
                    </div>
                }
                @if (Model.NextChapterID.HasValue)
                {
                    <div>
                        <a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Chapter.CONTROLLER" asp-action="@Routing.Controllers.Chapter.Routes.OVERVIEW" asp-route-id="@Model.NextChapterID" class="btn btn-dark" role="button">
                            @chapterLocalizer[ChapterLocalization.NEXT_CHAPTER] <i class="fas fa-arrow-right" aria-hidden="true"></i>
                        </a>
                    </div>
                }
            </div>
        </section>
    }

    @if (!(!Model.Tags.Any() && String.IsNullOrWhiteSpace(Model.ShortDescription) && String.IsNullOrWhiteSpace(Model.URL)))
    {
        <section name="basics" class="card mb-3">
            <header class="card-header">
                <h3>@generalLocalizer[GeneralLocalization.BASICS]</h3>
            </header>
            <section name="details" class="card-body card-text row col-12">
                <section name="tags">
                    <tag-type-tag-list-view info="Model.Tags"></tag-type-tag-list-view>
                </section>
                @if (!String.IsNullOrWhiteSpace(Model.ShortDescription))
                {
                    <section name="short_description">
                        <div><strong>@Html.DisplayNameFor(model => model.ShortDescription):</strong></div>
                        <div>@Model.ShortDescription</div>
                    </section>
                }
                @if (!String.IsNullOrWhiteSpace(Model.URL))
                {
                    <section name="url"><strong>@Html.DisplayNameFor(model => model.URL):</strong> <a href="@Model.URL">@generalLocalizer[GeneralLocalization.SOURCE]</a></section>
                }

                <section name="interaction_buttons" class="d-inline-flex mt-3">
                    <div>
                        <a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Chapter.CONTROLLER" asp-action="@Routing.Controllers.Chapter.Routes.VIEWER" asp-route-id="@Model.ChapterID" class="btn btn-success" role="button">
                            <i class="fas fa-book-reader" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.START_READING]
                        </a>
                    </div>
                    @if ((await AuthorizationService.Authorize(User, Policies.User.DOWNLOAD_CHAPTER)).Succeeded)
                    {
                        <div>
                            <form asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Chapter.CONTROLLER" asp-action="@Routing.Controllers.Chapter.Routes.DOWNLOAD" asp-route-id="@Model.ChapterID">
                                <button type="submit" class="btn btn-info"><i class="fas fa-download" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.DOWNLOAD]</button>
                            </form>
                        </div>
                    }
                </section>
            </section>
        </section>
    }
    else
    {
        <section name="interaction_buttons" class="d-inline-flex mb-3">
            <div>
                <a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Chapter.CONTROLLER" asp-action="@Routing.Controllers.Chapter.Routes.VIEWER" asp-route-id="@Model.ChapterID" class="btn btn-success" role="button">
                    <i class="fas fa-book-reader" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.START_READING]
                </a>
            </div>
            @if ((await AuthorizationService.Authorize(User, Policies.User.DOWNLOAD_CHAPTER)).Succeeded)
            {
                <div>
                    <form asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Chapter.CONTROLLER" asp-action="@Routing.Controllers.Chapter.Routes.DOWNLOAD" asp-route-id="@Model.ChapterID">
                        <button type="submit" class="btn btn-info"><i class="fas fa-download" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.DOWNLOAD]</button>
                    </form>
                </div>
            }
        </section>
    }

    @if (!String.IsNullOrWhiteSpace(Model.LongDescription))
    {
        <section name="long_description" class="card mb-3">
            <header class="card-header">
                <h3>@Html.DisplayNameFor(model => model.LongDescription)</h3>
            </header>
            <div class="card-body card-text">
                @Html.Raw(Model.LongDescription)
            </div>
        </section>
    }

    <section name="pages" class="card mb-3">
        <header class="card-header">
            <h3>@Html.DisplayNameFor(model => model.Pages)</h3>
        </header>
        <section class="card-body card-text row">
            @{ int pageNumber = 0; }
            @foreach (var pageContent in Model.Pages)
            {
                <div class="col-4 col-md-3 col-lg-2 img-fluid">
                    <a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Chapter.CONTROLLER" asp-action="@Routing.Controllers.Chapter.Routes.VIEWER" asp-route-id="@Model.ChapterID" asp-route-page="@(pageNumber)">
                        <div><img src="@pageContent.Content.Thumbnail" asp-append-version="true" class="img-fluid rounded" alt="@chapterLocalizer[ChapterLocalization.PAGE_NUMBER, pageContent.PageNumber]"></div>
                    </a>
                </div>
                pageNumber = pageNumber + 1;
            }
        </section>
    </section>
</article>