﻿@model ManicNet.Models.ChapterViewModel
@inject IStringLocalizer<ChapterLocalization> chapterLocalizer

@{
    ViewData["Title"] = string.IsNullOrWhiteSpace(Model.Title) ? chapterLocalizer[ChapterLocalization.CHAPTER_VIEWER_TITLE, Model.Number].ToString() : chapterLocalizer[ChapterLocalization.CHAPTER_VIEWER_TITLE, Model.Number, Model.Title].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/chapterviewer.js"></script>

<script>
    var workID = "@Model.WorkID";
    var currentChapterID = "@Model.ChapterID";
    var previousChapterID = "@Model.PreviousChapterID";
    var previousChapterLastPage = @Model.PreviousChapterLastPage;
    var nextChapterID = "@Model.NextChapterID";
    var currentPage = @Model.CurrentPageNumber;
    var chapterPages = JSON.parse('@Json.Serialize(Model.Pages.OrderBy(p => p.PageNumber).Select(p => p.Content.Content).ToList())');
    var chapterPagesCount = @Model.Pages.Count();
</script>

<article>
    <header class="row">
        <section name="title" class="col-12 col-md-7 col-lg-9">
            <h1>
                @ViewData["Title"]
                @if (Model.AreParentsDeleted)
                {
                    <i class="fas fa-dumpster" title="@generalLocalizer[GeneralLocalization.PARENT_IS_DELETED]"></i>
                }
                @if (Model.IsDeleted)
                {
                    <i class="far fa-trash-alt" title="@generalLocalizer[GeneralLocalization.DELETED]"></i>
                }
            </h1>
        </section>

        <section name="admin_buttons" class="col-12 col-md-5 col-lg-3 d-inline-flex flex-md-row-reverse">
            @if (Model.IsDeleted && (await AuthorizationService.Authorize(User, Policies.Owner.DELETE_WORK)).Succeeded)
            {
                <div>
                    <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Chapter.CONTROLLER" asp-action="@Routing.Controllers.Chapter.Routes.DELETE">
                        <input asp-for="ChapterID" name="id" type="hidden" />
                        <button type="submit" class="btn btn-danger text-nowrap deleteButton"><i class="fas fa-trash-alt" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.DELETE]</button>
                    </form>
                </div>
            }

            @if (Model.AreParentsDeleted && !Model.IsDeleted && (await AuthorizationService.Authorize(User, Policies.Administrator.EDIT_WORK)).Succeeded)
            {
                <div>
                    <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Chapter.CONTROLLER" asp-action="@Routing.Controllers.Chapter.Routes.SOFT_DELETE">
                        <input asp-for="ChapterID" name="id" type="hidden" />
                        <button type="submit" class="btn btn-danger text-nowrap deleteButton"><i class="fas fa-trash-alt" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.DELETE]</button>
                    </form>
                </div>
            }

            @if (!Model.AreParentsDeleted && (await AuthorizationService.Authorize(User, Policies.Administrator.EDIT_WORK)).Succeeded)
            {
                @if (Model.IsDeleted)
                {
                    <div>
                        <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Chapter.CONTROLLER" asp-action="@Routing.Controllers.Chapter.Routes.RESTORE">
                            <input asp-for="ChapterID" name="id" type="hidden" />
                            <button type="submit" class="btn btn-dark text-nowrap"><i class="fas fa-trash-restore-alt" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.RESTORE]</button>
                        </form>
                    </div>
                }
                else if (!Model.IsDeleted)
                {
                    <div>
                        <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Chapter.CONTROLLER" asp-action="@Routing.Controllers.Chapter.Routes.EDIT" asp-route-id="@Model.ChapterID" class="btn btn-success text-nowrap" role="button">
                            <i class="fas fa-edit" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.EDIT]
                        </a>
                    </div>
                }
            }
            <div>
                <a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Chapter.CONTROLLER" asp-action="@Routing.Controllers.Chapter.Routes.OVERVIEW" asp-route-id="@Model.ChapterID" class="btn btn-dark text-nowrap" role="button">
                    <i class="fas fa-info-circle" aria-hidden="true"></i> @chapterLocalizer[ChapterLocalization.OVERVIEW]
                </a>
            </div>
        </section>
    </header>


    <h5><a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Work.CONTROLLER" asp-action="@Routing.Controllers.Work.Routes.SHOW" asp-route-id="@Model.WorkID">@chapterLocalizer[ChapterLocalization.PARENT_WORK]</a></h5>
    <h6>@generalLocalizer[GeneralLocalization.VOLUME]: <a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Volume.CONTROLLER" asp-action="@Routing.Controllers.Volume.Routes.SHOW" asp-route-id="@Model.VolumeID">@(String.Format("{0}{1}", Model.VolumeNumber, String.IsNullOrWhiteSpace(Model.VolumeTitle) ? string.Empty : String.Format(" - {0}", Model.VolumeTitle)))</a></h6>


    @await Html.PartialAsync("Chapter/_ChapterViewerNavbar", Model)

    <section name="page_viewer" id="page_viewer_container" class="d-flex justify-content-center">
        <img id="viewer_current_page" src="@Model.CurrentPage.Content" asp-append-version="true" class="img-responsive" alt="@chapterLocalizer[ChapterLocalization.PAGE_NUMBER, Model.CurrentPageNumber]">
    </section>

    @await Html.PartialAsync("Chapter/_ChapterViewerNavbar", Model)

    <!--TODO: Add ability to jump to different pages-->
    <!--TODO: Javascript to change page without reloading-->
</article>