﻿@model ManicNet.Models.ChapterModifyModel
@inject IStringLocalizer<ChapterLocalization> chapterLocalizer

@{
    ViewData["Title"] = chapterLocalizer[ChapterLocalization.CREATE_CHAPTER].ToString(); ;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="card">
    <header name="title" class="card-header">
        <h1>@ViewData["Title"]</h1>
    </header>
    <section class="card-body card-text form-row col-12">
        <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Chapter.CONTROLLER" asp-action="@Routing.Controllers.Chapter.Routes.CREATE" asp-route-id="" enctype="multipart/form-data">
            <input asp-for="VolumeID" type="hidden" />
            <div class="col-12">
                @await Html.PartialAsync("_ChapterInput", Model)

                <div>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-plus" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.CREATE]</button>
                </div>
            </div>
        </form>
    </section>
</section>

<a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Volume.CONTROLLER" asp-action="@Routing.Controllers.Volume.Routes.SHOW" asp-route-id="@Model.VolumeID">@generalLocalizer[GeneralLocalization.BACK_TO_PARENT_VOLUME]</a>

@section Scripts{

}

