﻿@model ManicNet.Models.ChapterDeletedIndexViewModel
@inject IStringLocalizer<ChapterLocalization> chapterLocalizer

@{
    ViewData["Title"] = chapterLocalizer[ChapterLocalization.DELETED_CHAPTERS].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="row">
    <section name="title" class="col-12 col-md-7 col-lg-8">
        <h1>@ViewData["Title"]</h1>
    </section>

    <section name="admin_buttons" class="col-12 col-md-5 col-lg-4 d-inline-flex flex-md-row-reverse">
        <div>
            <a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Work.CONTROLLER" asp-action="@Routing.Controllers.Work.Routes.INDEX" class="btn btn-light text-nowrap" role="button">
                <i class="fas fa-list" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.INDEX]
            </a>
        </div>
    </section>
</header>

@if (Model.WorkID.HasValue)
{
    <h5>@chapterLocalizer[ChapterLocalization.PARENT_WORK]: <a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Work.CONTROLLER" asp-action="@Routing.Controllers.Work.Routes.SHOW" asp-route-id="@Model.WorkID">@Model.WorkTitle</a></h5>
    <h6>@generalLocalizer[GeneralLocalization.VOLUME]: <a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Volume.CONTROLLER" asp-action="@Routing.Controllers.Volume.Routes.SHOW" asp-route-id="@Model.VolumeID">@string.Format("{0}{1}", Model.VolumeNumber, string.IsNullOrWhiteSpace(Model.VolumeTitle) ? string.Format(" - {0}", Model.VolumeTitle) : string.Empty)</a></h6>
}

@await Html.PartialAsync("Chapter/_Index", Model)