﻿@model ManicNet.Models.ChapterModifyModel
@inject IStringLocalizer<ChapterLocalization> chapterLocalizer

@{

    ViewData["Title"] = string.IsNullOrWhiteSpace(Model.Title) ? chapterLocalizer[ChapterLocalization.EDIT_CHAPTER, Model.Number].ToString() : chapterLocalizer[ChapterLocalization.EDIT_CHAPTER_WITH_TITLE, Model.Number, Model.Number].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="card">
    <header class="card-header">
        <div class="row">
            <section name="title" class="col-12 col-md-7 col-lg-9">
                <h1>@ViewData["Title"]</h1>
            </section>
            <section name="admin_buttons" class="col-12 col-md-5 col-lg-3 d-inline-flex flex-md-row-reverse">
                @if ((await AuthorizationService.Authorize(User, Policies.Administrator.EDIT_WORK)).Succeeded)
                {
                    <div>
                        <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Chapter.CONTROLLER" asp-action="@Routing.Controllers.Chapter.Routes.SOFT_DELETE">
                            <input asp-for="ChapterID" name="id" type="hidden" />
                            <button type="submit" class="btn btn-danger text-nowrap deleteButton"><i class="fas fa-trash-alt" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.DELETE]</button>
                        </form>
                    </div>
                }

                <div>
                    <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Chapter.CONTROLLER" asp-action="@Routing.Controllers.Chapter.Routes.MIGRATE" asp-route-id="@Model.ChapterID" class="btn btn-secondary text-nowrap" role="button">
                        <i class="fas fa-route" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.MIGRATE]
                    </a>
                </div>

                <div>
                    <a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Chapter.CONTROLLER" asp-action="@Routing.Controllers.Chapter.Routes.OVERVIEW" asp-route-id="@Model.ChapterID" class="btn btn-dark text-nowrap" role="button">
                        <i class="fas fa-info-circle" aria-hidden="true"></i> @chapterLocalizer[ChapterLocalization.OVERVIEW]
                    </a>
                </div>
            </section>
        </div>
    </header>
    <section class="card-body card-text form-row col-12">
        <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Chapter.CONTROLLER" asp-action="@Routing.Controllers.Chapter.Routes.EDIT" asp-route-id="" enctype="multipart/form-data">
            <input asp-for="ChapterID" type="hidden" />
            <input asp-for="VolumeID" type="hidden" />
            <div class="col-12">
                @await Html.PartialAsync("_ChapterInput", Model)

                <div>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-edit" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.EDIT]</button>
                </div>
            </div>
        </form>
    </section>
</section>

<a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Volume.CONTROLLER" asp-action="@Routing.Controllers.Volume.Routes.SHOW" asp-route-id="@Model.VolumeID">@generalLocalizer[GeneralLocalization.BACK_TO_PARENT_VOLUME]</a>

@section Scripts{

}

