﻿@model ManicNet.Models.ChapterMigrationModel
@inject IStringLocalizer<ChapterLocalization> chapterLocalizer

@{
    ViewData["Title"] = string.IsNullOrWhiteSpace(Model.Name) ? chapterLocalizer[ChapterLocalization.MIGRATE_CHAPTER, Model.Number].ToString() : chapterLocalizer[ChapterLocalization.MIGRATE_CHAPTER, Model.Number, Model.Name].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="card">
    <header class="card-header">
        <div class="row">
            <section name="title" class="col-12 col-md-7 col-lg-9">
                <h1>@ViewData["Title"]</h1>
            </section>
            <section name="admin_buttons" class="col-12 col-md-5 col-lg-3 d-inline-flex flex-md-row-reverse">
                @if ((await AuthorizationService.Authorize(User, Policies.Administrator.EDIT_TAG)).Succeeded)
                {
                    <div>
                        <div>
                            <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Chapter.CONTROLLER" asp-action="@Routing.Controllers.Chapter.Routes.EDIT" asp-route-id="@Model.ChapterID" class="btn btn-success text-nowrap" role="button">
                                <i class="fas fa-edit" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.EDIT]
                            </a>
                        </div>
                    </div>
                }

                <div>
                    <a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Chapter.CONTROLLER" asp-action="@Routing.Controllers.Chapter.Routes.OVERVIEW" asp-route-id="@Model.ChapterID" class="btn btn-dark text-nowrap" role="button">
                        <i class="fas fa-info-circle" aria-hidden="true"></i> @chapterLocalizer[ChapterLocalization.OVERVIEW]
                    </a>
                </div>
            </section>
        </div>
    </header>
    <section class="card-body card-text form-row col-12">
        <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Chapter.CONTROLLER" asp-action="@Routing.Controllers.Chapter.Routes.MIGRATE" asp-route-id="">
            <input asp-for="ChapterID" type="hidden" />
            <input asp-for="Name" type="hidden" />
            <div class="col-12">
                <section name="@nameof(Model.VolumeID)" id="MigrateInsideVolume">
                    <section name="identifier">
                        <label asp-for="VolumeID" class="control-label"></label>
                        <i class="fa fa-question-circle" aria-hidden="true" title="@chapterLocalizer[ChapterLocalization.Help.MIGRATE_CHAPTER_INSIDE_OF_WORK]"></i>
                    </section>
                    <select id="ProvidedVolume" asp-for="VolumeID" class="form-control" asp-items="Model.CollectionVolumes">
                        <option value=""></option>
                    </select>
                    <span asp-validation-for="VolumeID" class="text-danger"></span>
                </section>
                <section name="@nameof(Model.VolumeID)" id="MigrateOutsideOfVolume" style="display:none">
                    <section name="identifier">
                        <label asp-for="VolumeID" class="control-label"></label>
                        <i class="fa fa-question-circle" aria-hidden="true" title="@chapterLocalizer[ChapterLocalization.Help.MIGRATE_CHAPTER_OUTSIDE_OF_WORK]"></i>
                    </section>
                    <input id="FreeformVolume" asp-for="VolumeID" class="form-control" disabled="disabled" />
                    <span asp-validation-for="VolumeID" class="text-danger"></span>
                </section>
                <section name="@nameof(Model.MigrateToVolumeOutsideOfCollection)" class="form-check">
                    <section name="identifier">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="MigrateToVolumeOutsideOfCollection" onclick="ToggleMigrateChapterToVolumeOutsideOfWork(this)" /> @Html.DisplayNameFor(model => model.MigrateToVolumeOutsideOfCollection) <i class="fa fa-question-circle" aria-hidden="true" title="@chapterLocalizer[ChapterLocalization.Help.MIGRATE_CHAPTER_INSIDE_OR_OUTSIDE_OF_WORK]"></i>
                        </label>
                    </section>
                </section>
                <section name="@nameof(Model.Number)">
                    <section name="identifier">
                        <label asp-for="Number" class="control-label"></label>
                        <i class="fa fa-question-circle" aria-hidden="true" title="@chapterLocalizer[ChapterLocalization.Help.MIGRATE_CHAPTER_NUMBER]"></i>
                    </section>
                    <input asp-for="Number" class="form-control" />
                    <span asp-validation-for="Number" class="text-danger"></span>
                </section>

                <div>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-route" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.MIGRATE]</button>
                </div>
            </div>
        </form>
    </section>
</section>

@section Scripts{
    <script type="text/javascript" src="~/js/chaptermigration.js"></script>
}