﻿@page
@inject IStringLocalizer<IdentityLocalization> identityLocalizer
@model AccessDeniedModel
@{
    ViewData["Title"] = identityLocalizer[IdentityLocalization.ACCESS_DENIED].ToString();
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">@identityLocalizer[IdentityLocalization.YOU_DO_NOT_HAVE_ACCESS_TO_THIS_RESOURCE]</p>
</header>
