﻿@page
@inject IStringLocalizer<IdentityLocalization> identityLocalizer
@model ConfirmEmailModel
@{
    ViewData["Title"] = identityLocalizer[IdentityLocalization.CONFIRM_EMAIL].ToString();
}

<article>
    <header>
        <h1>@ViewData["Title"]</h1>
    </header>
    <section>
        <p>@identityLocalizer[IdentityLocalization.THANK_YOU_FOR_CONFIRMING_YOUR_EMAIL]</p>
    </section>
</article>