﻿@page
@inject IStringLocalizer<IdentityLocalization> identityLocalizer
@model ExternalLoginModel
@{
    ViewData["Title"] = identityLocalizer[IdentityLocalization.REGISTER].ToString();
}

<section>
    <header>
        <h1>@ViewData["Title"]</h1>
    </header>
    <h4>@identityLocalizer[IdentityLocalization.ASSOCIATE_YOUR_EXTERNAL_ACCOUNT, @Model.LoginProvider]</h4>
    <hr />

    <p class="text-info">@identityLocalizer[IdentityLocalization.YOU_HAVE_SUCCESSFULLY_AUTHENTICATED_WITH_EXTERNAL_ACCOUNT, @Model.LoginProvider]</p>

    <section class="row">
        <div class="col-md-4">
            <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div>
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary"><i class="fas fa-user-plus" aria-hidden="true"></i> @identityLocalizer[IdentityLocalization.REGISTER]</button>
            </form>
        </div>
    </section>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
