﻿@page
@inject IStringLocalizer<IdentityLocalization> identityLocalizer
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = identityLocalizer[IdentityLocalization.FORGOT_PASSWORD_CONFIRMATION].ToString();
}

<article>
    <section class="card">
        <header class="card-header">
            <h1>@ViewData["Title"]</h1>
        </header>
        <div class="card-body card-text">
            <p>@identityLocalizer[IdentityLocalization.PLEASE_CHECK_YOUR_EMAIL_TO_RESET_YOUR_PASSWORD]</p>
        </div>
    </section>
</article>