﻿@page
@inject IStringLocalizer<IdentityLocalization> identityLocalizer
@model ForgotPasswordModel
@{
    ViewData["Title"] = identityLocalizer[IdentityLocalization.FORGOT_YOUR_PASSWORD].ToString();
}

<section>
    <hr />
    <section class="card">
        <header class="card-header">
            <h1>@ViewData["Title"]</h1>
        </header>
        <section class="card-body">
            <h4 class="card-title">@identityLocalizer[IdentityLocalization.ENTER_YOUR_EMAIL]</h4>
            <div class="card-text">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <section>
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </section>
                    <button type="submit" class="btn btn-primary">@identityLocalizer[IdentityLocalization.SUBMIT]</button>
                </form>
            </div>
        </section>
    </section>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
