﻿@page
@inject IStringLocalizer<IdentityLocalization> identityLocalizer
@model LockoutModel
@{
    ViewData["Title"] = identityLocalizer[IdentityLocalization.LOCKED_OUT].ToString();
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">@identityLocalizer[IdentityLocalization.THIS_ACCOUNT_HAS_BEEN_LOCKED_OUT]</p>
</header>
