﻿@page
@inject IStringLocalizer<IdentityLocalization> identityLocalizer
@model LoginModel

@{
    ViewData["Title"] = identityLocalizer[IdentityLocalization.LOG_IN].ToString();
}

<section>
    <header>
        <h1>@ViewData["Title"]</h1>
    </header>
    <div class="row">
        <section class="col-md col-xs-12 card">
            <header class="card-header">
                <h4>@identityLocalizer[IdentityLocalization.USE_A_LOCAL_ACCOUNT_TO_LOG_IN] </h4>
            </header>
            <section class="card-body card-text">
                <form id="account" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <section name="email">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </section>
                    <section name="password">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </section>
                    <section name="remember_me">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </section>
                    <div>
                        <button type="submit" class="btn btn-primary">@identityLocalizer[IdentityLocalization.LOG_IN]</button>
                    </div>
                </form>
            </section>
            <section class="card-footer">
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">@identityLocalizer[IdentityLocalization.FORGOT_YOUR_PASSWORD]</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">@identityLocalizer[IdentityLocalization.REGISTER_AS_A_NEW_USER]</a>
                    </p>
                </div>
            </section>
        </section>
        @if ((Model.ExternalLogins?.Count ?? 0) > 0)
        {
            <section class="col-md col-xs-12 card">
                <header class="card-header">
                    <h4> Use another service to log in.</h4>
                </header>
                <section class="card-body">
                    <div class="card-text">
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="@identityLocalizer[IdentityLocalization.LOGIN_IN_USING_YOUR_EXTERNAL_ACCOUNT, @provider.DisplayName]">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    </div>
                </section>
            </section>
        }
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
