﻿@page
@inject IStringLocalizer<IdentityLocalization> identityLocalizer
@model LoginWith2faModel
@{
    ViewData["Title"] = identityLocalizer[IdentityLocalization.TWO_FACTOR_AUTHENTICATION].ToString();
}

<section class="card">
    <header class="card-header">
        <h1>@ViewData["Title"]</h1>
    </header>
    <section class="card-body card-text">
        <p>@identityLocalizer[IdentityLocalization.YOUR_LOGIN_IS_PROTECTED_WITH_AN_AUTHENTICATOR_APP]</p>
        <section class="row">
            <div class="col-md-4">
                <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
                    <input asp-for="RememberMe" type="hidden" />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <section name="two_fa">
                        <label asp-for="Input.TwoFactorCode"></label>
                        <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" />
                        <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
                    </section>
                    <section name="remember_machine">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMachine">
                                <input asp-for="Input.RememberMachine" />
                                @Html.DisplayNameFor(m => m.Input.RememberMachine)
                            </label>
                        </div>
                    </section>
                    <div>
                        <button type="submit" class="btn btn-primary">@identityLocalizer[IdentityLocalization.LOG_IN]</button>
                    </div>
                </form>
            </div>
        </section>
        <p>@identityLocalizer[IdentityLocalization.DONT_HAVE_ACCESS_TO_YOUR_AUTHENTICATOR_DEVICE_USE_A_RECOVERY_CODE]</p>
        <p><a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">@identityLocalizer[IdentityLocalization.HERE]</a></p>
    </section>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
