﻿@page
@inject IStringLocalizer<IdentityLocalization> identityLocalizer
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = identityLocalizer[IdentityLocalization.RECOVERY_CODE_VERIFICATION].ToString();
}

<section class="card">
    <header class="card-header">
        <h1>@ViewData["Title"]</h1>
    </header>
    <section class="card-body card-text">
        <p>@identityLocalizer[IdentityLocalization.YOU_HAVE_REQUESTED_TO_LOG_IN_IN_WITH_A_RECOVERY_CODE]</p>
        <section class="row">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <section name="recovery_code">
                        <label asp-for="Input.RecoveryCode"></label>
                        <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" />
                        <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
                    </section>
                    <button type="submit" class="btn btn-primary">@identityLocalizer[IdentityLocalization.LOG_IN]</button>
                </form>
            </div>
        </section>
    </section>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
