﻿@page
@inject IStringLocalizer<IdentityLocalization> identityLocalizer
@model LogoutModel
@{
    ViewData["Title"] = identityLocalizer[IdentityLocalization.LOG_OUT].ToString();
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>@identityLocalizer[IdentityLocalization.YOU_HAVE_SUCCESSFULLY_LOGGED_OUT_OF_THE_APPLICATION]</p>
</header>