﻿@page
@using Microsoft.Extensions.Options;
@inject IStringLocalizer<IdentityLocalization> identityLocalizer
@inject IOptions<ManicNetSettings> manicNetSettings;
@model RegisterModel
@{
    ViewData["Title"] = identityLocalizer[IdentityLocalization.REGISTER].ToString();
}

<section class="card">
    <header class="card-header">
        <h1>@ViewData["Title"]</h1>
    </header>
    <section class="card-body">
        <header class="card-title">
            <h4>@identityLocalizer[IdentityLocalization.CREATE_A_NEW_ACCOUNT]</h4>
        </header>
        <section class="card-text">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <section name="user_name">
                    <label asp-for="Input.UserName"></label>
                    <input asp-for="Input.UserName" class="form-control" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </section>
                <section name="email">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </section>
                <section name="password">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </section>
                <section name="confirm+password">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </section>
                @if (manicNetSettings.Value.Registration.RequiresInvite)
                {
                    <section name="invite_code">
                        <label asp-for="Input.InviteCode"></label>
                        <input asp-for="Input.InviteCode" class="form-control" />
                        <span asp-validation-for="Input.InviteCode" class="text-danger"></span>
                    </section>
                }
                <button type="submit" class="btn btn-primary"><i class="fas fa-user-plus" aria-hidden="true"></i> @identityLocalizer[IdentityLocalization.REGISTER]</button>
            </form>
        </section>
    </section>
    @if (manicNetSettings.Value.Registration.RequiresInvite && manicNetSettings.Value.Registration.CanRequestInvite)
    {
        <section class="card-footer">
            <a asp-area="Identity" asp-page="/Account/RequestInvite">@identityLocalizer[IdentityLocalization.REQUEST_AN_INVITATION_CDOE]</a>
        </section>
    }
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
