﻿@page
@inject IStringLocalizer<IdentityLocalization> identityLocalizer
@model ManicNet.Web.Areas.Identity.Pages.Account.RequestInviteModel
@{
    ViewData["Title"] = identityLocalizer[IdentityLocalization.REQUEST_INVITE].ToString();
}

<section class="card">
    <header class="card-header">
        <h1>@ViewData["Title"]</h1>
    </header>
    <section class="card-body">
        <header class="card-title">
            <h4>@identityLocalizer[IdentityLocalization.REQUEST_AN_INVITE_TO_CREATE_A_NEW_ACCOUNT]</h4>
        </header>
        <section class="card-text">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <section name="email">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </section>
                <section name="note">
                    <label asp-for="Input.Note"></label>
                    <textarea asp-for="Input.Note" class="form-control richtext"></textarea>
                    <span asp-validation-for="Input.Note" class="text-danger"></span>
                </section>
                <button type="submit" class="btn btn-primary">@identityLocalizer[IdentityLocalization.REQUEST_INVITE]</button>
            </form>
        </section>
    </section>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

