﻿@page
@inject IStringLocalizer<IdentityLocalization> identityLocalizer
@model ResetPasswordModel
@{
    ViewData["Title"] = identityLocalizer[IdentityLocalization.RESET_PASSWORD].ToString();
}

<section class="card">
    <header class="card-header">
        <h1>@ViewData["Title"]</h1>
    </header>
    <section class="card-body">
        <header class="card-title">
            <h4>@identityLocalizer[IdentityLocalization.RESET_YOUR_PASSWORD]</h4>
        </header>
        <section class="card-text">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="Input.Code" type="hidden" />
                <section name="email">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </section>
                <section name="password">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </section>
                <section name="confirm_password">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </section>
                <button type="submit" class="btn btn-primary">@identityLocalizer[IdentityLocalization.RESET_PASSWORD]</button>
            </form>
        </section>
    </section>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
