﻿@page
@inject IStringLocalizer<IdentityLocalization> identityLocalizer
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = identityLocalizer[IdentityLocalization.RESET_PASSWORD_CONFIRMATION].ToString();
}

<section class="card">
    <header class="card-header">
        <div>@ViewData["Title"]</div>
    </header>
    <section class="card-body card-text">
        <p>@identityLocalizer[IdentityLocalization.YOUR_PASSWORD_HAS_BEEN_RESET]</p>
        <p><a asp-page="./Login">@identityLocalizer[IdentityLocalization.PLEASE_CLICK_HERE_TO_LOGIN]</a></p>
    </section>
</section>
