﻿@using X.PagedList.Mvc.Core;
@model ManicNet.Models.TagTypeIndexViewModel

@if (!Model.TagTypes.Any())
{
    <section>        
        No tag types found in the database that match the provided parameters.
    </section>
}
else
{
    <section>
        <table class="table">
            <thead>
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.TagTypes.FirstOrDefault().Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TagTypes.FirstOrDefault().SearchablePrefix)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TagTypes.FirstOrDefault().ShortDescription)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TagTypes)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.Name, "Show", new { area = "", id = item.TagTypeID })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SearchablePrefix)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShortDescription)
                        </td>
                        <td>
                            @if (item.IsDeleted)
                            {
                                <i class="far fa-trash-alt" title="@generalLocalizer[GeneralLocalization.DELETED]"></i>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>

    <section>
        <!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
        @Html.PagedListPager(Model.TagTypes, pageNumber => Url.Action(Model.Path, new { pageNumber }),
        new X.PagedList.Web.Common.PagedListRenderOptions
        {
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" }
        })
    </section>
}