﻿@using X.PagedList.Mvc.Core;
@model ManicNet.Models.TagIndexViewModel
@inject IStringLocalizer<TagLocalization> tagLocalizer

<!--Search box-->
<section name="tag_search">
    <form method="get">
        <div class="row">
            <span class="col-9 col-md-4">
                <input asp-for="Search" placeholder="@generalLocalizer[GeneralLocalization.TAG]" class="form-control" />
            </span>
            <span class="col-3">
                <button type="submit" class="btn btn-primary"><i class="fas fa-search" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.SEARCH]</button>
            </span>
        </div>
    </form>
</section>

@if (!Model.Tags.Any())
{
    <section>
        @tagLocalizer[TagLocalization.NO_TAGS_FOUND]
    </section>
}
else
{
    <section>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Tags.FirstOrDefault().Name)
                    </th>
                    <th>
                        @tagLocalizer[TagLocalization.TAG_TYPE]
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tags.FirstOrDefault().ShortDescription)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Tags)
                {
                    <tr>
                        <td>
                            <tag-view info="item"></tag-view>
                        </td>
                        <td>
                            @Html.ActionLink(item.TagType.Name, Routing.Controllers.TagType.Routes.SHOW, Routing.Controllers.TagType.CONTROLLER, new { area = Routing.Areas.GENERAL, id = item.TagType.TagTypeID })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShortDescription)
                        </td>
                        <td>
                            @if (item.IsVirtual)
                            {
                                <i class="fas fa-cog" title="@generalLocalizer[GeneralLocalization.VIRTUAL]"></i>
                            }

                            @if (item.IsParentDeleted)
                            {
                                <i class="fas fa-dumpster" title="@generalLocalizer[GeneralLocalization.PARENT_IS_DELETED]"></i>
                            }

                            @if (item.IsDeleted)
                            {
                                <i class="far fa-trash-alt" title="@generalLocalizer[GeneralLocalization.DELETED]"></i>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>

    <section>
        <!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
        @Html.PagedListPager(Model.Tags, pageNumber => Url.Action(Model.Path, new { pageNumber, search = Model.Search }),
        new X.PagedList.Web.Common.PagedListRenderOptions
        {
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" }
        })
    </section>
}