﻿@inject IStringLocalizer<IdentityLocalization> identityLocalizer
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1>@identityLocalizer[IdentityLocalization.MANAGE_YOUR_ACCOUNT]</h1>

<div>
    <h4>@identityLocalizer[IdentityLocalization.CHANGE_YOUR_ACCOUNT_SETTINGS]</h4>
    <hr />
    <div class="row">
        <nav class="col-md-3">
            <partial name="_ManageNav" />
        </nav>
        <section class="col-md-9">
            @RenderBody()
        </section>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
