﻿@inject IStringLocalizer<IdentityLocalization> identityLocalizer
@inject SignInManager<ManicNetUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index"><i class="fas fa-id-card" aria-hidden="true"></i> @identityLocalizer[IdentityLocalization.PROFILE]</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword"><i class="fas fa-key" aria-hidden="true"></i> @identityLocalizer[IdentityLocalization.PASSWORD]</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins"><i class="fas fa-external-link-alt" aria-hidden="true"></i> @identityLocalizer[IdentityLocalization.EXTERNAL_LOGINS]</a></li>
    }
    <li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication"><i class="fas fa-mobile-alt" aria-hidden="true"></i> @identityLocalizer[IdentityLocalization.TWO_FACTOR_AUTHENTICATION]</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData"><i class="fas fa-user" aria-hidden="true"></i> @identityLocalizer[IdentityLocalization.PERSONAL_DATA]</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.KeysNavClass(ViewContext)" id="keys" asp-page="./Keys"><i class="fas fa-lock-open" aria-hidden="true"></i> @identityLocalizer[IdentityLocalization.KEYS]</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.BlockedTagsNavClass(ViewContext)" id="blocked-tags" asp-page="./BlockedTags"><i class="fas fa-ban" aria-hidden="true"></i> @identityLocalizer[IdentityLocalization.BLOCKED_TAGS]</a></li>
</ul>
