﻿@page
@using X.PagedList.Mvc.Core;
@inject IStringLocalizer<TagLocalization> tagLocalizer
@inject IStringLocalizer<IdentityLocalization> identityLocalizer
@model ManicNet.Web.Areas.Identity.Pages.Account.Manage.BlockedTagsModel
@{
    ViewData["Title"] = identityLocalizer[IdentityLocalization.BLOCKED_TAGS].ToString();
    ViewData["ActivePage"] = ManageNavPages.BlockedTags;
}
<header>
    <h4>@ViewData["Title"]</h4>
</header>
<partial name="_StatusMessage" for="StatusMessage" />
<section class="row">@identityLocalizer[IdentityLocalization.WORKS_WITH_BLOCKED_TAGS_WILL_BE_HIDDEN_FROM_SEARCH_RESULTS]</section>
<section class="row">
    <div class="col-12">
        <form id="add-blocked-tag" asp-page="BlockedTags" asp-page-handler="AddBlockedTag" method="post">
            <section name="tag_name">
                <label asp-for="AddTag.TagName"></label>
                <input asp-for="AddTag.TagName" class="form-control singleTagTypeAhead" />
                <span asp-validation-for="AddTag.TagName" class="text-danger"></span>
            </section>
            <button class="btn btn-danger" type="submit"><i class="fas fa-ban" aria-hidden="true"></i> @identityLocalizer[IdentityLocalization.BLOCK_TAG]</button>
        </form>

        @if (!Model.BlockedTags.Any())
        {
            <section>@tagLocalizer[TagLocalization.NO_TAGS_FOUND]</section>
        }
        else
        {
            <section>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.BlockedTags.FirstOrDefault().Name)
                            </th>
                            <th>
                                @tagLocalizer[TagLocalization.TAG_TYPE]
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BlockedTags.FirstOrDefault().ShortDescription)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var tag in Model.BlockedTags)
                        {
                            <tr>
                                <td>
                                    <tag-view info="tag"></tag-view>
                                </td>
                                <td>
                                    @Html.ActionLink(tag.TagType.Name, Routing.Controllers.TagType.Routes.SHOW, Routing.Controllers.TagType.CONTROLLER, new { area = Routing.Areas.GENERAL, id = tag.TagType.TagTypeID })
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => tag.ShortDescription)
                                </td>
                                <td>
                                    <form -page="BlockedTags" asp-page-handler="RemoveBlockedTag" method="post">
                                        <input asp-for="RemoveTag.TagID" name="tagId" value="@tag.TagID" type="hidden" />
                                        <button type="submit" class="btn btn-success text-nowrap"><i class="fas fa-check" aria-hidden="true"></i> @identityLocalizer[IdentityLocalization.ALLOW_TAG]</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </section>

            <section>
                @Html.PagedListPager(Model.BlockedTags, pageNumber => Url.Page("BlockedTags", new { pageNumber = pageNumber }),
                new X.PagedList.Web.Common.PagedListRenderOptions
                {
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new string[] { "page-link" }
                })
            </section>
        }
    </div>
</section>