﻿@page
@inject IStringLocalizer<IdentityLocalization> identityLocalizer
@model ChangePasswordModel
@{
    ViewData["Title"] = identityLocalizer[IdentityLocalization.CHANGE_PASSWORD].ToString();
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<header>
    <h4>@ViewData["Title"]</h4>
</header>
<partial name="_StatusMessage" for="StatusMessage" />
<section class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <section name="old_password">
                <label asp-for="Input.OldPassword"></label>
                <input asp-for="Input.OldPassword" class="form-control" />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </section>
            <section name="new_password">
                <label asp-for="Input.NewPassword"></label>
                <input asp-for="Input.NewPassword" class="form-control" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </section>
            <section name="confirm_password">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </section>
            <button type="submit" class="btn btn-primary"><i class="fas fa-key" aria-hidden="true"></i> @identityLocalizer[IdentityLocalization.UPDATE_PASSWORD]</button>
        </form>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}