﻿@page
@inject IStringLocalizer<IdentityLocalization> identityLocalizer
@model DeletePersonalDataModel
@{
    ViewData["Title"] = identityLocalizer[IdentityLocalization.DELETE_PERSONAL_DATA].ToString();
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<header>
    <h4>@ViewData["Title"]</h4>
</header>

<section name="alert" class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>@identityLocalizer[IdentityLocalization.DELETING_THIS_DATA_WILL_PERMANENTLY_REMOVE_YOUR_ACCOUNT]</strong>
    </p>
</section>

<section>
    <form id="delete-user" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        @if (Model.RequirePassword)
        {
            <section name="password">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </section>
        }
        <button class="btn btn-danger" type="submit">@identityLocalizer[IdentityLocalization.DELETE_DATA_AND_CLOSE_MY_ACCOUNT]</button>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}