﻿@page
@inject IStringLocalizer<IdentityLocalization> identityLocalizer
@model Disable2faModel
@{
    ViewData["Title"] = identityLocalizer[IdentityLocalization.DISABLE_TWO_FACTOR_AUTHENTICATION].ToString();
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<header>
    <h1>@ViewData["Title"]</h1>
</header>

<section name="warning" class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>@identityLocalizer[IdentityLocalization.THIS_ACTION_ONLY_DISABLES_2FA]</strong>
    </p>
    <p>@identityLocalizer[IdentityLocalization.DISABLING_2FA_DOES_NOT_RESET_KEYS]</p>
    <p><a asp-page="./ResetAuthenticator">@identityLocalizer[IdentityLocalization.HERE]</a></p>
</section>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">@identityLocalizer[IdentityLocalization.DISABLE_2FA]</button>
    </form>
</div>