﻿@page
@inject IStringLocalizer<IdentityLocalization> identityLocalizer
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = identityLocalizer[IdentityLocalization.DOWNLOAD_YOUR_DATA].ToString();
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<header>
    <h4>@ViewData["Title"]</h4>
</header>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}