﻿@page
@inject IStringLocalizer<IdentityLocalization> identityLocalizer
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = identityLocalizer[IdentityLocalization.CONFIGURE_AUTHENTICATION_APP].ToString();
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<header>
    <h4>@ViewData["Title"]</h4>
</header>
<section>
    <p>@identityLocalizer[IdentityLocalization.TO_USE_AUTHENTICATOR_APP_FOLLOW_STEPS]</p>
    <ol class="list">
        <li>
            <p>
                @identityLocalizer[IdentityLocalization.DOWNLOAD_A_TWO_FACTOR_AUTHENTICATION_APP]
                <ul>
                    <li><strong>@identityLocalizer[IdentityLocalization.MICROSOFT_AUTHENTICATOR]</strong>
                        <ul>
                            <li><a href="https://go.microsoft.com/fwlink/?Linkid=825071">@identityLocalizer[IdentityLocalization.Phones.WINDOWS_PHONE]</a></li>
                            <li><a href="https://go.microsoft.com/fwlink/?Linkid=825072">@identityLocalizer[IdentityLocalization.Phones.ANDROID]</a></li>
                            <li><a href="https://go.microsoft.com/fwlink/?Linkid=825073">@identityLocalizer[IdentityLocalization.Phones.IOS]</a></li>
                        </ul>
                    </li>
                    <li>
                        <strong>@identityLocalizer[IdentityLocalization.GOOGLE_AUTHENTICATOR]</strong>
                        <ul>
                            <li><a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">@identityLocalizer[IdentityLocalization.Phones.ANDROID]</a></li>
                            <li><a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">@identityLocalizer[IdentityLocalization.Phones.IOS]</a></li>
                        </ul>
                    </li>
                </ul>
            </p>
        </li>
        <li>
            <p>@identityLocalizer[IdentityLocalization.SCAN_QR_CODE_OR_ENTER_KEY] <kbd>@Model.SharedKey</kbd></p>
            <div id="qrCode"></div>
            <div id="qrCodeData" data-url="@Html.Raw(@Model.AuthenticatorUri)"></div>
        </li>
        <li>
            <p>@identityLocalizer[IdentityLocalization.PROMPT_FOR_QR_CODE]</p>
            <div class="row">
                <div class="col-md-6">
                    <form id="send-code" method="post">
                        <section name="code">
                            <label asp-for="Input.Code" class="control-label">@identityLocalizer[IdentityLocalization.VERIFICATION_CODE]</label>
                            <input asp-for="Input.Code" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Input.Code" class="text-danger"></span>
                        </section>
                        <button type="submit" class="btn btn-primary">@identityLocalizer[IdentityLocalization.VERIFY]</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="~/lib/qrcodejs/qrcode.min.js"></script>
    <script type="text/javascript">
        new QRCode(document.getElementById("qrCode"),
            {
                text: "@Html.Raw(Model.AuthenticatorUri)",
                width: 150,
                height: 150
            });
    </script>
}