﻿@page
@inject IStringLocalizer<IdentityLocalization> identityLocalizer
@model ExternalLoginsModel
@{
    ViewData["Title"] = identityLocalizer[IdentityLocalization.MANAGE_YOUR_EXTERNAL_LOGINS].ToString();
    ViewData["ActivePage"] = ManageNavPages.ExternalLogins;
}

<partial name="_StatusMessage" for="StatusMessage" />
@if (Model.CurrentLogins?.Count > 0)
{
    <section>
        <header>
            <h4>@identityLocalizer[IdentityLocalization.REGISTERED_LOGINS]</h4>
        </header>
        <table class="table">
            <tbody>
                @foreach (var login in Model.CurrentLogins)
                {
                    <tr>
                        <td>@login.ProviderDisplayName</td>
                        <td>
                            @if (Model.ShowRemoveButton)
                            {
                                <form id="remove-login" asp-page-handler="RemoveLogin" method="post">
                                    <div>
                                        <input asp-for="@login.LoginProvider" name="LoginProvider" type="hidden" />
                                        <input asp-for="@login.ProviderKey" name="ProviderKey" type="hidden" />
                                        <button type="submit" class="btn btn-primary" title="@identityLocalizer[IdentityLocalization.REMOVE_LOGIN_FROM_ACCOUNT, @login.ProviderDisplayName]">@identityLocalizer[IdentityLocalization.REMOVE]</button>
                                    </div>
                                </form>
                            }
                            else
                            {
                                @: &nbsp;
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
}

@if (Model.OtherLogins?.Count > 0)
{
    <section>
        <header>
            <h4>@identityLocalizer[IdentityLocalization.ADD_ANOTHER_SERVICE_TO_LOG_IN]</h4>
        </header>
        <hr />
        <form id="link-login-form" asp-page-handler="LinkLogin" method="post" class="form-horizontal">
            <div id="socialLoginList">
                <p>
                    @foreach (var provider in Model.OtherLogins)
                    {
                        <button id="link-login-button" type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="@identityLocalizer[IdentityLocalization.LOGIN_IN_USING_YOUR_EXTERNAL_ACCOUNT, @provider.DisplayName]">@provider.DisplayName</button>
                    }
                </p>
            </div>
        </form>
    </section>
}