﻿@page
@inject IStringLocalizer<IdentityLocalization> identityLocalizer
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = identityLocalizer[IdentityLocalization.GENERATE_2FA_RECOVERY_CODES].ToString();
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<header>
    <h4>@ViewData["Title"]</h4>
</header>
<section class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>@identityLocalizer[IdentityLocalization.PUT_THESE_CODES_IN_A_SAFE_PLACE]</strong>
    </p>
    <p> @identityLocalizer[IdentityLocalization.IF_YOU_LOSE_DEVICE_WITHOUT_RECOVERY_CODES]</p>
    <p>@identityLocalizer[IdentityLocalization.GENERATING_NEW_RECOVERY_CODES_DOES_NOT_CHANGE_KEYS]</p>
    <p><a asp-page="./ResetAuthenticator">@identityLocalizer[IdentityLocalization.HERE]</a></p>
</section>
<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">@identityLocalizer[IdentityLocalization.GENERATE_RECOVERY_CODES]</button>
    </form>
</div>