﻿@page
@inject IStringLocalizer<IdentityLocalization> identityLocalizer
@model IndexModel
@{
    ViewData["Title"] = @identityLocalizer[IdentityLocalization.PROFILE].ToString();
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<header>
    <h4>@ViewData["Title"]</h4>
</header>
<partial name="_StatusMessage" for="StatusMessage" />
<section class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <section name="username">
                <label asp-for="Input.Username"></label>
                <input asp-for="Input.Username" class="form-control" />
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </section>
            <section name="avatar">
                @if (Model.UserAvatar != null)
                {
                    <section name="display" style="width:100px; height:100px;">
                        <img src="@Model.UserAvatar" asp-append-version="true" class="img-thumbnail" alt="@identityLocalizer[IdentityLocalization.USER_AVATAR]">
                    </section>
                    <section name="delete">
                        <label asp-for="Input.DeleteAvatar"></label>
                        <input asp-for="Input.DeleteAvatar" />
                    </section>
                    <section name="input">
                        <label asp-for="Input.Avatar"></label>
                        <input asp-for="Input.Avatar" />
                    </section>
                }
                else
                {
                    <section name="input">
                        <label asp-for="Input.Avatar"></label>
                        <input asp-for="Input.Avatar" />
                    </section>
                }
                <span asp-validation-for="Input.Avatar" class="text-danger"></span>
            </section>

            <section name="email">
                <label asp-for="Input.Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Input.Email" class="form-control" />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="Input.Email" class="form-control" />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">@identityLocalizer[IdentityLocalization.SEND_VERIFICATION_EMAIL]</button>
                }
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </section>
            <section name="phone_number">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </section>
            <button id="update-profile-button" type="submit" class="btn btn-primary"><i class="fas fa-save" aria-hidden="true"></i> @identityLocalizer[IdentityLocalization.SAVE]</button>
        </form>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}