﻿@page
@inject IStringLocalizer<IdentityLocalization> identityLocalizer
@model ManicNet.Web.Areas.Identity.Pages.Account.Manage.KeysModel
@{
    ViewData["Title"] = "Keys";
    ViewData["ActivePage"] = ManageNavPages.Keys;
}

<header>
    <h4>@ViewData["Title"]</h4>
</header>
<partial name="_StatusMessage" for="StatusMessage" />
<section class="row">
    <div class="col-12">
        <strong>@identityLocalizer[IdentityLocalization.RSS_KEY] <i class="fa fa-question-circle" aria-hidden="true" title="@identityLocalizer[IdentityLocalization.Help.RSS_KEY]"></i>:</strong> @Model.RSSKey

        <form id="regenerate-rss" asp-page="RegenerateRSSKey" method="post">
            <button onclick="ConfirmRegeneration()" class="btn btn-primary regenerateRSSButton" type="submit"><i class="fas fa-sync" aria-hidden="true"></i> @identityLocalizer[IdentityLocalization.REGENERATE_RSS_KEY]</button>
        </form>
    </div>
</section>