﻿@page
@inject IStringLocalizer<IdentityLocalization> identityLocalizer
@model PersonalDataModel
@{
    ViewData["Title"] = identityLocalizer[IdentityLocalization.PERSONAL_DATA].ToString();
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<header>
    <h4>@ViewData["Title"]</h4>
</header>

<section class="row">
    <div class="col-md-6">
        <p>@identityLocalizer[IdentityLocalization.YOUR_ACCOUNT_CONTAINS_PERSONAL_DATA_DOWNLOAD_OR_DELETE]</p>
        <p>
            <strong>@identityLocalizer[IdentityLocalization.DELETING_THIS_DATA_WILL_PERMANENTLY_REMOVE_YOUR_ACCOUNT]</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit"><i class="fas fa-file-download" aria-hidden="true"></i>@generalLocalizer[GeneralLocalization.DOWNLOAD]</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger"><i class="fas fa-trash-alt" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.DELETE]</a>
        </p>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}