﻿@page
@inject IStringLocalizer<IdentityLocalization> identityLocalizer
@model ManicNet.Web.Areas.Identity.Pages.Account.Manage.RegenerateRSSKeyModel
@{
    ViewData["Title"] = identityLocalizer[IdentityLocalization.REGENERATE_RSS_KEY].ToString();
    ViewData["ActivePage"] = ManageNavPages.Keys;
}
<header>
    <h4>@ViewData["Title"]</h4>
</header>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}