﻿@page
@inject IStringLocalizer<IdentityLocalization> identityLocalizer
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = identityLocalizer[IdentityLocalization.RESET_AUTHENTICATOR_KEY].ToString();
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<header>
    <h4>@ViewData["Title"]</h4>
</header>
<section class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>@identityLocalizer[IdentityLocalization.IF_YOU_RESET_YOUR_AUTHENTICATOR_KEY_YOUR_AUTHENTICATOR_APP_WILL_NOT_WORK_UNTIL_RECONGIFUGRED]</strong>
    </p>
    <p>@identityLocalizer[IdentityLocalization.THIS_PROCESS_DISABLES_2FA_UNTIL_YOU_VERIFY_AUTHENTICATOR_APP]</p>
</section>
<div>
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">@identityLocalizer[IdentityLocalization.RESET_AUTHENTICATOR_KEY]</button>
    </form>
</div>