﻿@page
@inject IStringLocalizer<IdentityLocalization> identityLocalizer
@model SetPasswordModel
@{
    ViewData["Title"] = identityLocalizer[IdentityLocalization.SET_PASSWORD];
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<header>
    <h4>@identityLocalizer[IdentityLocalization.SET_YOUR_PASSWORD]</h4>
</header>
<partial name="_StatusMessage" for="StatusMessage" />
<p class="text-info">@identityLocalizer[IdentityLocalization.YOU_DO_NOT_HAVE_A_LOCAL_USERNAME_PASSWORD_FOR_THIS_SITE]</p>
<section class="row">
    <div class="col-md-6">
        <form id="set-password-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <section name="new_password">
                <label asp-for="Input.NewPassword"></label>
                <input asp-for="Input.NewPassword" class="form-control" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </section>
            <section name="confirm_password">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </section>
            <button type="submit" class="btn btn-primary">@identityLocalizer[IdentityLocalization.SET_PASSWORD]</button>
        </form>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}