﻿@page
@inject IStringLocalizer<IdentityLocalization> identityLocalizer
@model ManicNet.Web.Areas.Identity.Pages.Account.Manage.ShowRecoveryCodesModel
@{
    ViewData["Title"] = identityLocalizer[IdentityLocalization.RECOVERY_CODES];
    ViewData["ActivePage"] = "TwoFactorAuthentication";
}

<partial name="_StatusMessage" for="StatusMessage" />
<header>
    <h3>@ViewData["Title"]</h3>
</header>
<section name="warning" class="alert alert-warning" role="alert">
    <p><strong>@identityLocalizer[IdentityLocalization.PUT_THESE_CODES_IN_A_SAFE_PLACE]</strong></p>
    <p>@identityLocalizer[IdentityLocalization.IF_YOU_LOSE_DEVICE_WITHOUT_RECOVERY_CODES]</p>
</section>
<section name="recovery_codes" class="row">
    <div class="col-md-12">
        @for (var row = 0; row < Model.RecoveryCodes.Length; row += 2)
        {
            <code class="recovery-code">@Model.RecoveryCodes[row]</code><text>&nbsp;</text><code class="recovery-code">@Model.RecoveryCodes[row + 1]</code><br />
        }
    </div>
</section>