﻿@page
@inject IStringLocalizer<IdentityLocalization> identityLocalizer
@model TwoFactorAuthenticationModel
@{
    
    ViewData["Title"] = identityLocalizer[IdentityLocalization.TWO_FACTOR_AUTHENTICATION_2FA].ToString();
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<header>
    <h4>@ViewData["Title"]</h4>
</header>
@if (Model.Is2faEnabled)
{
    <section name="recovery_codes">
        @if (Model.RecoveryCodesLeft == 0)
        {
            <section class="alert alert-danger">
                <strong>@identityLocalizer[IdentityLocalization.YOU_HAVE_NO_RECOVERY_CODES_LEFT]</strong>
                <p>@identityLocalizer[IdentityLocalization.YOU_MUST_GENERATE_A_NEW_SET_OF_RECOVERY_CODES]</p>
                <p><a asp-page="./GenerateRecoveryCodes">@identityLocalizer[IdentityLocalization.HERE]</a></p>
            </section>
        }
        else if (Model.RecoveryCodesLeft == 1)
        {
            <section class="alert alert-danger">
                <strong>@identityLocalizer[IdentityLocalization.YOU_HAVE_ONE_RECOVERY_CODE_LEFT]</strong>
                <p>@identityLocalizer[IdentityLocalization.YOU_SHOULD_GENERATE_A_NEW_SET_OF_RECOVERY_CODES]</p>
                <p><a asp-page="./GenerateRecoveryCodes">@identityLocalizer[IdentityLocalization.HERE]</a></p>
            </section>
        }
        else if (Model.RecoveryCodesLeft <= 3)
        {
            <section class="alert alert-warning">
                <strong>@identityLocalizer[IdentityLocalization.YOU_HAVE_RECOVERY_CODES_LEFT, Model.RecoveryCodesLeft]</strong>
                <p>@identityLocalizer[IdentityLocalization.YOU_SHOULD_GENERATE_A_NEW_SET_OF_RECOVERY_CODES]</p>
                <p><a asp-page="./GenerateRecoveryCodes">@identityLocalizer[IdentityLocalization.HERE]</a></p>
            </section>
        }

        @if (Model.IsMachineRemembered)
        {
            <form method="post" style="display: inline-block">
                <button type="submit" class="btn btn-primary">@identityLocalizer[IdentityLocalization.FORGET_THIS_BROWSER]</button>
            </form>
        }
        <a asp-page="./Disable2fa" class="btn btn-primary">@identityLocalizer[IdentityLocalization.DISABLE_2FA]</a>
        <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">@identityLocalizer[IdentityLocalization.RESET_RECOVERY_CODES]</a>
    </section>
}
<section>
    <header>
        <h5>@identityLocalizer[IdentityLocalization.AUTHENTICATOR_APP]</h5>
    </header>
    <section>
        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary" role="button"><i class="fas fa-plus" aria-hidden="true"></i> @identityLocalizer[IdentityLocalization.ADD_AUTHENTICATOR_APP]</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary" role="button"><i class="fas fa-cog" aria-hidden="true"></i> @identityLocalizer[IdentityLocalization.SETUP_AUTHENTICATOR_APP]</a>
            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary" role="button"><i class="fas fa-sync" aria-hidden="true"></i> @identityLocalizer[IdentityLocalization.RESET_AUTHENTICATOR_APP]</a>
        }
    </section>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}