﻿@model ManicNet.Models.TagBulkCreationModel
@inject IStringLocalizer<TagLocalization> tagLocalizer

@{
    ViewData["Title"] = tagLocalizer[TagLocalization.CREATE_NEW_TAGS].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="card">
    <header class="card-header">
        <h1>@ViewData["Title"]</h1>
    </header>
    <section class="card-body card-text form-row col-12">
        <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Tag.CONTROLLER" asp-action="@Routing.Controllers.Tag.Routes.BULK_CREATE">

            <div asp-validation-summary="All" class="text-danger"></div>

            <section>
                <section name="@nameof(Model.Names)">
                    <section name="identifier">
                        <label asp-for="Names" class="control-label"></label>
                        <i class="fa fa-question-circle" title="@tagLocalizer[TagLocalization.Help.BULK_NAMES]"></i>
                    </section>
                    <input asp-for="Names" class="form-control col-12" />
                    <span asp-validation-for="Names" class="text-danger col-12"></span>
                </section>

                <section name="@nameof(Model.TagTypeID)">
                    <section name="identifier">
                        <label asp-for="TagTypeID" class="control-label"></label>
                        <i class="fa fa-question-circle" title="@tagLocalizer[TagLocalization.Help.BULK_TAG_TYPES]"></i>
                    </section>
                    <select asp-for="TagTypeID" class="form-control" asp-items="Model.TagTypes">
                        <option value=""></option>
                    </select>
                    <span asp-validation-for="TagTypeID" class="text-danger"></span>
                </section>

                <section name="@nameof(Model.Icon)">
                    <section name="identifier">
                        <label asp-for="Icon" class="control-label"></label>
                        <i class="fa fa-question-circle" title="@tagLocalizer[TagLocalization.Help.ICON]"></i>
                    </section>
                    <input asp-for="Icon" class="form-control col-12" />
                    <span asp-validation-for="Icon" class="text-danger col-12"></span>
                </section>

                <section name="@nameof(Model.FontFamily)">
                    <section name="identifier">
                        <label asp-for="FontFamily" class="control-label"></label>
                        <i class="fa fa-question-circle" title="@tagLocalizer[TagLocalization.Help.FONT_FAMILY]"></i>
                    </section>
                    <select asp-for="FontFamily" class="form-control" asp-items="Model.FontFamilies">
                        <option value=""></option>
                    </select>
                    <span asp-validation-for="FontFamily" class="text-danger"></span>
                </section>

                <section name="@nameof(Model.IsVirtual)" class="form-check">
                    <span>
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsVirtual" /> @Html.DisplayNameFor(model => model.IsVirtual)
                        </label>
                    </span>
                    <span>
                        <i class="fa fa-question-circle" title="@tagLocalizer[TagLocalization.Help.BULK_ARE_VIRTUAL]"></i>
                    </span>
                </section>

                @{ Html.ViewData.TemplateInfo.HtmlFieldPrefix = "ImpliedTags"; }
                @await Html.PartialAsync("_TagTypeTagInput", Model.ImpliedTags)

                <div>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-plus" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.CREATE]</button>
                </div>
            </section>
        </form>
    </section>
</section>

@section Scripts{

}