﻿@model ManicNet.Models.TagIndexViewModel
@inject IStringLocalizer<TagLocalization> tagLocalizer

@{
    ViewData["Title"] = tagLocalizer[TagLocalization.DELETED_TAGS].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article>
    <header class="row">
        <section name="title" class="col-12 col-md-7 col-lg-8">
            <h1>@ViewData["Title"]</h1>
        </section>

        <section name="admin_buttons" class="col-12 col-md-5 col-lg-4 d-inline-flex flex-md-row-reverse">
            @if ((await AuthorizationService.Authorize(User, Policies.Administrator.EDIT_TAG)).Succeeded)
            {
                <div>
                    <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Tag.CONTROLLER" asp-action="@Routing.Controllers.Tag.Routes.CREATE" class="btn btn-success text-nowrap" role="button">
                        <i class="fas fa-plus" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.CREATE_NEW]
                    </a>
                </div>
                <div>
                    <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Tag.CONTROLLER" asp-action="@Routing.Controllers.Tag.Routes.BULK_CREATE" class="btn btn-success text-nowrap" role="button">
                        <i class="fas fa-plus-circle fa-inverse" aria-hidden="true"></i>@generalLocalizer[GeneralLocalization.BULK_CREATE]
                    </a>
                </div>
            }
            <div>
                <a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Tag.CONTROLLER" asp-action="@Routing.Controllers.Tag.Routes.INDEX" class="btn btn-light text-nowrap" role="button">
                    <i class="fas fa-list" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.INDEX]
                </a>
            </div>
        </section>
    </header>

    @await Html.PartialAsync("Tag/_Index", Model)
</article>