﻿@model ManicNet.Models.TagModifyModel
@inject IStringLocalizer<TagLocalization> tagLocalizer

@{
    ViewData["Title"] = tagLocalizer[TagLocalization.EDIT_TAG, Model.Name].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="card">
    <header class="card-header">
        <div class="row">
            <section name="title" class="col-12 col-md-7 col-lg-9">
                <h1>@ViewData["Title"]</h1>
            </section>
            <section name="admin_buttons" class="col-12 col-md-5 col-lg-3 d-inline-flex flex-md-row-reverse">

                @if ((await AuthorizationService.Authorize(User, Policies.Administrator.EDIT_TAG)).Succeeded)
                {
                    <div>
                        <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Tag.CONTROLLER" asp-action="@Routing.Controllers.Tag.Routes.SOFT_DELETE">
                            <input asp-for="TagID" name="id" type="hidden" />
                            <button type="submit" class="btn btn-danger text-nowrap deleteButton"><i class="fas fa-trash-alt" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.DELETE]</button>
                        </form>
                    </div>
                }

                @if (!Model.IsVirtual && (await AuthorizationService.Authorize(User, Policies.Owner.MIGRATE_TAG)).Succeeded)
                {
                    <div>
                        <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Tag.CONTROLLER" asp-action="@Routing.Controllers.Tag.Routes.MIGRATE" asp-route-id="@Model.TagID" class="btn btn-secondary text-nowrap" role="button">
                            <i class="fas fa-route" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.MIGRATE]
                        </a>
                    </div>
                }

                <div>
                    <a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Tag.CONTROLLER" asp-action="@Routing.Controllers.Tag.Routes.SHOW" asp-route-id="@Model.TagID" class="btn btn-info text-nowrap" role="button">
                        <i class="fas fa-eye" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.SHOW]
                    </a>
                </div>
            </section>
        </div>
    </header>
    <section class="card-body card-text form-row col-12">
        <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Tag.CONTROLLER" asp-action="@Routing.Controllers.Tag.Routes.EDIT" asp-route-id="">
            <input asp-for="TagID" type="hidden" />
            <div class="col-12">
                @await Html.PartialAsync("_TagInput", Model)

                <div>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-edit" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.EDIT]</button>
                </div>
            </div>
        </form>
    </section>
</section>

<div>
    <a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Tag.CONTROLLER" asp-action="@Routing.Controllers.Tag.Routes.INDEX">@generalLocalizer[GeneralLocalization.BACK_TO_LIST]</a>
</div>

@section Scripts{

}