﻿@model ManicNet.Models.TagMigrationModel
@inject IStringLocalizer<TagLocalization> tagLocalizer

@{
    ViewData["Title"] = tagLocalizer[TagLocalization.MIGRATE_TAG, Model.Name].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="card">
    <header class="card-header">
        <div class="row">
            <section name="title" class="col-12 col-md-7 col-lg-9">
                <h1>@ViewData["Title"]</h1>
            </section>
            <section name="admin_buttons" class="col-12 col-md-5 col-lg-3 d-inline-flex flex-md-row-reverse">
                @if ((await AuthorizationService.Authorize(User, Policies.Administrator.EDIT_TAG)).Succeeded)
                {
                    <div>
                        <div>
                            <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Tag.CONTROLLER" asp-action="@Routing.Controllers.Tag.Routes.EDIT" asp-route-id="@Model.TagID" class="btn btn-success text-nowrap" role="button">
                                <i class="fas fa-edit" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.EDIT]
                            </a>
                        </div>
                    </div>
                }

                <div>
                    <a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Tag.CONTROLLER" asp-action="@Routing.Controllers.Tag.Routes.SHOW" asp-route-id="@Model.TagID" class="btn btn-info text-nowrap" role="button">
                        <i class="fas fa-eye" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.SHOW]
                    </a>
                </div>
            </section>
        </div>
    </header>
    <section class="card-body card-text form-row col-12">
        <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Tag.CONTROLLER" asp-action="@Routing.Controllers.Tag.Routes.MIGRATE" asp-route-id="">
            <input asp-for="TagID" type="hidden" />
            <input asp-for="Name" type="hidden" />
            <div class="col-12">
                <section title="@nameof(Model.DestinationTagName)">
                    <section name="identifier">
                        <label asp-for="DestinationTagName" class="control-label"></label>
                        <i class="fa fa-question-circle" title="@tagLocalizer[TagLocalization.Help.MIGRATED_DESTINATION_TAG_NAME]"></i>
                    </section>
                    <input asp-for="DestinationTagName" class="form-control singleTagTypeAhead" />
                    <span asp-validation-for="DestinationTagName" class="text-danger"></span>
                </section>

                <section title="@nameof(Model.ConvertMigratedTagToDestinationAlias)" class="form-check">
                    <span>
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="ConvertMigratedTagToDestinationAlias" /> @Html.DisplayNameFor(model => model.ConvertMigratedTagToDestinationAlias) <i class="fa fa-question-circle" title="@tagLocalizer[TagLocalization.Help.CONVERT_MIGRATED_TAG_TO_DESTINATION_ALIAS]"></i>
                        </label>
                    </span>
                </section>
                <section title="@nameof(Model.RedirectMigratedAliasesToDestination)" class="form-check">
                    <span>
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="RedirectMigratedAliasesToDestination" /> @Html.DisplayNameFor(model => model.RedirectMigratedAliasesToDestination) <i class="fa fa-question-circle" title="@tagLocalizer[TagLocalization.Help.REDIRECT_MIGRATED_ALIASES_TO_DESTINATION]"></i>
                        </label>
                    </span>
                </section>
                <div>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-route" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.MIGRATE]</button>
                </div>
            </div>
        </form>
    </section>
</section>

<div>
    <a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Tag.CONTROLLER" asp-action="@Routing.Controllers.Tag.Routes.INDEX">@generalLocalizer[GeneralLocalization.BACK_TO_LIST]</a>
</div>

@section Scripts{

}