﻿@inject IStringLocalizer<WorkLocalization> workLocalizer

@{
    ViewData["Title"] = String.Format("Random"); ;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    @workLocalizer[WorkLocalization.NO_WORKS_FOUND]
</section>