﻿@model ManicNet.Models.WorkViewModel
@inject IStringLocalizer<WorkLocalization> workLocalizer

@{
    ViewData["Title"] = @workLocalizer[WorkLocalization.WORK_TITLE, Model.Title].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article>
    <header class="row">
        <section name="title" class="col-12 col-md-7 col-lg-9">
            <h1>
                @Model.Title
                @if (Model.IsDeleted)
                {
                    <i class="far fa-trash-alt" title="@generalLocalizer[GeneralLocalization.DELETED]"></i>
                }
            </h1>
        </section>

        <section name="admin_buttons" class="col-12 col-md-5 col-lg-3 d-inline-flex flex-md-row-reverse">
            @if (Model.IsDeleted && (await AuthorizationService.Authorize(User, Policies.Owner.DELETE_WORK)).Succeeded)
            {
                <div>
                    <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Work.CONTROLLER" asp-action="@Routing.Controllers.Work.Routes.DELETE">
                        <input asp-for="WorkID" name="id" type="hidden" />
                        <div>
                            <button type="submit" class="btn btn-danger text-nowrap deleteButton"><i class="fas fa-trash-alt" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.DELETE]</button>
                        </div>
                    </form>
                </div>
            }

            @if ((await AuthorizationService.Authorize(User, Policies.Administrator.EDIT_WORK)).Succeeded)
            {
                @if (Model.IsDeleted)
                {
                    <div>
                        <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Work.CONTROLLER" asp-action="@Routing.Controllers.Work.Routes.RESTORE">
                            <input asp-for="WorkID" name="id" type="hidden" />
                            <button type="submit" class="btn btn-dark text-nowrap"><i class="fas fa-trash-restore-alt" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.RESTORE]</button>
                        </form>
                    </div>
                }
                else if (!Model.IsDeleted)
                {
                    <div>
                        <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Work.CONTROLLER" asp-action="@Routing.Controllers.Work.Routes.EDIT" asp-route-id="@Model.WorkID" class="btn btn-success text-nowrap" role="button">
                            <i class="fas fa-edit" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.EDIT]
                        </a>
                    </div>
                }
            }

        </section>
    </header>

    @if (!(String.IsNullOrWhiteSpace(Model.Cover.Content) && !Model.Tags.Any() && String.IsNullOrWhiteSpace(Model.ShortDescription) && String.IsNullOrWhiteSpace(Model.URL)))
    {
        <section name="basics" class="card mb-3">
            <header>
                <h3 class="card-header">@generalLocalizer[GeneralLocalization.BASICS]</h3>
            </header>
            <section class="card-body card-text row">
                @if (!String.IsNullOrWhiteSpace(Model.Cover.Content))
                {
                    <section name="cover" class="col-12 col-md-3 summary_cover_image_holder">
                        @if (Model.FirstChapterID != null)
                        {
                            <a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Chapter.CONTROLLER" asp-action="@Routing.Controllers.Chapter.Routes.VIEWER" asp-route-id="@Model.FirstChapterID">
                                <img src="@Model.Cover.Thumbnail" asp-append-version="true" class="img-fluid rounded" alt="@generalLocalizer[GeneralLocalization.COVER_TITLE, Model.Title]">
                            </a>
                        }
                        else
                        {
                            <img src="@Model.Cover.Thumbnail" asp-append-version="true" class="img-fluid rounded" alt="@generalLocalizer[GeneralLocalization.COVER_TITLE, Model.Title]">
                        }
                    </section>
                }
                <section name="details" class="@(!String.IsNullOrWhiteSpace(Model.Cover.Thumbnail) ? "col-12 col-md-9" : "col-12")">
                    <section name="tags">
                        <tag-type-tag-list-view info="Model.Tags"></tag-type-tag-list-view>
                    </section>
                    @if (!String.IsNullOrWhiteSpace(Model.ShortDescription))
                    {
                        <section name="short_description">
                            <div><strong>@Html.DisplayNameFor(model => model.ShortDescription):</strong></div>
                            <div>@Model.ShortDescription</div>
                        </section>
                    }

                    @if (!String.IsNullOrWhiteSpace(Model.URL))
                    {
                        <section name="url"><strong>@Html.DisplayNameFor(model => model.URL):</strong> <a href="@Model.URL">@generalLocalizer[GeneralLocalization.SOURCE]</a></section>
                    }

                    @if (Model.FirstChapterID != null)
                    {
                        <section name="interaction_buttons" class="d-inline-flex mt-3">
                            <div>
                                <a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Chapter.CONTROLLER" asp-action="@Routing.Controllers.Chapter.Routes.VIEWER" asp-route-id="@Model.FirstChapterID" class="btn btn-success" role="button">
                                    <i class="fas fa-book-reader" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.START_READING]
                                </a>
                            </div>
                            @if ((await AuthorizationService.Authorize(User, Policies.User.DOWNLOAD_WORK)).Succeeded)
                            {
                                <div>
                                    <form asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Work.CONTROLLER" asp-action="@Routing.Controllers.Work.Routes.DOWNLOAD" asp-route-id="@Model.WorkID">
                                        <button type="submit" class="btn btn-info"><i class="fas fa-download" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.DOWNLOAD]</button>
                                    </form>
                                </div>
                            }
                        </section>
                    }
                </section>
            </section>
        </section>
    }
    else if (Model.FirstChapterID != null)
    {
        <section name="interaction_buttons" class="d-inline-flex mb-3">
            <div>
                <a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Chapter.CONTROLLER" asp-action="@Routing.Controllers.Chapter.Routes.VIEWER" asp-route-id="@Model.FirstChapterID" class="btn btn-success" role="button">
                    <i class="fas fa-book-reader" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.START_READING]
                </a>
            </div>

            @if ((await AuthorizationService.Authorize(User, Policies.User.DOWNLOAD_WORK)).Succeeded)
            {
                <div>
                    <form asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Work.CONTROLLER" asp-action="@Routing.Controllers.Work.Routes.DOWNLOAD" asp-route-id="@Model.WorkID">
                        <button type="submit" class="btn btn-info"><i class="fas fa-download" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.DOWNLOAD]</button>
                    </form>
                </div>
            }
        </section>
    }

    @if (!String.IsNullOrWhiteSpace(Model.LongDescription))
    {
        <section name="long_description" class="card mb-3">
            <header>
                <h3 class="card-header">@Html.DisplayNameFor(model => model.LongDescription)</h3>
            </header>
            <div class="card-body card-text">
                @Html.Raw(Model.LongDescription)
            </div>
        </section>
    }

    @if (Model.Collections.Any())
    {
        <section name="collections" class="card mb-3">
            <header class="card-header">
                <h3>@generalLocalizer[GeneralLocalization.COLLECTIONS]</h3>
            </header>

            <div class="card-body card-text">
                @foreach (var collection in Model.Collections)
                {
                    @await Html.PartialAsync("Collection/_WorkCollectionSummaryView", collection)
                }
            </div>
        </section>
    }

    @if (!Model.Volumes.Any())
    {
        <section name="volume_admin_buttons" class="col-12 d-inline-flex flex-row-reverse">
            @if (!Model.IsDeleted && (await AuthorizationService.Authorize(User, Policies.Administrator.EDIT_WORK)).Succeeded)
            {
                <div>
                    <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Volume.CONTROLLER" asp-action="@Routing.Controllers.Volume.Routes.CREATE" asp-route-id="@Model.WorkID" class="btn btn-success text-nowrap" role="button">
                        <i class="fas fa-plus" aria-hidden="true"></i> Add Volume
                    </a>
                </div>
            }

            @if (Model.HasDeletedVolumes && (await AuthorizationService.Authorize(User, Policies.Administrator.VIEW_DELETED_WORK)).Succeeded)
            {
                <div>
                    <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Volume.CONTROLLER" asp-action="@Routing.Controllers.Volume.Routes.DELETED" asp-route-workID="@Model.WorkID" class="btn btn-dark text-nowrap" role="button">
                        <i class="fas fa-trash-alt" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.DELETED]
                    </a>
                </div>
            }
        </section>
    }

    @if (Model.Volumes.Any())
    {
        <section name="volumes" class="card mb-3">
            <header class="card-header">
                <div class="row">
                    <section name="volume_title" class="col-12 col-md-7 col-lg-9">
                        <h3>@workLocalizer[WorkLocalization.VOLUMES]</h3>
                    </section>
                    <section name="volume_admin_buttons" class="col-12 col-md-5 col-lg-3 d-inline-flex flex-md-row-reverse">
                        @if (!Model.IsDeleted && (await AuthorizationService.Authorize(User, Policies.Administrator.EDIT_WORK)).Succeeded)
                        {
                            <div>
                                <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Volume.CONTROLLER" asp-action="@Routing.Controllers.Volume.Routes.CREATE" asp-route-id="@Model.WorkID" class="btn btn-success text-nowrap" role="button">
                                    <i class="fas fa-plus" aria-hidden="true"></i> @workLocalizer[WorkLocalization.ADD_VOLUME]
                                </a>
                            </div>
                        }

                        @if (Model.HasDeletedVolumes && (await AuthorizationService.Authorize(User, Policies.Administrator.VIEW_DELETED_WORK)).Succeeded)
                        {
                            <div>
                                <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Volume.CONTROLLER" asp-action="@Routing.Controllers.Volume.Routes.DELETED" asp-route-workID="@Model.WorkID" class="btn btn-dark text-nowrap" role="button">
                                    <i class="fas fa-trash-alt" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.DELETED]
                                </a>
                            </div>
                        }
                    </section>
                </div>
            </header>

            <section class="card-body card-text">
                @foreach (var volume in Model.Volumes)
                {
                    @await Html.PartialAsync("Volume/_VolumeSummaryView", volume)
                }
            </section>
        </section>
    }
    <!--TODO: List related works-->
</article>