﻿@using X.PagedList.Mvc.Core;
@using ManicNet.Models;
@model ManicNet.Models.WorkIndexViewModel
@inject IStringLocalizer<WorkLocalization> workLocalizer

@if (!Model.Works.Any())
{
    <section>
        @workLocalizer[WorkLocalization.NO_WORKS_FOUND]
    </section>
}
else
{
    <section>
        @foreach (WorkSummaryViewModel work in Model.Works)
        {
            @await Html.PartialAsync("Work/_WorkSummaryView", work)
        }
    </section>

    <section>
        <!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
        @Html.PagedListPager(Model.Works, pageNumber => Url.Action(Model.Path, new { pageNumber, Model.Search }),
        new X.PagedList.Web.Common.PagedListRenderOptions
        {
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" }
        })
    </section>
}