﻿@model ManicNet.Models.WorkSummaryViewModel

<article name="work_summary" class="card mb-3">
    <header name="title">
        <h4 class="card-header"><a href="@Url.Action(Routing.Controllers.Work.Routes.SHOW, Routing.Controllers.Work.CONTROLLER, new { area = Routing.Areas.GENERAL, id = Model.WorkID })">@Model.Title</a></h4>
    </header>
    <section class="card-body card-text row">
        @if (!String.IsNullOrWhiteSpace(Model.Cover.Thumbnail))
        {                
            <section name="cover" class="col-12 col-md-2 summary_cover_image_holder">
                <a href="@Url.Action(Routing.Controllers.Work.Routes.SHOW, Routing.Controllers.Work.CONTROLLER, new { area = Routing.Areas.GENERAL, id = Model.WorkID })"><img src="@Model.Cover.Thumbnail" asp-append-version="true" class="img-fluid rounded summary_cover_image" alt="@generalLocalizer[GeneralLocalization.COVER_TITLE, @Model.Title]"></a>
            </section>
        }
        <section name="details" class="@(!String.IsNullOrWhiteSpace(Model.Cover.Thumbnail) ? "col-12 col-md-10" : "col-12")">
            @if (!String.IsNullOrWhiteSpace(Model.ShortDescription))
            {
                <section name="description">
                    <div><strong>@Html.DisplayNameFor(model => model.ShortDescription):</strong></div>
                    <div>@Model.ShortDescription</div>
                </section>
            }
            <section name="tags">
                <tag-type-tag-list-view info="Model.Tags"></tag-type-tag-list-view>
            </section>
        </section>
    </section>
</article>