﻿@model ManicNet.Models.SocialLinkModifyModel
@inject IStringLocalizer<SocialLocalization> socialLocalizer

@{
    ViewData["Title"] = socialLocalizer[SocialLocalization.CREATE_SOCIAL_LINK].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="card">
    <header class="card-header">
        <h1>@ViewData["Title"]</h1>
    </header>
    <div class="card-body card-text form-row col-12">
        <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.SocialLinks.CONTROLLER" asp-action="@Routing.Controllers.SocialLinks.Routes.CREATE">
            <div class="col-12">
                @await Html.PartialAsync("_SocialLinkInput", Model)

                <div>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-plus" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.CREATE]</button>
                </div>
            </div>
        </form>
    </div>
</section>

<a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.SocialLinks.CONTROLLER" asp-action="@Routing.Controllers.SocialLinks.Routes.INDEX">@generalLocalizer[GeneralLocalization.BACK_TO_LIST]</a>

@section Scripts{

}