﻿@model ManicNet.Models.SocialLinkModifyModel
@inject IStringLocalizer<SocialLocalization> socialLocalizer

@{
    ViewData["Title"] = socialLocalizer[SocialLocalization.EDIT_SOCIAL_LINK, Model.Text].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="card">
    <header class="card-header">
        <div class="row">
            <section name="title" class="col-12 col-md-7 col-lg-9">
                <h1>@ViewData["Title"]</h1>
            </section>
            <section name="admin_buttons" class="col-12 col-md-5 col-lg-3 d-inline-flex flex-md-row-reverse">

                @if ((await AuthorizationService.Authorize(User, Policies.Administrator.EDIT_SOCIAL_LINK)).Succeeded)
                {
                    <div>
                        <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.SocialLinks.CONTROLLER" asp-action="@Routing.Controllers.SocialLinks.Routes.SOFT_DELETE">
                            <input asp-for="SocialLinkID" name="id" type="hidden" />
                            <button type="submit" class="btn btn-danger text-nowrap deleteButton"><i class="fas fa-trash-alt" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.DELETE]</button>
                        </form>
                    </div>
                }

                <div>
                    <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.SocialLinks.CONTROLLER" asp-action="@Routing.Controllers.SocialLinks.Routes.SHOW" asp-route-id="@Model.SocialLinkID" class="btn btn-info text-nowrap" role="button">
                        <i class="fas fa-eye" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.SHOW]
                    </a>
                </div>
            </section>
        </div>
    </header>
    <section class="card-body card-text form-row col-12">
        <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.SocialLinks.CONTROLLER" asp-action="@Routing.Controllers.SocialLinks.Routes.EDIT" asp-route-id="">
            <input asp-for="SocialLinkID" type="hidden" />
            <div class="col-12">
                 @await Html.PartialAsync("_SocialLinkInput", Model)

                <div>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-edit" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.EDIT]</button>
                </div>
            </div>
        </form>
    </section>
</section>

<div>
    <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.SocialLinks.CONTROLLER" asp-action="@Routing.Controllers.SocialLinks.Routes.INDEX">@generalLocalizer[GeneralLocalization.BACK_TO_LIST]</a>
</div>

@section Scripts{

}