﻿@model ManicNet.Models.SocialLinkIndexViewModel
@inject IStringLocalizer<SocialLocalization> socialLocalizer

@{
    ViewData["Title"] = socialLocalizer[SocialLocalization.SOCIAL_LINKS].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article>
    <header class="row">
        <section name="title" class="col-12 col-md-7 col-lg-8">
            <h1>@ViewData["Title"]</h1>
        </section>
        <section name="admin_buttons" class="col-12 col-md-5 col-lg-4 d-inline-flex flex-md-row-reverse">

            @if ((await AuthorizationService.Authorize(User, Policies.Administrator.EDIT_SOCIAL_LINK)).Succeeded)
            {
                 <div>
                    <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.SocialLinks.CONTROLLER" asp-action="@Routing.Controllers.SocialLinks.Routes.CREATE" class="btn btn-success text-nowrap" role="button">
                        <i class="fas fa-plus" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.CREATE_NEW]
                    </a>
                </div>   
            }

            @if (Model.HasDeleted && (await AuthorizationService.Authorize(User, Policies.Administrator.VIEW_DELETED_SOCIAL_LINK)).Succeeded)
            {
                <div>
                    <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.SocialLinks.CONTROLLER" asp-action="@Routing.Controllers.SocialLinks.Routes.DELETED" class="btn btn-dark text-nowrap" role="button">
                        <i class="fas fa-trash-alt" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.DELETED]
                    </a>
                </div>
            }
        </section>
        <hr />
    </header>

    @await Html.PartialAsync("Social/_Index", Model)
</article>