﻿@model ManicNet.Models.SocialLinkViewModel
@inject IStringLocalizer<SocialLocalization> socialLocalizer
@using ManicNet.Constants;

@{
    ViewData["Title"] = socialLocalizer[SocialLocalization.SOCIAL_LINK_TITLE, Model.Text].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article>
    <header class="row">
        <section name="title" class="col-12 col-md-7 col-lg-8">
            <h1>
                @Model.Text
                @if (Model.IsDeleted)
                {
                    <i class="far fa-trash-alt" title="@generalLocalizer[GeneralLocalization.DELETED]"></i>
                }
            </h1>
        </section>

        <section name="admin_buttons" class="col-12 col-md-5 col-lg-4 d-inline-flex flex-md-row-reverse">
            
            @if (Model.IsDeleted && (await AuthorizationService.Authorize(User, Policies.Owner.DELETE_SOCIAL_LINK)).Succeeded)
            {
                <div>
                    <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.SocialLinks.CONTROLLER" asp-action="@Routing.Controllers.SocialLinks.Routes.DELETE">
                        <input asp-for="SocialLinkID" name="id" type="hidden" />
                        <div>
                            <button type="submit" class="btn btn-danger text-nowrap deleteButton"><i class="fas fa-trash-alt" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.DELETE]</button>
                        </div>
                    </form>
                </div>
            }

            @if((await AuthorizationService.Authorize(User, Policies.Administrator.EDIT_SOCIAL_LINK)).Succeeded)
            {
                if (Model.IsDeleted)
                {
                    <div>
                        <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.SocialLinks.CONTROLLER" asp-action="@Routing.Controllers.SocialLinks.Routes.RESTORE">
                            <input asp-for="SocialLinkID" name="id" type="hidden" />
                            <button type="submit" class="btn btn-dark text-nowrap"><i class="fas fa-trash-restore-alt" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.RESTORE]</button>
                        </form>
                    </div>
                }
                else if (!Model.IsDeleted)
                {
                    <div>
                        <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.SocialLinks.CONTROLLER" asp-action="@Routing.Controllers.SocialLinks.Routes.EDIT" asp-route-id="@Model.SocialLinkID" class="btn btn-success text-nowrap" role="button">
                            <i class="fas fa-edit" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.EDIT]
                        </a>
                    </div>
                }   
            }
        </section>
    </header>

    <section class="card-body card-text">
        <section name="basics" class="card mb-3">
            <header class="card-header">
                <h3>@generalLocalizer[GeneralLocalization.BASICS]</h3>
            </header>
            <section class="card-body card-text">
                <div>
                    <section class="row" name="name">
                        <div class="col-sm-3 col-lg-2 basics_field">
                            @Html.DisplayNameFor(model => model.Name):
                        </div>
                        <div class="col-sm-9 col-lg-10">
                            @Html.DisplayFor(model => model.Name)
                        </div>
                    </section>
                    <section class="row" name="priority">
                        <div class="col-sm-3 col-lg-2 basics_field">
                            @Html.DisplayNameFor(model => model.Priority):
                        </div>
                        <div class="col-sm-9 col-lg-10">
                            @Html.DisplayFor(model => model.Priority)
                        </div>
                    </section>
                    <section class="row" name="url">
                        <div class="col-sm-3 col-lg-2 basics_field">
                            @Html.DisplayNameFor(model => model.URL):
                        </div>
                        <div class="col-sm-9 col-lg-10">
                            @if (Model.TypeID == Social.LinkTypes.LINK)
                            {
                                <a href="@Model.URL">@Html.DisplayFor(model => model.URL)</a>   
                            }
                            else if (Model.TypeID == Social.LinkTypes.EMAIL)
                            {
                                <a href="mailto:@Model.URL">@Html.DisplayFor(model => model.URL)</a>
                            }
                        </div>
                    </section>
                    <section class="row" name="link_type">
                        <div class="col-sm-3 col-lg-2 basics_field">
                            @Html.DisplayNameFor(model => model.TypeName):
                        </div>
                        <div class="col-sm-9 col-lg-10">
                            @Html.DisplayFor(model => model.TypeName)
                        </div>
                    </section>
                </div>
            </section>
        </section>
    </section>

    @if (Model.IsDeleted && (await AuthorizationService.Authorize(User, Policies.Administrator.VIEW_DELETED_SOCIAL_LINK)).Succeeded)
    {
        <a class="card-link" asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.SocialLinks.CONTROLLER" asp-action="@Routing.Controllers.SocialLinks.Routes.DELETED">@generalLocalizer[GeneralLocalization.BACK_TO_LIST]</a>
    }
    else
    {
        <a class="card-link" asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.SocialLinks.CONTROLLER" asp-action="@Routing.Controllers.SocialLinks.Routes.INDEX">@generalLocalizer[GeneralLocalization.BACK_TO_LIST]</a>
    }
</article>