﻿@using X.PagedList.Mvc.Core;
@model ManicNet.Models.SocialLinkIndexViewModel
@inject IStringLocalizer<SocialLocalization> socialLocalizer


@if (!Model.Links.Any())
{
    <section>
        @socialLocalizer[SocialLocalization.NO_SOCIAL_LINKS_FOUND]
    </section>
}
else
{
    <section>
        <table class="table">
            <thead>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Links.FirstOrDefault().Text)</td>
                    <td>@Html.DisplayNameFor(model => model.Links.FirstOrDefault().TypeName)</td>
                    <td>@Html.DisplayNameFor(model => model.Links.FirstOrDefault().Priority)</td>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Links)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.Text, Routing.Controllers.SocialLinks.Routes.SHOW, Routing.Controllers.SocialLinks.CONTROLLER, new { area = Routing.Areas.ADMINISTRATION, id = item.SocialLinkID })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TypeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Priority)
                        </td>
                        <td>
                            @if (item.IsDeleted)
                            {
                                <i class="far fa-trash-alt" title="@generalLocalizer[GeneralLocalization.DELETED]"></i>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
}