﻿@model ManicNet.Models.RoleEditModel
@inject IStringLocalizer<RoleLocalization> roleLocalizer

@{
    ViewData["Title"] = roleLocalizer[RoleLocalization.CREATE_ROLE].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <header name="title">
        <h1>@ViewData["Title"]</h1>
    </header>

    <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Role.CONTROLLER" asp-action="@Routing.Controllers.Role.Routes.CREATE" method="post">
        <section name="@nameof(Model.Name)">
            <section name="identifier">
                <label asp-for="Name" class="control-label"></label>
                <i class="fa fa-question-circle" aria-hidden="true" title="@roleLocalizer[RoleLocalization.Help.NAME]"></i>
            </section>
            <input asp-for="Name" class="form-control col-12" />
            <span asp-validation-for="Name" class="text-danger col-12"></span>
        </section>
        <section name="@nameof(Model.Description)">
            <section name="identifier">
                <label asp-for="Description" class="control-label"></label>
                <i class="fa fa-question-circle" aria-hidden="true" title="@roleLocalizer[RoleLocalization.Help.DESCRIPTION]"></i>
            </section>
            <textarea asp-for="Description" class="form-control richtext"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </section>

        <section name="permissions" style="width:100%">
            <div class="card mb-3">
                <header class="card-header">
                    <h2>@roleLocalizer[RoleLocalization.PERMISSIONS]</h2>
                </header>
                <section class="card-body">
                    @for (int p = 0; p < Model.Permissions.Count(); p++)
                    {
                        Html.ViewData.TemplateInfo.HtmlFieldPrefix = "Permissions[" + p + "]";
                        @await Html.PartialAsync("_PermissionSection", Model.Permissions[p]);
                    }
                </section>
            </div>
            <button type="submit" class="btn btn-primary"><i class="fas fa-plus" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.CREATE]</button>
        </section>
    </form>

    <a class="card-link" asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Role.CONTROLLER" asp-action="@Routing.Controllers.Role.Routes.INDEX">@generalLocalizer[GeneralLocalization.BACK_TO_LIST]</a>

</section>