﻿@model ManicNet.Models.RoleEditModel
@inject IStringLocalizer<RoleLocalization> roleLocalizer

@{
    ViewData["Title"] = roleLocalizer[RoleLocalization.EDIT_ROLE, Model.Name].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <header class="row">
        <section name="title" class="col-12 col-md-7 col-lg-9">
            <h1>
                @ViewData["Title"]
                @if (Model.IsDefaultUser)
                {
                    <i class="fas fa-id-card" title="@roleLocalizer[RoleLocalization.DEFAULT_USER_ROLE]"></i>
                }
            </h1>
        </section>
        <section name="admin_buttons" class="col-12 col-md-5 col-lg-3 d-inline-flex flex-md-row-reverse">
            @if (!Model.IsDefaultUser)
            {
                if ((await AuthorizationService.Authorize(User, Policies.Owner.DELETE_ROLE)).Succeeded)
                {
                    <div>
                        <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Role.CONTROLLER" asp-action="@Routing.Controllers.Role.Routes.DELETE">
                            <input asp-for="@Model.ID" name="id" type="hidden" />
                            <button type="submit" class="btn btn-danger text-nowrap deleteButton"><i class="fas fa-trash-alt" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.DELETE]</button>
                        </form>
                    </div>
                }

                if ((await AuthorizationService.Authorize(User, Policies.Owner.REASSIGN_DEFAULT_USER_ROLE)).Succeeded)
                {
                    <div>
                        <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Role.CONTROLLER" asp-action="@Routing.Controllers.Role.Routes.REASSIGN">
                            <input asp-for="ID" name="id" type="hidden" />
                            <div>
                                <button type="submit" class="btn btn-dark text-nowrap"><i class="fas fa-id-card" aria-hidden="true"></i> @roleLocalizer[RoleLocalization.MAKE_DEFAULT]</button>
                            </div>
                        </form>
                    </div>
                }

                <div>
                    <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Role.CONTROLLER" asp-action="@Routing.Controllers.Role.Routes.SHOW" asp-route-id="@Model.ID" class="btn btn-info text-nowrap" role="button">
                        <i class="fas fa-eye" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.SHOW]
                    </a>
                </div>
            }

        </section>
    </header>

    @if (Model.IsDefaultUser)
    {
        <h5>@roleLocalizer[RoleLocalization.ROLE_IS_DEFAULT_USER_ROLE_AND_CANNOT_BE_DELETED, Model.Name]</h5>
    }

    <section>
        <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Role.CONTROLLER" asp-action="@Routing.Controllers.Role.Routes.EDIT" asp-route-id="" method="post">
            <input asp-for="ID" name="id" type="hidden" />
            <input asp-for="Name" name="name" type="hidden" />

            <section name="@nameof(Model.Description)">
                <section name="identifier">
                    <label asp-for="Description" class="control-label"></label>
                    <i class="fa fa-question-circle" aria-hidden="true" title="@roleLocalizer[RoleLocalization.Help.DESCRIPTION]"></i>
                </section>
                <textarea asp-for="Description" class="form-control richtext"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </section>

            <section name="permissions" style="width:100%">
                <div class="card mb-3">
                    <header class="card-header">
                        <h2>@roleLocalizer[RoleLocalization.PERMISSIONS]</h2>
                    </header>
                    <section class="card-body">
                        @for (int p = 0; p < Model.Permissions.Count(); p++)
                        {
                            Html.ViewData.TemplateInfo.HtmlFieldPrefix = "Permissions[" + p + "]";
                            @await Html.PartialAsync("_PermissionSection", Model.Permissions[p]);
                        }
                        <button type="submit" class="btn btn-primary"><i class="fas fa-edit" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.EDIT]</button>
                    </section>
                </div>
            </section>
        </form>
    </section>

    <a class="card-link" asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Role.CONTROLLER" asp-action="@Routing.Controllers.Role.Routes.INDEX">@generalLocalizer[GeneralLocalization.BACK_TO_LIST]</a>

</section>