﻿@using X.PagedList.Mvc.Core;
@model ManicNet.Models.RoleIndexViewModel
@inject IStringLocalizer<RoleLocalization> roleLocalizer

@{
    ViewData["Title"] = roleLocalizer[RoleLocalization.ROLE_INDEX].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article>
    <header class="row">
        <section name="title" class="col-12 col-md-7 col-lg-9">
            <h1>@ViewData["Title"]</h1>
        </section>

        <section name="admin_buttons" class="col-12 col-md-5 col-lg-3 d-inline-flex flex-md-row-reverse">
            @if ((await AuthorizationService.Authorize(User, Policies.Owner.EDIT_ROLE)).Succeeded)
            {
                <div>
                    <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Role.CONTROLLER" asp-action="@Routing.Controllers.Role.Routes.CREATE" class="btn btn-success text-nowrap" role="button">
                        <i class="fas fa-plus" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.CREATE_NEW]
                    </a>
                </div>
            }
        </section>
    </header>

    @if (!Model.Roles.Any())
    {
        <section>@roleLocalizer[RoleLocalization.NO_ROLES_FOUND]</section>
    }
    else
    {
        <section>
            <table class="table">
                <tbody>
                    @foreach (var item in Model.Roles)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                                @if (item.IsDefaultUser)
                                {
                                    <i class="fas fa-id-card" title="@roleLocalizer[RoleLocalization.DEFAULT_USER_ROLE]"></i>
                                }
                            </td>
                            <td>
                                <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Role.CONTROLLER" asp-action="@Routing.Controllers.Role.Routes.SHOW" asp-route-id="@item.ID" class="btn btn-success" role="button">@roleLocalizer[RoleLocalization.VIEW_ROLE]</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>

        <section>
            <!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
            @Html.PagedListPager(Model.Roles, pageNumber => Url.Action(Routing.Controllers.Role.Routes.INDEX, new { pageNumber }),
            new X.PagedList.Web.Common.PagedListRenderOptions
            {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" }
            })
        </section>
    }
</article>