﻿@model ManicNet.Models.RoleViewModel
@inject IStringLocalizer<RoleLocalization> roleLocalizer

@{
    ViewData["Title"] = roleLocalizer[RoleLocalization.SHOW_ROLE, Model.Name].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article>
    <header class="row">
        <section name="title" class="col-12 col-md-7 col-lg-9">
            <h1>
                @ViewData["Title"]
                @if (Model.IsDefaultUser)
                {
                    <i class="fas fa-id-card" title="@roleLocalizer[RoleLocalization.DEFAULT_USER_ROLE]"></i>
                }
            </h1>
        </section>
        <section name="admin_buttons" class="col-12 col-md-5 col-lg-3 d-inline-flex flex-md-row-reverse">
            @if ((await AuthorizationService.Authorize(User, Policies.Owner.EDIT_ROLE)).Succeeded)
            {
                <div><a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Role.CONTROLLER" asp-action="@Routing.Controllers.Role.Routes.EDIT" asp-route-id="@Model.ID" class="btn btn-success text-nowrap" role="button"><i class="fas fa-edit" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.EDIT]</a></div>
            }
            else if (!Model.IsDefaultUser)
            {
                if ((await AuthorizationService.Authorize(User, Policies.Owner.DELETE_ROLE)).Succeeded)
                {
                    <div>
                        <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Role.CONTROLLER" asp-action="@Routing.Controllers.Role.Routes.DELETE">
                            <input asp-for="ID" name="id" type="hidden" />
                            <div>
                                <button type="submit" class="btn btn-danger text-nowrap deleteButton"><i class="fas fa-trash-alt" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.DELETE]</button>
                            </div>
                        </form>
                    </div>
                }

                if ((await AuthorizationService.Authorize(User, Policies.Owner.REASSIGN_DEFAULT_USER_ROLE)).Succeeded)
                {
                    <div>
                        <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Role.CONTROLLER" asp-action="@Routing.Controllers.Role.Routes.REASSIGN">
                            <input asp-for="ID" name="id" type="hidden" />
                            <div>
                                <button type="submit" class="btn btn-danger text-nowrap deleteButton"><i class="fas fa-trash-alt" aria-hidden="true"></i> @roleLocalizer[RoleLocalization.MAKE_DEFAULT]</button>
                            </div>
                        </form>
                    </div>
                }
            }
        </section>
    </header>
    <section>
        @if (!string.IsNullOrWhiteSpace(Model.Description))
        {
            <section name="description" class="card">
                <header class="card-header">
                    <h3>Role Description</h3>
                </header>
                <section class="card-body card-text">
                    @Html.Raw(Model.Description)
                </section>
            </section>
        }

        <section name="permissions" class="card mb-3">
            <header class="card-header">
                <h2>@roleLocalizer[RoleLocalization.PERMISSIONS]</h2>
            </header>
            <section class="card-body">
                <div style="width:100%">
                    @if (Model.Permissions.Any(p => p.OwnerPermissions.Any(op => op.HasPermission)
                 || p.AdministratorPermissions.Any(ap => ap.HasPermission)
                 || p.NormalPermissions.Any(np => np.HasPermission)))
                    {
                        @for (int p = 0; p < Model.Permissions.Count(); p++)
                        {
                            Html.ViewData.TemplateInfo.HtmlFieldPrefix = "Permissions[" + p + "]";
                            @await Html.PartialAsync("_DisplayPermissionSection", Model.Permissions[p]);
                        }
                    }
                    else
                    {
                        <div>@roleLocalizer[RoleLocalization.NO_PERMISSIONS_ARE_ASSOCIATED_WITH_THIS_ROLE]</div>
                    }
                </div>
            </section>
        </section>

        <a class="card-link" asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Role.CONTROLLER" asp-action="@Routing.Controllers.Role.Routes.INDEX">@generalLocalizer[GeneralLocalization.BACK_TO_LIST]</a>
    </section>
</article>