﻿@using Microsoft.Extensions.Options;
@using ManicNet.Domain.Models
@using Microsoft.AspNetCore.Identity
@inject IOptions<ManicNetSettings> manicNetSettings
@inject SignInManager<ManicNetUser> SignInManager

<ul class="navbar-nav">
    @if ((!manicNetSettings.Value.RequireAccount) || (manicNetSettings.Value.RequireAccount && SignInManager.IsSignedIn(User)))
    {
        <li class="nav-item">
            <form class="d-inline-flex" asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Work.CONTROLLER" asp-action="@Routing.Controllers.Work.Routes.INDEX" method="get">
                <input class="form-control searchTagTypeAhead" id="search" name="search" value="@(Context.Request.Query["search"])" placeholder="@generalLocalizer[GeneralLocalization.SEARCH_BOX]">
                <button type="submit" class="btn btn-light"><i class="fas fa-search" aria-hidden="true"></i></button>
            </form>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link text-dark" asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Work.CONTROLLER" asp-action="@Routing.Controllers.Work.Routes.RANDOM" asp-route-search="@(Context.Request.Query["search"])" title="@generalLocalizer[GeneralLocalization.RANDOM]"><i class="fas fa-random" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.RANDOM]</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link text-dark" asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Collection.CONTROLLER" asp-action="@Routing.Controllers.Collection.Routes.INDEX" title="@generalLocalizer[GeneralLocalization.COLLECTION]"><i class="fas fa-book-reader" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.COLLECTIONS]</a>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="dropdown-toggle nav-link text-dark" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span>
                    @generalLocalizer[GeneralLocalization.TAG] <span class="caret"></span>
                </span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right text-dark">
                <li><a class="nav-link text-dark" asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Tag.CONTROLLER" asp-action="@Routing.Controllers.Tag.Routes.INDEX" title="@generalLocalizer[GeneralLocalization.TAGS]"><i class="fas fa-tag" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.TAGS]</a></li>
                <li><a class="nav-link text-dark" asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.TagType.CONTROLLER" asp-action="@Routing.Controllers.TagType.Routes.INDEX" title="@generalLocalizer[GeneralLocalization.TAG_TYPES]"><i class="fas fa-tags" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.TAG_TYPES]</a></li>
            </ul>
        </li>
    }

    <partial name="_LoginPartial" />
</ul>
