﻿@using Microsoft.Extensions.Options;
@using ManicNet.Domain.Models
@inject IOptions<ManicNetSettings> manicNetSettings;

<footer class="border-top footer text-muted">
    <div class="container">
        <div class="row">
            <section class="col-12 col-md-4">
                
            </section>
            
            <section class=" col-12 col-md-4">
                <partial name="_SocialLinksPartial" />
            </section>
            
            <section class="col-12 col-md-4 align_right">
                <a data-bs-toggle="modal" data-bs-target="#RSSModal"><i class="fas fa-rss" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.RSS]</a>
            </section>
        </div>
        <section name="project_identifier" class="row">
            <span>@generalLocalizer[GeneralLocalization.POWERED_BY] <a href="https://gitlab.com/ottenbel/manicnet/">Manic.Net</a> - &copy; @manicNetSettings.Value.Metadata.SiteCopyright - @manicNetSettings.Value.Metadata.SiteName - <a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Home.CONTROLLER" asp-action="@Routing.Controllers.Home.Routes.PRIVACY">@generalLocalizer[GeneralLocalization.PRIVACY]</a></span>
        </section>
    </div>
</footer>

<partial name="RSS/_Modal" />