﻿@using Microsoft.Extensions.Options;
@using ManicNet.Domain.Models
@inject IOptions<ManicNetSettings> manicNetSettings;

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Work.CONTROLLER" asp-action="@Routing.Controllers.Work.Routes.INDEX">@manicNetSettings.Value.Metadata.SiteName</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_CommonHeaderPartial" />
            </div>
        </div>
    </nav>
</header>