﻿@using Microsoft.Extensions.Options;
@using ManicNet.Domain.Models
@using ManicNet.Constants
@inject IOptions<ManicNetSettings> manicNetSettings;

<!DOCTYPE html>
<html>
<head>
    <partial name="_Metadata" />

    <partial name="RSS/_Discovery" />

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
        <link rel="stylesheet" href="~/lib/jqueryui/jquery-ui.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha512-a6ctI6w1kg3J4dSjknHj3aWLEbjitAXAjLDRUxo2wyYmDFRcz2RJuQr5M3Kt8O/TtUSp8n2rAyaXYy1sjoKmrQ==" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
              asp-fallback-href="~/lib/font-awesome/css/all.min.css"
              asp-fallback-test-class="fa" asp-fallback-test-property="display" asp-fallback-test-value="inline-block"
              crossorigin="anonymous"
              integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
              asp-fallback-href="~/lib/jqueryui/jquery-ui.css"
              crossorigin="anonymous"
              integrity="sha256-rByPlHULObEjJ6XQxW/flG2r+22R5dKiAoef+aXWfik=" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/tag.css" />
    <link rel="stylesheet" href="~/css/socialLink.css" />
</head>
<body>

    <partial name="_Header" />

    <div class="container">
        <partial name="_CookieConsentPartial" />

        <noscript>
            <div class="alert alert-warning fade show" role="alert">
                @manicNetSettings.Value.Metadata.SiteName uses JavaScript. Please ensure that you have JavaScript enabled for an optimal experience.
            </div>
        </noscript>

        @if (TempData[Alerts.TempData.SUCCESS] != null || TempData[Alerts.TempData.WARNING] != null || TempData[Alerts.TempData.ERRROR] != null)
        {
            <section id="alerts">
                @if (TempData[Alerts.TempData.SUCCESS] != null)
                {
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        @Html.Raw(TempData[Alerts.TempData.SUCCESS])
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }

                @if (TempData[Alerts.TempData.WARNING] != null)
                {
                    @foreach (string warning in (string[])TempData[Alerts.TempData.WARNING])
                    {
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            @Html.Raw(warning)
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                }

                @if (TempData[Alerts.TempData.ERRROR] != null)
                {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        @Html.Raw(TempData[Alerts.TempData.ERRROR])
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
            </section>
        }

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="_Footer" />

    <script>
        var MinimumInputLength = @manicNetSettings.Value.TypeAheadSettings.MinimumInputLength;
    </script>

    <environment include="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
        <script src="~/lib/jqueryui/jquery-ui.js"></script>
        <script src="~/lib/tinymce/tinymce.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
                asp-fallback-src="~/lib/jquery/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.bootstrap"
                crossorigin="anonymous"
                integrity="sha512-72WD92hLs7T5FAXn3vkNZflWG6pglUDDpm87TeQmfSg8KnrymL2G30R7as4FmTwhgu9H7eSzDCX3mjitSecKnw==">
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
                asp-fallback-src="/lib/jqueryui/jquery-ui.js"
                crossorigin="anonymous"
                integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/autocomplete.js" asp-append-version="true"></script>

    <script type="text/javascript">
        tinymce.init({
            selector: '.richtext',
            plugins: 'lists, advlist'
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
