@using Microsoft.AspNetCore.Identity
@using ManicNet.Domain.Models
@using ManicNet.Services
@using ManicNet.Contracts.Services
@inject SignInManager<ManicNetUser> SignInManager
@inject ManicNetUserManager UserManager
@inject IFileIOService fileIOService

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a href="#" class="dropdown-toggle nav-link text-dark" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span>
                @if (await UserManager.GetAvatarAsync(User) != null)
                {
                    <img style="width:25px; height:25px;" src="@fileIOService.GetLink(await UserManager.GetAvatarAsync(User))" asp-append-version="true" class="rounded-circle img-responsive" alt="@generalLocalizer[GeneralLocalization.USER_AVATAR]">
                }

                @User.Identity.Name <span class="caret"></span>
            </span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right text-dark">
            <li><a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="@generalLocalizer[GeneralLocalization.MANAGE]"><i class="fas fa-cog" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.ACCOUNT_SETTINGS]</a></li>
            @if ((await AuthorizationService.Authorize(User, Generic.ELEVATED_SITE_PERMISSION)).Succeeded)
            {
                <li><a class="nav-link text-dark" asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Home.CONTROLLER" asp-action="@Routing.Controllers.Home.Routes.INDEX" title="@generalLocalizer[GeneralLocalization.ADMIN]"><i class="fas fa-desktop" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.ADMINISTRATION]</a></li>
            }
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action(Routing.Controllers.Work.Routes.INDEX, Routing.Controllers.Work.CONTROLLER, new { area = Routing.Areas.GENERAL })">
                    <button type="submit" class="nav-link btn btn-link text-dark"><i class="fas fa-sign-out-alt" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.LOGOUT]</button>
                </form>
            </li>
        </ul>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register"><i class="fas fa-user-plus" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.REGISTER]</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-sign-in-alt" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.LOGIN]</a>
    </li>
}