﻿@using Microsoft.Extensions.Options;
@using ManicNet.Domain.Models;
@using ManicNet.Models;
@inject IMetadataService metadataService
@inject IOptions<ManicNetSettings> manicNetSettings;

@{
    MetadataViewModel metadata = null;
    if (Model != null)
    {
        metadata = metadataService.GetMetadata(Model);
    }
    else
    {
        metadata = metadataService.GetMetadata();
    }

    string title = String.Format("{0} - {1}", ViewData["Title"], manicNetSettings.Value.Metadata.SiteName);
}

<title>@title</title>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!--Default meta HTML-->
@if (!String.IsNullOrWhiteSpace(metadata.Author))
{
<meta name="author" content="@metadata.Author" />
}
@if (!String.IsNullOrWhiteSpace(metadata.Description))
{
<meta name="description" content="@metadata.Description" />
}
@if (metadata.Image != null && !String.IsNullOrWhiteSpace(metadata.Image.Content))
{
<meta name="image" content="@metadata.Image.Content" />
}
@if (!String.IsNullOrWhiteSpace(metadata.Keywords))
{
<meta name="keywords" content="@metadata.Keywords" />
}

<!--Facebook Proprietary Meta Tags-->
<meta property="og:title" content="@title">
@if(!String.IsNullOrWhiteSpace(metadata.Description))
{
<meta property="og:description" content="@metadata.Description">
}
@if(metadata.Image != null && !String.IsNullOrWhiteSpace(metadata.Image.Content))
{
<meta property="og:image" content="@metadata.Image.Content">
}
@if(!String.IsNullOrWhiteSpace(metadata.CanonicalURL))
{
<meta property="og:url" content="@metadata.CanonicalURL">
}

<!--Twitter Proprietary Meta Tags-->
<meta name="twitter:title" content="@title">
@if(!String.IsNullOrWhiteSpace(metadata.Description))
{
<meta name="twitter:description" content="@metadata.Description">
}
@if(metadata.Image != null && !String.IsNullOrWhiteSpace(metadata.Image.Content))
{
<meta name="twitter:image" content="@metadata.Image.Content">
}
<meta name="twitter:card" content="summary_large_image">