﻿@using ManicNet.Domain.Models;
@inject ISocialLinkService socialLinkService;

@{
    var socialLinks = await socialLinkService.GetActiveSocialLinks();
}
@if (socialLinks.Any())
{
    <h2>Socials</h2>
    //TODO: Add CSS styling with no underline
    @foreach (SocialLink socialLink in socialLinks.OrderBy(x => x.Priority))
   {
        if (socialLink.TypeID == ManicNet.Constants.Social.LinkTypes.LINK)
        {
            <a href="@socialLink.URL"><div class="socialLink socialLink-url socialLink-url-@socialLink.Name">@socialLink.Text</div></a>
        }
        else if (socialLink.TypeID == ManicNet.Constants.Social.LinkTypes.EMAIL)
        {
            <a href="mailto:@socialLink.URL"><div class="socialLink socialLink-email socialLink-email-@socialLink.Name">@socialLink.Text</div></a>
        }
    }
}