﻿@model ManicNet.Models.TagTypeModifyModel
@inject IStringLocalizer<TagTypeLocalization> tagTypeLocalizer

@{
    ViewData["Title"] = tagTypeLocalizer[TagTypeLocalization.CREATE_TAG_TYPE].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="card">
    <header name="title" class="card-header">
        <h1>@ViewData["Title"]</h1>
    </header>

    <section class="card-body card-text form-row col-12">
        <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.TagType.CONTROLLER" asp-action="@Routing.Controllers.TagType.Routes.CREATE">

            @await Html.PartialAsync("_TagTypeInput", Model)

            <div>
                <button type="submit" class="btn btn-primary"><i class="fas fa-plus" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.CREATE]</button>
            </div>
        </form>
    </section>
</section>
@section Scripts{
    <script type="text/javascript" src="~/js/tagtype.js"></script>
}
