﻿@model ManicNet.Models.TagTypeIndexViewModel
@inject IStringLocalizer<TagTypeLocalization> tagTypeLocalizer

@{
    ViewData["Title"] = tagTypeLocalizer[TagTypeLocalization.DELETED_TAG_TYPES].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="row">
    <section name="title" class="col-12 col-md-7 col-lg-8">
        <h1>@ViewData["Title"]</h1>
    </section>

    <section name="admin_buttons" class="col-12 col-md-5 col-lg-4 title_button_holder">
        <a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.TagType.CONTROLLER" asp-action="@Routing.Controllers.TagType.Routes.INDEX" class="btn btn-light" role="button">
            <i class="fas fa-list" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.INDEX]
        </a>
        @if ((await AuthorizationService.Authorize(User, Policies.Administrator.EDIT_TAG_TYPE)).Succeeded)
        {
            <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.TagType.CONTROLLER" asp-action="@Routing.Controllers.TagType.Routes.CREATE" class="btn btn-success" role="button">
                <i class="fas fa-plus" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.CREATE_NEW]
            </a>
        }
    </section>
</header>


@await Html.PartialAsync("TagType/_Index", Model)
