﻿@model ManicNet.Models.TagTypeModifyModel
@inject IStringLocalizer<TagTypeLocalization> tagTypeLocalizer

@{
    ViewData["Title"] = tagTypeLocalizer[TagTypeLocalization.EDIT_TAG_TYPE, Model.Name].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="card">
    <header class="card-header">
        <div class="row">
            <section name="title" class="col-sm-8">
                <h1>@ViewData["Title"]</h1>
            </section>
            <section name="admin_buttons" class="col-sm-4 d-sm-inline-flex flex-sm-row-reverse">
                @if ((await AuthorizationService.Authorize(User, Policies.Administrator.EDIT_TAG_TYPE)).Succeeded)
                {
                    <div>
                        <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.TagType.CONTROLLER" asp-action="@Routing.Controllers.TagType.Routes.SOFT_DELETE">
                            <input asp-for="TagTypeID" name="id" type="hidden" />
                            <button type="submit" class="btn btn-danger text-nowrap deleteButton"><i class="fas fa-trash-alt" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.DELETE]</button>
                        </form>
                    </div>
                }
                <div>
                    <a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.TagType.CONTROLLER" asp-action="@Routing.Controllers.TagType.Routes.SHOW" asp-route-id="@Model.TagTypeID" class="btn btn-info text-nowrap" role="button">
                        <i class="fas fa-eye" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.SHOW]
                    </a>
                </div>
            </section>
        </div>
    </header>
    <div class="card-body card-text form-row col-12">
        <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.TagType.CONTROLLER" asp-action="@Routing.Controllers.TagType.Routes.EDIT" asp-route-id="">
            <input asp-for="TagTypeID" type="hidden" />

            @await Html.PartialAsync("_TagTypeInput", Model)

            <div>
                <button type="submit" class="btn btn-primary"><i class="fas fa-edit" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.EDIT]</button>
            </div>
        </form>
    </div>
</section>
@section Scripts{
    <script type="text/javascript" src="~/js/tagtype.js"></script>
}