﻿@model ManicNet.Models.ChapterModifyModel
@inject IStringLocalizer<ChapterLocalization> chapterLocalizer

<div asp-validation-summary="All" class="text-danger"></div>

<section name="@nameof(Model.Number)">
    <section name="identifier">
        <label asp-for="Number" class="control-label"></label>
        <i class="fa fa-question-circle" title="@chapterLocalizer[ChapterLocalization.Help.NUMBER]"></i>
    </section>
    <input asp-for="Number" class="form-control col-12" />
    <span asp-validation-for="Number" class="text-danger col-12"></span>
</section>

<section name="@nameof(Model.Title)">
    <section name="identifier">
        <label asp-for="Title" class="control-label"></label>
        <i class="fa fa-question-circle" title="@chapterLocalizer[ChapterLocalization.Help.TITLE]"></i>
    </section>
    <input asp-for="Title" class="form-control col-12" />
    <span asp-validation-for="Title" class="text-danger col-12"></span>
</section>

<section name="@nameof(Model.ShortDescription)">
    <section name="identifier">
        <label asp-for="ShortDescription" class="control-label"></label>
        <i class="fa fa-question-circle" title="@chapterLocalizer[ChapterLocalization.Help.SHORT_DESCRIPTION]"></i>
    </section>
    <input asp-for="ShortDescription" class="form-control" />
    <span asp-validation-for="ShortDescription" class="text-danger"></span>
</section>

<section name="@nameof(Model.URL)">
    <section name="identifier">
        <label asp-for="URL" class="control-label"></label>
        <i class="fa fa-question-circle" title="@chapterLocalizer[ChapterLocalization.Help.URL]"></i>
    </section>
    <input asp-for="URL" class="form-control" />
    <span asp-validation-for="URL" class="text-danger"></span>
</section>

<section name="@nameof(Model.LongDescription)">
    <section name="identifier">
        <label asp-for="LongDescription" class="control-label"></label>
        <i class="fa fa-question-circle" title="@chapterLocalizer[ChapterLocalization.Help.LONG_DESCRIPTION]"></i>
    </section>
    <textarea asp-for="LongDescription" class="form-control richtext"></textarea>
    <span asp-validation-for="LongDescription" class="text-danger"></span>
</section>

@{ Html.ViewData.TemplateInfo.HtmlFieldPrefix = "Tags"; }
@await Html.PartialAsync("_TagTypeTagPriorityInput", Model.Tags)
@{ Html.ViewData.TemplateInfo.HtmlFieldPrefix = string.Empty; }

<section name="@nameof(Model.Files)">
    <div>
        <section name="identifier">
            <label asp-for="Files" class="control-label"></label>
            <i class="fa fa-question-circle" title="@chapterLocalizer[ChapterLocalization.Help.FILES]"></i>
        </section>
        <input asp-for="Files" />
    </div>
    @if (Html.ViewData.ModelState["Files"] != null && Html.ViewData.ModelState["Files"].Errors.Any())
    {
        <ul class="col-12">
            @Html.Raw(Html.ViewData.ModelState["Files"].Errors.FirstOrDefault().ErrorMessage)
        </ul>
    }
</section>

<section name="@nameof(Model.Pages)" class="row">
    <div class="col-12"><span asp-validation-for="@Model.Pages" class="text-danger"></span></div>
    @for (int i = 0; i < Model.Pages.Count; i++)
    {
        <div class="col-4 col-md-3 col-lg-2 img-fluid">
            <div><img src="@Model.Pages[i].Content?.Thumbnail" asp-append-version="true" class="img-fluid rounded" alt="@chapterLocalizer[ChapterLocalization.PAGE_NUMBER, Model.Pages[i].PageNumber]"></div>
            <label asp-for="@Model.Pages[i].PageNumber" class="control-label"></label>
            <input asp-for="@Model.Pages[i].PageNumber" class="form-control" />
            <span asp-validation-for="@Model.Pages[i].PageNumber" class="text-danger"></span>
            <div>
                <input type="checkbox" asp-for="@Model.Pages[i].Delete" />
                <label asp-for="@Model.Pages[i].Delete"></label>
                <span asp-validation-for="@Model.Pages[i].Delete" class="text-danger"></span>
            </div>
            <input asp-for="@Model.Pages[i].PageID" type="hidden" />
        </div>
    }
</section>
