﻿@model ManicNet.Models.CollectionModifyModel
@inject IStringLocalizer<CollectionLocalization> collectionLocalizer

<div asp-validation-summary="All" class="text-danger"></div>

<section name="@nameof(Model.Title)">
    <section name="identifier">
        <label asp-for="Title" class="control-label"></label>
        <i class="fa fa-question-circle" title="@collectionLocalizer[CollectionLocalization.Help.TITLE]"></i>
    </section>
    <input asp-for="Title" class="form-control col-12" />
    <span asp-validation-for="Title" class="text-danger col-12"></span>
</section>

<section name="@nameof(Model.ShortDescription)">
    <section name="identifier">
        <label asp-for="ShortDescription" class="control-label"></label>
        <i class="fa fa-question-circle" title="@collectionLocalizer[CollectionLocalization.Help.SHORT_DESCRIPTION]"></i>
    </section>
    <input asp-for="ShortDescription" class="form-control" />
    <span asp-validation-for="ShortDescription" class="text-danger"></span>
</section>

<section name="@nameof(Model.URL)">
    <section name="identifier">
        <label asp-for="URL" class="control-label"></label>
        <i class="fa fa-question-circle" title="@collectionLocalizer[CollectionLocalization.Help.URL]"></i>
    </section>
    <input asp-for="URL" class="form-control" />
    <span asp-validation-for="URL" class="text-danger"></span>
</section>

<section name="@nameof(Model.LongDescription)">
    <section name="identifier">
        <label asp-for="LongDescription" class="control-label"></label>
        <i class="fa fa-question-circle" title="@collectionLocalizer[CollectionLocalization.Help.LONG_DESCRIPTION]"></i>
    </section>
    <textarea asp-for="LongDescription" class="form-control richtext"></textarea>
    <span asp-validation-for="LongDescription" class="text-danger"></span>
</section>