﻿@model ManicNet.Models.PermissionSection
@inject IStringLocalizer<PermissionLocalization> permissionLocalizer

@if (Model.OwnerPermissions.Where(p => p.HasPermission).Any()
  || Model.AdministratorPermissions.Where(p => p.HasPermission).Any()
  || Model.NormalPermissions.Where(p => p.HasPermission).Any())
{
    <section name="permissions" class="card mb-3">
        <header class="card-header">
            <h2>@generalLocalizer[Model.SectionName]</h2>
        </header>
        <section class="card-body">
            <div class="row">
                @if (Model.OwnerPermissions.Where(p => p.HasPermission).Any())
                {
                    <section name="owners" class="col-md col-xs-12 card">
                        <section class="card-body card-text">
                            <header class="card-title">
                                <h4>@generalLocalizer[GeneralLocalization.OWNER]</h4>
                            </header>
                            <section name="permissions">
                                @for (int o = 0; o < Model.OwnerPermissions.Count(); o++)
                                {
                                    @if (Model.OwnerPermissions[o].HasPermission)
                                    {
                                        <section name="permission" class="col-12">
                                            @Html.LabelFor(model => model.OwnerPermissions[o], permissionLocalizer[Model.OwnerPermissions[o].PermissionName], new { })
                                        </section>
                                    }
                                }
                            </section>
                        </section>
                    </section>
                }

                @if (Model.AdministratorPermissions.Where(p => p.HasPermission).Any())
                {
                    <section name="administrators" class="col-md col-xs-12 card">
                        <section class="card-body card-text">
                            <header class="card-title">
                                <h4>@generalLocalizer[GeneralLocalization.ADMINISTRATOR]</h4>
                            </header>
                            <section name="permissions">
                                @for (int a = 0; a < Model.AdministratorPermissions.Count(); a++)
                                {
                                    @if (Model.AdministratorPermissions[a].HasPermission)
                                    {
                                        <section name="permission" class="col-12">
                                            @Html.LabelFor(model => model.AdministratorPermissions[a], permissionLocalizer[Model.AdministratorPermissions[a].PermissionName], new { })
                                        </section>
                                    }
                                }
                            </section>
                        </section>
                    </section>
                }

                @if (Model.NormalPermissions.Where(p => p.HasPermission).Any())
                {
                    <section name="users" class="col-md col-xs-12 card">
                        <section class="card-body card-text">
                            <header class="card-title">
                                <h4>@generalLocalizer[GeneralLocalization.USER]</h4>
                            </header>
                            <section name="permissions">
                                @for (int n = 0; n < Model.NormalPermissions.Count(); n++)
                                {
                                    @if (Model.NormalPermissions[n].HasPermission)
                                    {
                                        <section name="permission" class="col-12">
                                            @Html.LabelFor(model => model.NormalPermissions[n], permissionLocalizer[Model.NormalPermissions[n].PermissionName], new { })
                                        </section>
                                    }
                                }
                            </section>
                        </section>
                    </section>
                }
            </div>
        </section>
    </section>
}