﻿@model ManicNet.Models.PermissionSection
@inject IStringLocalizer<PermissionLocalization> permissionLocalizer

<section name="permission" class="card mb-3">
    <header class="card-header">
        <h2>@generalLocalizer[Model.SectionName]</h2>
    </header>
    @Html.HiddenFor(m => m.SectionName)
    <section class="card-body">
        <div class="row">
            @if (Model.OwnerPermissions.Any())
            {
                <section name="owner" class="col-md col-xs-12 card">
                    <div class="card-body card-text">
                        <header class="card-title">
                            <h4>@generalLocalizer[GeneralLocalization.OWNER]</h4>
                        </header>
                        @for (int o = 0; o < Model.OwnerPermissions.Count(); o++)
                        {
                            <section name="permission" class="col-12">
                                @Html.CheckBoxFor(model => model.OwnerPermissions[o].HasPermission, Model.HasOwnerPermission ? (object)new { } : new { @disabled = "disabled" })
                                @Html.LabelFor(model => model.OwnerPermissions[o], permissionLocalizer[Model.OwnerPermissions[o].PermissionName], new { })
                                @Html.HiddenFor(model => model.OwnerPermissions[o].PermissionName)
                            </section>
                        }
                    </div>
                </section>
            }

            @if (Model.AdministratorPermissions.Any())
            {
                <section name="administration" class="col-md col-xs-12 card">
                    <div class="card-body card-text">
                        <header class="card-title">
                            <h4>@generalLocalizer[GeneralLocalization.ADMINISTRATOR]</h4>
                        </header>
                        @for (int a = 0; a < Model.AdministratorPermissions.Count(); a++)
                        {
                            <section name="permission" class="col-12">
                                @Html.CheckBoxFor(model => model.AdministratorPermissions[a].HasPermission, Model.HasAdministratorPermission ? (object)new { } : new { @disabled = "disabled" })
                                @Html.LabelFor(model => model.AdministratorPermissions[a], permissionLocalizer[Model.AdministratorPermissions[a].PermissionName], new { })
                                @Html.HiddenFor(model => model.AdministratorPermissions[a].PermissionName)
                            </section>
                        }
                    </div>
                </section>
            }

            @if (Model.NormalPermissions.Any())
            {
                <section name="users" class="col-md col-xs-12 card">
                    <div class="card-body card-text">
                        <header class="card-title">
                            <h4>@generalLocalizer[GeneralLocalization.USER]</h4>
                        </header>
                        @for (int n = 0; n < Model.NormalPermissions.Count(); n++)
                        {
                            <section name="permission" class="col-12">
                                @Html.CheckBoxFor(model => model.NormalPermissions[n].HasPermission, Model.HasNormalPermission ? (object)new { } : new { @disabled = "disabled" })
                                @Html.LabelFor(model => model.NormalPermissions[n], permissionLocalizer[Model.NormalPermissions[n].PermissionName], new { })
                                @Html.HiddenFor(model => model.NormalPermissions[n].PermissionName)
                            </section>
                        }
                    </div>
                </section>
            }
        </div>
    </section>
</section>