﻿@model ManicNet.Models.RoleSection
@inject IStringLocalizer<RoleLocalization> roleLocalizer

<section name="roles" class="card mb-3">
    <header class="card-header">
        <h2>@roleLocalizer[RoleLocalization.ROLES]</h2>
    </header>
    <section class="card-body">
        <div class="row">
            @if (Model.OwnerRoles.Any())
            {
                <section name="owners" class="col-md col-xs-12 card">
                    <section class="card-body card-text">
                        <header class="card-title">
                            <h4>@generalLocalizer[GeneralLocalization.OWNER]</h4>
                        </header>
                        @for (int o = 0; o < Model.OwnerRoles.Count(); o++)
                        {
                            <section name="role" class="col-12">
                                @Html.CheckBoxFor(model => model.OwnerRoles[o].HasRole, Model.HasOwnerPermission ? (object)new { } : new { @disabled = "disabled" })
                                @Html.LabelFor(model => model.OwnerRoles[o], Model.OwnerRoles[o].RoleName, new { })
                                @Html.HiddenFor(model => model.OwnerRoles[o].RoleName)
                            </section>
                        }
                    </section>
                </section>
            }

            @if (Model.AdministratorRoles.Any())
            {
                <section name="administrators" class="col-md col-xs-12 card">
                    <section class="card-body card-text">
                        <header class="card-title">
                            <h4>@generalLocalizer[GeneralLocalization.ADMINISTRATOR]</h4>
                        </header>
                        @for (int a = 0; a < Model.AdministratorRoles.Count(); a++)
                        {
                            <section name="role" class="col-12">
                                @Html.CheckBoxFor(model => model.AdministratorRoles[a].HasRole, Model.HasAdministratorPermission ? (object)new { } : new { @disabled = "disabled" })
                                @Html.LabelFor(model => model.AdministratorRoles[a], Model.AdministratorRoles[a].RoleName, new { })
                                @Html.HiddenFor(model => model.AdministratorRoles[a].RoleName)
                            </section>
                        }
                    </section>
                </section>
            }

            @if (Model.NormalRoles.Any())
            {
                <section name="users" class="col-md col-xs-12 card">
                    <div class="card-body card-text">
                        <header class="card-title">
                            <h4>@generalLocalizer[GeneralLocalization.USER]</h4>
                        </header>
                        @for (int n = 0; n < Model.NormalRoles.Count(); n++)
                        {
                            <section name="role" class="col-12">
                                @Html.CheckBoxFor(model => model.NormalRoles[n].HasRole, Model.HasNormalPermission ? (object)new { } : new { @disabled = "disabled" })
                                @Html.LabelFor(model => model.NormalRoles[n], Model.NormalRoles[n].RoleName, new { })
                                @Html.HiddenFor(model => model.NormalRoles[n].RoleName)
                            </section>
                        }
                    </div>
                </section>
            }
        </div>
    </section>
</section>