﻿@model ManicNet.Models.SocialLinkModifyModel
@inject IStringLocalizer<SocialLocalization> socialLocalizer

<div asp-validation-summary="All" class="text-danger"></div>

<section name="@nameof(Model.Name)">
    <section name="identifier">
        <label asp-for="Name" class="control-label"></label>
        <i class="fa fa-question-circle" title="@socialLocalizer[SocialLocalization.Help.NAME]"></i>
    </section>
    <input asp-for="Name" class="form-control col-12" />
    <span asp-validation-for="Name" class="text-danger col-12"></span>
</section>

<section name="@nameof(Model.Priority)">
    <section name="identifier">
        <label asp-for="Priority" class="control-label"></label>
        <i class="fa fa-question-circle" title="@socialLocalizer[SocialLocalization.Help.PRIORITY]"></i>
    </section>
    <input asp-for="Priority" class="form-control col-12" />
    <span asp-validation-for="Priority" class="text-danger col-12"></span>
</section>

<section name="@nameof(Model.Icon)">
    <section name="identifier">
        <label asp-for="Icon" class="control-label"></label>
        <i class="fa fa-question-circle" title="@socialLocalizer[SocialLocalization.Help.ICON]"></i>
    </section>
    <input asp-for="Icon" class="form-control col-12" />
    <span asp-validation-for="Icon" class="text-danger col-12"></span>
</section>

<section name="@nameof(Model.FontFamily)">
    <section name="identifier">
        <label asp-for="FontFamily" class="control-label"></label>
        <i class="fa fa-question-circle" title="@socialLocalizer[SocialLocalization.Help.FONT_FAMILY]"></i>
    </section>
    <select asp-for="FontFamily" class="form-control" asp-items="Model.FontFamilies">
        <option value=""></option>
    </select>
    <span asp-validation-for="FontFamily" class="text-danger"></span>
</section>

<section name="@nameof(Model.URL)">
    <section name="identifier">
        <label asp-for="URL" class="control-label"></label>
        <i class="fa fa-question-circle" title="@socialLocalizer[SocialLocalization.Help.URL]"></i>
    </section>
    <input asp-for="URL" class="form-control col-12" />
    <span asp-validation-for="URL" class="text-danger col-12"></span>
</section>

<section name="@nameof(Model.Text)">
    <section name="identifier">
        <label asp-for="Text" class="control-label"></label>
        <i class="fa fa-question-circle" title="@socialLocalizer[SocialLocalization.Help.TEXT]"></i>
    </section>
    <input asp-for="Text" class="form-control col-12" />
    <span asp-validation-for="Text" class="text-danger col-12"></span>
</section>

<section name="@nameof(Model.TypeID)">
    <section name="identifier">
        <label asp-for="TypeID" class="control-label"></label>
        <i class="fa fa-question-circle" title="@socialLocalizer[SocialLocalization.Help.TYPE]"></i>
    </section>
    <select asp-for="TypeID" class="form-control" asp-items="Model.LinkTypes">
        <option value=""></option>
    </select>
    <span asp-validation-for="TypeID" class="text-danger"></span>
</section>