﻿@model ManicNet.Models.TagTypeModifyModel
@inject IStringLocalizer<TagTypeLocalization> tagTypeLocalizer

<div asp-validation-summary="All" class="text-danger"></div>

<section name="main" class="card mb-3">
    <header class="card-header">
        <h2>@generalLocalizer[GeneralLocalization.MAIN]</h2>
    </header>
    <div class="card-body card-text">
        <section name="@nameof(Model.Name)">
            <section name="identifier">
                <label asp-for="Name" class="control-label"></label>
                <i class="fa fa-question-circle" title="@tagTypeLocalizer[TagTypeLocalization.Help.NAME]"></i>
            </section>
            <input asp-for="Name" class="form-control col-12" />
            <span asp-validation-for="Name" class="text-danger col-12"></span>
        </section>

        <section name="@nameof(Model.SearchablePrefix)">
            <section name="identifier">
                <label asp-for="SearchablePrefix" class="control-label "></label>
                <i class="fa fa-question-circle" title="@tagTypeLocalizer[TagTypeLocalization.Help.SEARCHABLE_PREFIX]"></i>
            </section>
            <input asp-for="SearchablePrefix" class="form-control col-12" />
            <span asp-validation-for="SearchablePrefix" class="text-danger col-12"></span>
        </section>

        <section name="@nameof(Model.Priority)">
            <section name="identifier">
                <label asp-for="Priority" class="control-label"></label>
                <i class="fa fa-question-circle" title="@tagTypeLocalizer[TagTypeLocalization.Help.PRIORITY]"></i>
            </section>
            <input asp-for="Priority" class="form-control col-12" />
            <span asp-validation-for="Priority" class="text-danger col-12"></span>
        </section>

        <section name="@nameof(Model.PrimaryBodyColour)">
            <section name="identifier">
                <label asp-for="PrimaryBodyColour" class="control-label "></label>
                <i class="fa fa-question-circle" title="@tagTypeLocalizer[TagTypeLocalization.Help.BODY_COLOUR]"></i>
            </section>
            <input asp-for="PrimaryBodyColour" class="col-3 col-md-1" type="color" />
            <span asp-validation-for="PrimaryBodyColour" class="text-danger md-12"></span>
        </section>

        <section name="@nameof(Model.PrimaryBorderColour)">
            <section name="identifier">
                <label asp-for="PrimaryBorderColour" class="control-label "></label>
                <i class="fa fa-question-circle" title="@tagTypeLocalizer[TagTypeLocalization.Help.BORDER_COLOUR]"></i>
            </section>
            <input asp-for="PrimaryBorderColour" class="col-3 col-md-1" type="color" />
            <span asp-validation-for="PrimaryBorderColour" class="text-danger md-12"></span>
        </section>

        <section name="@nameof(Model.PrimaryTextColour)">
            <section name="identifier">
                <label asp-for="PrimaryTextColour" class="control-label "></label>
                <i class="fa fa-question-circle" title="@tagTypeLocalizer[TagTypeLocalization.Help.TEXT_COLOUR]"></i>
            </section>
            <input asp-for="PrimaryTextColour" class="col-3 col-md-1" type="color" />
            <span asp-validation-for="PrimaryTextColour" class="text-danger md-12"></span>
        </section>

        <section name="@nameof(Model.SecondaryBodyColour)">
            <section name="identifier">
                <label asp-for="SecondaryBodyColour" class="control-label "></label>
                <i class="fa fa-question-circle" title="@tagTypeLocalizer[TagTypeLocalization.Help.BODY_COLOUR]"></i>
            </section>
            <input asp-for="SecondaryBodyColour" class="col-3 col-md-1" type="color" />
            <span asp-validation-for="SecondaryBodyColour" class="text-danger md-12"></span>
        </section>

        <section name="@nameof(Model.SecondaryBorderColour)">
            <section name="identifier">
                <label asp-for="SecondaryBorderColour" class="control-label "></label>
                <i class="fa fa-question-circle" title="@tagTypeLocalizer[TagTypeLocalization.Help.BORDER_COLOUR]"></i>
            </section>
            <input asp-for="SecondaryBorderColour" class="col-3 col-md-1" type="color" />
            <span asp-validation-for="SecondaryBorderColour" class="text-danger md-12"></span>
        </section>

        <section name="@nameof(Model.SecondaryTextColour)">
            <section name="identifier">
                <label asp-for="SecondaryTextColour" class="control-label "></label>
                <i class="fa fa-question-circle" title="@tagTypeLocalizer[TagTypeLocalization.Help.TEXT_COLOUR]"></i>
            </section>
            <input asp-for="SecondaryTextColour" class="col-3 col-md-1" type="color" />
            <span asp-validation-for="SecondaryTextColour" class="text-danger md-12"></span>
        </section>

        <section name="@nameof(Model.Icon)">
            <section name="identifier">
                <label asp-for="Icon" class="control-label"></label>
                <i class="fa fa-question-circle" title="@tagTypeLocalizer[TagTypeLocalization.Help.ICON]"></i>
            </section>
            <input asp-for="Icon" class="form-control col-12" />
            <span asp-validation-for="Icon" class="text-danger col-12"></span>
        </section>

        <section name="@nameof(Model.FontFamily)">
            <section name="identifier">
                <label asp-for="FontFamily" class="control-label"></label>
                <i class="fa fa-question-circle" title="@tagTypeLocalizer[TagTypeLocalization.Help.FONT_FAMILY]"></i>
            </section>
            <select asp-for="FontFamily" class="form-control" asp-items="Model.FontFamilies">
                <option value=""></option>
            </select>
            <span asp-validation-for="FontFamily" class="text-danger"></span>
        </section>

        <section name="@nameof(Model.ShortDescription)">
            <section name="identifier">
                <label asp-for="ShortDescription" class="control-label"></label>
                <i class="fa fa-question-circle" title="@tagTypeLocalizer[TagTypeLocalization.Help.SHORT_DESCRIPTION]"></i>
            </section>
            <input asp-for="ShortDescription" class="form-control" />
            <span asp-validation-for="ShortDescription" class="text-danger"></span>
        </section>

        <section name="@nameof(Model.URL)">
            <section name="identifier">
                <label asp-for="URL" class="control-label"></label>
                <i class="fa fa-question-circle" title="@tagTypeLocalizer[TagTypeLocalization.Help.URL]"></i>
            </section>
            <input asp-for="URL" class="form-control" />
            <span asp-validation-for="URL" class="text-danger"></span>
        </section>

        <section name="@nameof(Model.LongDescription)">
            <section name="identifier">
                <label asp-for="LongDescription" class="control-label"></label>
                <i class="fa fa-question-circle" title="@tagTypeLocalizer[TagTypeLocalization.Help.LONG_DESCRIPTION]"></i>
            </section>
            <textarea asp-for="LongDescription" class="form-control richtext"></textarea>
            <span asp-validation-for="LongDescription" class="text-danger"></span>
        </section>
    </div>
</section>

<section name="usage" class="card mb-3">
    <header class="card-header">
        <h2>@generalLocalizer[GeneralLocalization.USAGE]</h2>
    </header>
    <section class="card-body card-text row">
        <section name="work" class="col-md-4 col-xs-12 card">
            <div class="card-body card-text">
                <header class="card-title">
                    <h3>@generalLocalizer[GeneralLocalization.WORK]</h3>
                </header>
                <section class="form-check">
                    <span>
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="AvailableOnWork" /> @Html.DisplayNameFor(model => model.AvailableOnWork) <i class="fa fa-question-circle" title="@tagTypeLocalizer[TagTypeLocalization.Help.AVAILABLE_ON_WORK]"></i>
                        </label>
                    </span>
                </section>

                <section id="AvailableOnWorkGroup" class="form-check" style="display:@(Model.AvailableOnWork ? string.Empty : "none")">
                    <span>
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="DisplayedInWorkSummary" /> @Html.DisplayNameFor(model => model.DisplayedInWorkSummary) <i class="fa fa-question-circle" title="@tagTypeLocalizer[TagTypeLocalization.Help.DISPLAYED_IN_WORK_SUMMARY]"></i>
                        </label>
                    </span>

                    <section id="NumberAvailableOnWorkGroup" style="display:@(Model.DisplayedInWorkSummary ? string.Empty : "none")">
                        <section name="identifier">
                            <label asp-for="NumberDisplayedInWorkSummary" class="control-label"></label>
                            <i class="fa fa-question-circle" title="@tagTypeLocalizer[TagTypeLocalization.Help.NUMBER_DISPLAYED_IN_WORK_SUMMARY]"></i>
                        </section>
                        <input asp-for="NumberDisplayedInWorkSummary" class="form-control col-12" />
                        <span asp-validation-for="NumberDisplayedInWorkSummary" class="text-danger col-12"></span>
                    </section>
                </section>
            </div>
        </section>

        <section name="volume" class="col-md-4 col-xs-12 card">
            <div class="card-body card-text">
                <header class="card-title">
                    <h3>@generalLocalizer[GeneralLocalization.VOLUME]</h3>
                </header>
                <section class="form-check">
                    <span>
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="AvailableOnVolume" /> @Html.DisplayNameFor(model => model.AvailableOnVolume) <i class="fa fa-question-circle" title="@tagTypeLocalizer[TagTypeLocalization.Help.AVAILABLE_ON_VOLUME]"></i>
                        </label>
                    </span>
                </section>

                <section id="AvailableOnVolumeGroup" class="form-check" style="display:@(Model.AvailableOnVolume ? string.Empty : "none")">
                    <span>
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="DisplayedInVolumeSummary" /> @Html.DisplayNameFor(model => model.DisplayedInVolumeSummary) <i class="fa fa-question-circle" title="@tagTypeLocalizer[TagTypeLocalization.Help.DISPLAYED_IN_VOLUME_SUMMARY]"></i>
                        </label>
                    </span>

                    <section id="NumberAvailableOnVolumeGroup" style="display:@(Model.DisplayedInVolumeSummary ? string.Empty : "none")">
                        <section name="identifier">
                            <label asp-for="NumberDisplayedInVolumeSummary" class="control-label"></label>
                            <i class="fa fa-question-circle" title="@tagTypeLocalizer[TagTypeLocalization.Help.NUMBER_DISPLAYED_IN_VOLUME_SUMMARY]"></i>
                        </section>
                        <input asp-for="NumberDisplayedInVolumeSummary" class="form-control col-12" />
                        <span asp-validation-for="NumberDisplayedInVolumeSummary" class="text-danger col-12"></span>
                    </section>
                </section>
            </div>
        </section>

        <section name="chapter" class="col-md-4 col-xs-12 card">
            <div class="card-body card-text">
                <header class="card-title">
                    <h3>@generalLocalizer[GeneralLocalization.CHAPTER]</h3>
                </header>
                <section class="form-check">
                    <span>
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="AvailableOnChapter" /> @Html.DisplayNameFor(model => model.AvailableOnChapter) <i class="fa fa-question-circle" title="@tagTypeLocalizer[TagTypeLocalization.Help.AVAILABLE_ON_CHAPTER]"></i>
                        </label>
                    </span>
                </section>

                <section id="AvailableOnChapterGroup" class="form-check" style="display:@(Model.AvailableOnChapter ? string.Empty : "none")">
                    <span>
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="DisplayedInChapterSummary" /> @Html.DisplayNameFor(model => model.DisplayedInChapterSummary) <i class="fa fa-question-circle" title="@tagTypeLocalizer[TagTypeLocalization.Help.DISPLAYED_IN_CHAPTER_SUMMARY]"></i>
                        </label>
                    </span>

                    <section id="NumberAvailableOnChapterGroup" style="display:@(Model.DisplayedInChapterSummary ? string.Empty : "none")">
                        <section name="identifier">
                            <label asp-for="NumberDisplayedInChapterSummary" class="control-label"></label>
                            <i class="fa fa-question-circle" title="@tagTypeLocalizer[TagTypeLocalization.Help.NUMBER_DISPLAYED_IN_CHAPTER_SUMMARY]"></i>
                        </section>
                        <input asp-for="NumberDisplayedInChapterSummary" class="form-control col-12" />
                        <span asp-validation-for="NumberDisplayedInChapterSummary" class="text-danger col-12"></span>
                    </section>
                </section>
            </div>
        </section>
    </section>
</section>