﻿@using ManicNet.Models;
@model TagTypeTagInputModel
@inject IStringLocalizer<TagLocalization> tagLocalizer

@if (Model.Tags.Any())
{
    <div class="row">
        <h5>@Model.Header</h5>
    </div>

    @Html.HiddenFor(model => model.AllowVirtual)
    @Html.HiddenFor(model => model.Header)

    @for (int i = 0; i < Model.Tags.Count(); i++)
    {
        <!--Localize-->
        string help = tagLocalizer[TagLocalization.Help.A_COMMA_DELIMITED_LIST_OF_TAGS_RELATED_TO_THE_GIVEN_OBJECT, Model.Tags[i].TagType.Name];
        string typeAhead = string.Format("tagTypeAhead-{0}", Model.Tags[i].TagType.TagTypeID);
        string allowVirual = Model.AllowVirtual ? "allowVirtual" : string.Empty;
        <div>
            <div>
                @Html.LabelFor(model => model.Tags[i], string.Format("{0}", Model.Tags[i].TagType.Name))
                <i class="fa fa-question-circle" title="@help"></i>
            </div>
            <input asp-for="Tags[i].Tags" class="form-control dynamicTagInput @typeAhead @allowVirual" />
            <span asp-validation-for="Tags[i].Tags" class="text-danger"></span>
            @Html.HiddenFor(model => model.Tags[i].TagType.TagTypeID)
            @Html.HiddenFor(model => model.Tags[i].TagType.Name)
            @Html.HiddenFor(model => model.Tags[i].TagType.Priority)
        </div>
    }
}