﻿@model ManicNet.Models.TagModifyModel
@inject IStringLocalizer<TagLocalization> tagLocalizer

<div asp-validation-summary="All" class="text-danger"></div>

<section name="@nameof(Model.Name)">
    <section name="identifier">
        <label asp-for="Name" class="control-label"></label>
        <i class="fa fa-question-circle" title="@tagLocalizer[TagLocalization.Help.NAME]"></i>
    </section>
    <input asp-for="Name" class="form-control col-12" />
    <span asp-validation-for="Name" class="text-danger col-12"></span>
</section>

<section name="@nameof(Model.TagTypeID)">
    <section name="identifier">
        <label asp-for="TagTypeID" class="control-label"></label>
        <i class="fa fa-question-circle" title="@tagLocalizer[TagLocalization.Help.TAG_TYPE]"></i>
    </section>
    <select asp-for="TagTypeID" class="form-control" asp-items="Model.TagTypes">
        <option value=""></option>
    </select>
    <span asp-validation-for="TagTypeID" class="text-danger"></span>
</section>

<section name="@nameof(Model.Aliases)">
    <section name="identifier">
        <label asp-for="Aliases" class="control-label"></label>
        <i class="fa fa-question-circle" title="@tagLocalizer[TagLocalization.Help.ALIASES]"></i>
    </section>
    <input asp-for="Aliases" class="form-control col-12" />
    <span asp-validation-for="Aliases" class="text-danger col-12"></span>
</section>

<section name="@nameof(Model.Icon)">
    <section name="identifier">
        <label asp-for="Icon" class="control-label"></label>
        <i class="fa fa-question-circle" title="@tagLocalizer[TagLocalization.Help.ICON]"></i>
    </section>
    <input asp-for="Icon" class="form-control col-12" />
    <span asp-validation-for="Icon" class="text-danger col-12"></span>
</section>

<section name="@nameof(Model.FontFamily)">
    <section name="identifier">
        <label asp-for="FontFamily" class="control-label"></label>
        <i class="fa fa-question-circle" title="@tagLocalizer[TagLocalization.Help.FONT_FAMILY]"></i>
    </section>
    <select asp-for="FontFamily" class="form-control" asp-items="Model.FontFamilies">
        <option value=""></option>
    </select>
    <span asp-validation-for="FontFamily" class="text-danger"></span>
</section>

<section name="@nameof(Model.ShortDescription)">
    <section name="identifier">
        <label asp-for="ShortDescription" class="control-label"></label>
        <i class="fa fa-question-circle" title="@tagLocalizer[TagLocalization.Help.SHORT_DESCRIPTION]"></i>
    </section>
    <input asp-for="ShortDescription" class="form-control" />
    <span asp-validation-for="ShortDescription" class="text-danger"></span>
</section>

<section name="@nameof(Model.URL)">
    <section name="identifier">
        <label asp-for="URL" class="control-label"></label>
        <i class="fa fa-question-circle" title="@tagLocalizer[TagLocalization.Help.URL]"></i>
    </section>
    <input asp-for="URL" class="form-control" />
    <span asp-validation-for="URL" class="text-danger"></span>
</section>

<section name="@nameof(Model.LongDescription)">
    <section name="identifier">
        <label asp-for="LongDescription" class="control-label"></label>
        <i class="fa fa-question-circle" title="@tagLocalizer[TagLocalization.Help.LONG_DESCRIPTION]"></i>
    </section>
    <textarea asp-for="LongDescription" class="form-control richtext"></textarea>
    <span asp-validation-for="LongDescription" class="text-danger"></span>
</section>

<section name="@nameof(Model.IsVirtual)" class="form-check">
    <span>
        <label class="form-check-label">
            <input class="form-check-input" asp-for="IsVirtual" /> @Html.DisplayNameFor(model => model.IsVirtual)
        </label>
    </span>
    <span>
        <i class="fa fa-question-circle" title="@tagLocalizer[TagLocalization.Help.IS_VIRTUAL]"></i>
    </span>
</section>

@{ Html.ViewData.TemplateInfo.HtmlFieldPrefix = "ImpliedTags"; }
@await Html.PartialAsync("_TagTypeTagInput", Model.ImpliedTags)