﻿@using ManicNet.Models;
@model TagTypeTagPriorityInputModel
@inject IStringLocalizer<TagLocalization> tagLocalizer

@if (Model.PrimaryTags.Any())
{
    <section name="tags">
        <header class="row">
            <h5>@generalLocalizer[GeneralLocalization.TAGS]</h5>
        </header>

        @Html.HiddenFor(model => model.AllowVirtual)

        @for (int i = 0; i < Model.PrimaryTags.Count(); i++)
        {
            string primaryHelp = tagLocalizer[TagLocalization.Help.A_COMMA_DELIMITED_LIST_OF_PRIMARY_TAGS_RELATED_TO_THE_GIVEN_OBJECT, Model.PrimaryTags[i].TagType.Name];
            string secondaryHelp = tagLocalizer[TagLocalization.Help.A_COMMA_DELIMITED_LIST_OF_SECONDARY_TAGS_RELATED_TO_THE_GIVEN_OBJECT, Model.PrimaryTags[i].TagType.Name];
            string typeAhead = string.Format("tagTypeAhead-{0}", Model.PrimaryTags[i].TagType.TagTypeID);
            string allowVirual = Model.AllowVirtual ? "allowVirtual" : string.Empty;

            <section name="@Model.PrimaryTags[i].TagType.Name">
                <section name="primary">
                    <section name="identifier">
                        @Html.LabelFor(model => model.PrimaryTags[i], tagLocalizer[TagLocalization.PRIMARY_TAG_OF_TAG_TYPE, Model.PrimaryTags[i].TagType.Name])
                        <i class="fa fa-question-circle" title="@primaryHelp"></i>
                    </section>
                    <input asp-for="PrimaryTags[i].Tags" class="form-control dynamicTagInput @typeAhead @allowVirual" />
                    <span asp-validation-for="PrimaryTags[i].Tags" class="text-danger"></span>
                    @Html.HiddenFor(model => model.PrimaryTags[i].TagType.TagTypeID)
                    @Html.HiddenFor(model => model.PrimaryTags[i].TagType.Name)
                    @Html.HiddenFor(model => model.PrimaryTags[i].TagType.Priority)
                </section>
                <section name="secondary">
                    <section name="identifier">
                        @Html.LabelFor(model => model.SecondaryTags[i], tagLocalizer[TagLocalization.SECONDARY_TAG_OF_TAG_TYPE, Model.SecondaryTags[i].TagType.Name])
                        <i class="fa fa-question-circle" title="@secondaryHelp"></i>
                    </section>
                    <input asp-for="SecondaryTags[i].Tags" class="form-control dynamicTagInput @typeAhead @allowVirual" />
                    <span asp-validation-for="SecondaryTags[i].Tags" class="text-danger"></span>
                    @Html.HiddenFor(model => model.SecondaryTags[i].TagType.TagTypeID)
                    @Html.HiddenFor(model => model.SecondaryTags[i].TagType.Name)
                    @Html.HiddenFor(model => model.SecondaryTags[i].TagType.Priority)
                </section>
            </section>
        }
    </section>
}