﻿@model ManicNet.Models.VolumeModifyModel
@inject IStringLocalizer<VolumeLocalization> volumeLocalizer

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<section name="@nameof(Model.Cover)">
    <div>
        <section name="identifier">
            <label asp-for="Cover" class="control-label"></label>
            <i class="fa fa-question-circle" title="@volumeLocalizer[VolumeLocalization.Help.COVER]"></i>
        </section>
        <input asp-for="Cover" />
    </div>
    <span asp-validation-for="Cover" class="col-12 text-danger"></span>
</section>

<section name="@nameof(Model.Number)">
    <section name="identifier">
        <label asp-for="Number" class="control-label"></label>
        <i class="fa fa-question-circle" title="@volumeLocalizer[VolumeLocalization.Help.NUMBER]"></i>
    </section>
    <input asp-for="Number" class="form-control col-12" />
    <span asp-validation-for="Number" class="text-danger col-12"></span>
</section>

<section name="@nameof(Model.Title)">
    <section name="identifier">
        <label asp-for="Title" class="control-label"></label>
        <i class="fa fa-question-circle" title="@volumeLocalizer[VolumeLocalization.Help.TITLE]"></i>
    </section>
    <input asp-for="Title" class="form-control col-12" />
    <span asp-validation-for="Title" class="text-danger col-12"></span>
</section>

<section name="@nameof(Model.ShortDescription)">
    <section name="identifier">
        <label asp-for="ShortDescription" class="control-label"></label>
        <i class="fa fa-question-circle" title="@volumeLocalizer[VolumeLocalization.Help.SHORT_DESCRIPTION]"></i>
    </section>
    <input asp-for="ShortDescription" class="form-control" />
    <span asp-validation-for="ShortDescription" class="text-danger"></span>
</section>

<section name="@nameof(Model.URL)">
    <section name="identifier">
        <label asp-for="URL" class="control-label"></label>
        <i class="fa fa-question-circle" title="@volumeLocalizer[VolumeLocalization.Help.URL]"></i>
    </section>
    <input asp-for="URL" class="form-control" />
    <span asp-validation-for="URL" class="text-danger"></span>
</section>

<section name="@nameof(Model.LongDescription)">
    <section name="identifier">
        <label asp-for="LongDescription" class="control-label"></label>
        <i class="fa fa-question-circle" title="@volumeLocalizer[VolumeLocalization.Help.LONG_DESCRIPTION]"></i>
    </section>
    <textarea asp-for="LongDescription" class="form-control richtext"></textarea>
    <span asp-validation-for="LongDescription" class="text-danger"></span>
</section>

@{ Html.ViewData.TemplateInfo.HtmlFieldPrefix = "Tags"; }
@await Html.PartialAsync("_TagTypeTagPriorityInput", Model.Tags)