﻿@model ManicNet.Models.ChapterSummaryViewModel
@inject IStringLocalizer<ChapterLocalization> chapterLocalizer

<article name="chapter_summary" class="card">
    <header class="card-header">
        <div class="row">
            <section name="title" class="@(Model.HasSummaryToDisplay() ? "col-11" : "col-12")">
                <h4><a href="@Url.Action(Routing.Controllers.Chapter.Routes.VIEWER, Routing.Controllers.Chapter.CONTROLLER, new { area = Routing.Areas.GENERAL, id = Model.ChapterID })">Chapter @Model.Number @(String.IsNullOrWhiteSpace(Model.Title) ? string.Empty : " - " + @Model.Title)</a> <a href="@Url.Action(Routing.Controllers.Chapter.Routes.OVERVIEW, Routing.Controllers.Chapter.CONTROLLER, new { area = Routing.Areas.GENERAL, id = Model.ChapterID })"><i class="fas fa-info-circle" title="@chapterLocalizer[ChapterLocalization.CHAPTER_OVERVIEW]"></i></a></h4>
            </section>
            @if (Model.HasSummaryToDisplay())
            {
                <div class="col-1">
                    <a data-bs-toggle="collapse" href="@("#Collapsable"+@Model.ChapterID)" aria-expanded="@(Model.IsExpanded ? true : false)" class="@(Model.IsExpanded ? string.Empty : "collapsed")" aria-controls="@("Collapsable"+@Model.ChapterID)">
                        <div class="align_right"><i class="collapsing-icon fa fa-chevron-down" title="@chapterLocalizer[ChapterLocalization.TOGGLE_CHAPTER_SUMMARY]"></i></div>
                    </a>
                </div>
            }
        </div>
    </header>
    @if (Model.HasSummaryToDisplay())
    {
        <section name="information" id="@("Collapsable"+@Model.ChapterID)" class="card-body collapse @(Model.IsExpanded ? "show" : "hide")">
            @if (!String.IsNullOrWhiteSpace(Model.ShortDescription))
            {
                <section name="description" class="col-12">
                    <div><strong>@Html.DisplayNameFor(model => model.ShortDescription):</strong></div>
                    <div>@Model.ShortDescription</div>
                </section>
            }
            @if (Model.Tags.Any())
            {
                <section name="tags" class="col-12">
                    <tag-type-tag-list-view info="Model.Tags"></tag-type-tag-list-view>
                </section>
            }
        </section>
    }
</article>