﻿@model ManicNet.Models.ChapterViewModel
@inject IStringLocalizer<ChapterLocalization> chapterLocalizer

<div class="d-flex justify-content-center pt-3">
    <nav>
        <ul class="pagination pagination-lg">
            @if (Model.PreviousChapterID.HasValue)
            {
                <li class="page-item previous_chapter_link_container" style="@(Model.PreviousChapterID.HasValue ? string.Empty : "display:note")">
                    <a class="page-link previous_chapter_link" asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Chapter.CONTROLLER" asp-action="@Routing.Controllers.Chapter.Routes.VIEWER" asp-route-id="@Model.PreviousChapterID.Value">
                        <i class="fas fa-angle-double-left" title="@chapterLocalizer[ChapterLocalization.PREVIOUS_CHAPTER]"></i>
                    </a>
                </li>
            }

            @if ((Model.CurrentPageNumber - 1) >= 0)
            {
                <li class="page-item previous_page_link_container">
                    <a class="page-link previous_page_link" asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Chapter.CONTROLLER" asp-action="@Routing.Controllers.Chapter.Routes.VIEWER" asp-route-id="@Model.ChapterID" asp-route-page="@(Model.CurrentPageNumber - 1)">
                        <i class="fas fa-angle-left" title="@chapterLocalizer[ChapterLocalization.PREVIOUS_PAGE]"></i>
                    </a>
                </li>
            }
            else if (Model.PreviousChapterID.HasValue && ((Model.CurrentPageNumber - 1) < 0))
            {
                <li class="page-item previous_page_link_container">
                    <a class="page-link previous_page_link" asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Chapter.CONTROLLER" asp-action="@Routing.Controllers.Chapter.Routes.VIEWER" asp-route-id="@Model.PreviousChapterID" asp-route-page="@Model.PreviousChapterLastPage">
                        <i class="fas fa-angle-left" title="@chapterLocalizer[ChapterLocalization.LAST_PAGE_OF_PREVIOUS_CHAPTER]"></i>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item previous_page_link_container" style="display:none">
                    <a class="page-link previous_page_link">
                        <i class="fas fa-angle-left" title="@chapterLocalizer[ChapterLocalization.PREVIOUS_PAGE]"></i>
                    </a>
                </li>
            }

            @if ((Model.CurrentPageNumber + 1) < Model.Pages.Count())
            {
                <li class="page-item next_page_link_container">
                    <a class="page-link next_page_link" asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Chapter.CONTROLLER" asp-action="@Routing.Controllers.Chapter.Routes.VIEWER" asp-route-id="@Model.ChapterID" asp-route-page="@(Model.CurrentPageNumber + 1)">
                        <i class="fas fa-angle-right" title="@chapterLocalizer[ChapterLocalization.NEXT_PAGE]"></i>
                    </a>
                </li>
            }
            else if (Model.NextChapterID.HasValue && ((Model.CurrentPageNumber + 1) >= Model.Pages.Count()))
            {
                <li class="page-item next_page_link_container">
                    <a class="page-link next_page_link" asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Chapter.CONTROLLER" asp-action="@Routing.Controllers.Chapter.Routes.VIEWER" asp-route-id="@Model.NextChapterID">
                        <i class="fas fa-angle-right" title="@chapterLocalizer[ChapterLocalization.NEXT_CHAPTER]"></i>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item next_page_link_container" style="display:none">
                    <a class="page-link next_page_link">
                        <i class="fas fa-angle-right" title="@chapterLocalizer[ChapterLocalization.NEXT_PAGE]"></i>
                    </a>
                </li>
            }

            @if (Model.NextChapterID.HasValue)
            {
                <li class="page-item next_chapter_link_container">
                    <a class="page-link next_chapter_link" asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Chapter.CONTROLLER" asp-action="@Routing.Controllers.Chapter.Routes.VIEWER" asp-route-id="@Model.NextChapterID">
                        <i class="fas fa-angle-double-right" title="@chapterLocalizer[ChapterLocalization.NEXT_CHAPTER]"></i>
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>