﻿@model ManicNet.Models.ChapterDeletedSummaryViewModel
@inject IStringLocalizer<ChapterLocalization> chapterLocalizer

<article name="deleted_chapter_summary" class="card mb-3">
    <header class="card-header">
        <section name="title" class="row">
            <h4 class="col-12">
                <a href="@Url.Action(Routing.Controllers.Work.Routes.SHOW, Routing.Controllers.Work.CONTROLLER, new { area = Routing.Areas.GENERAL, id = Model.WorkID })">@Model.WorkTitle</a> -
                <a href="@Url.Action(Routing.Controllers.Volume.Routes.SHOW, Routing.Controllers.Volume.CONTROLLER, new { area = Routing.Areas.GENERAL, id = Model.VolumeID })">@Model.GetParentVolumeTitle()</a> -
                <a href="@Url.Action(Routing.Controllers.Chapter.Routes.OVERVIEW, Routing.Controllers.Chapter.CONTROLLER, new { area = Routing.Areas.GENERAL, id = Model.ChapterID })">@Model.GetTitle()</a> <a href="@Url.Action(Routing.Controllers.Chapter.Routes.OVERVIEW, Routing.Controllers.Chapter.CONTROLLER, new { area = Routing.Areas.GENERAL, id = Model.ChapterID })"><i class="fas fa-info-circle" title="@chapterLocalizer[ChapterLocalization.CHAPTER_OVERVIEW]"></i></a>
            </h4>
        </section>
    </header>
    <section name="details" class="card-body card-text row">
        @if (!String.IsNullOrWhiteSpace(Model.ShortDescription))
        {
            <section name="short_description" class="col-12">
                <div><strong>@Html.DisplayNameFor(model => model.ShortDescription):</strong></div>
                <div>@Model.ShortDescription</div>
            </section>
        }
        @if (Model.Tags.Any())
        {
            <section name="tags" class="col-12">
                <tag-type-tag-list-view info="Model.Tags"></tag-type-tag-list-view>
            </section>
        }
    </section>
</article>
