﻿@using X.PagedList.Mvc.Core;
@using ManicNet.Models;
@model ManicNet.Models.ChapterDeletedIndexViewModel
@inject IStringLocalizer<ChapterLocalization> chapterLocalizer

@if (!Model.Chapters.Any())
{
    <section>
        @chapterLocalizer[ChapterLocalization.NO_CHAPTERS_FOUND]
    </section>
}
else
{
    <section>
        @foreach (ChapterDeletedSummaryViewModel volume in Model.Chapters)
        {
            @await Html.PartialAsync("Chapter/_DeletedChapterSummaryView", volume)
        }
    </section>

    <section>
        <!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
        @Html.PagedListPager(Model.Chapters, pageNumber => Url.Action(Model.Path, new { pageNumber, volumeID = Model.VolumeID }),
        new X.PagedList.Web.Common.PagedListRenderOptions
        {
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" }
        })
    </section>
}