﻿@model ManicNet.Models.WorkModifyModel
@inject IStringLocalizer<WorkLocalization> workLocalizer

@{
    ViewData["Title"] = @workLocalizer[WorkLocalization.EDIT_WORK, Model.Title].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <header class="card-header">
        <div class="row">
            <section name="title" class="col-12 col-md-7 col-lg-9">
                <h1>@ViewData["Title"]</h1>
            </section>
            <section name="admin_buttons" class="col-12 col-md-5 col-lg-3 d-inline-flex flex-md-row-reverse">
                @if ((await AuthorizationService.Authorize(User, Policies.Administrator.EDIT_WORK)).Succeeded)
                {
                    <div>
                        <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Work.CONTROLLER" asp-action="@Routing.Controllers.Work.Routes.SOFT_DELETE">
                            <input asp-for="WorkID" name="id" type="hidden" />
                            <button type="submit" class="btn btn-danger text-nowrap deleteButton"><i class="fas fa-trash-alt" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.DELETE]</button>
                        </form>
                    </div>
                }

                <div>
                    <a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Work.CONTROLLER" asp-action="@Routing.Controllers.Work.Routes.SHOW" asp-route-id="@Model.WorkID" class="btn btn-info text-nowrap" role="button">
                        <i class="fas fa-eye" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.SHOW]
                    </a>
                </div>
            </section>
        </div>
    </header>
    <section class="card-body card-text form-row col-12">
        <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Work.CONTROLLER" asp-action="@Routing.Controllers.Work.Routes.EDIT" asp-route-id="" enctype="multipart/form-data">
            <input asp-for="WorkID" type="hidden" />

            <div class="col-12">

                @if (!string.IsNullOrWhiteSpace(Model.CoverImage))
                {
                    <section name="@nameof(Model.CoverImage)">
                        <section name="display">
                            <img src="@Model.CoverImage" asp-append-version="true" alt="@generalLocalizer[GeneralLocalization.COVER_TITLE, Model.Title]">
                        </section>
                        <section name="delete">
                            <label asp-for="DeleteCover"></label>
                            <input asp-for="DeleteCover" />
                        </section>
                    </section>
                }

                @await Html.PartialAsync("_WorkInput", Model)
                <div>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-edit" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.EDIT]</button>
                </div>
            </div>
        </form>
    </section>
</div>


<a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Work.CONTROLLER" asp-action="@Routing.Controllers.Work.Routes.INDEX">@generalLocalizer[GeneralLocalization.BACK_TO_LIST]</a>


@section Scripts{

}

