﻿navbar-brand {
    text-align: center;
    white-space: normal;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    min-height: 100%;
    position: relative;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
    bottom: 0;
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    position: absolute;
    white-space: nowrap;
    width: 100%;
    /* Set the fixed height of the footer here */
}

pre {
    white-space: pre-line; /* Since CSS 2.1 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

/* General Custom styles
-------------------------------------------------- */

@media (max-width:575px ) {
    .basics_field {
        font-weight: bold;
    }
}

@media (min-width:576px ) {
    .basics_field {
        font-weight: bold;
        text-align: right;
    }
}

@media (min-width:768px) {
    .title_button_holder {
        text-align: right;
    }
}


.summary_cover_image {
    max-height:150px;
}

.summary_cover_image_holder {
    padding-right: 5px;
}

.align_right {
    text-align: right
}

.collapsing-icon{
    transition: 0.3s transform ease-in-out;
}

.collapsed .collapsing-icon {
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */