﻿@using ManicNet.Services
@inject ManicNetUserManager UserManager

@{
    Guid RSSKey = await UserManager.GetRSSKeyAsync(User);
}

<!--RSS Feeds-->

@if (RSSKey != Guid.Empty)
{
    <link href="@Url.Action(Routing.Controllers.Work.Routes.RSS, Routing.Controllers.Work.CONTROLLER, new { area = Routing.Areas.GENERAL, rssKey = RSSKey })" rel="alternate" title="@generalLocalizer[GeneralLocalization.RECENTLY_UPDATED_WORKS_FEED]" type="rss+xml" />
    <link href="@Url.Action(Routing.Controllers.Work.Routes.RSS, Routing.Controllers.Work.CONTROLLER, new { area = Routing.Areas.GENERAL, newOnly = true, rssKey = RSSKey })" rel="alternate" title="@generalLocalizer[GeneralLocalization.RECENTLY_ADDED_WORKS_FEED]" type="rss+xml" />

    @if (!String.IsNullOrWhiteSpace(Context.Request.Query["search"]))
    {
        <link href="@Url.Action(Routing.Controllers.Work.Routes.RSS, Routing.Controllers.Work.CONTROLLER, new { area = Routing.Areas.GENERAL, search = Context.Request.Query["search"], rssKey = RSSKey })" rel="alternate" title="@generalLocalizer[GeneralLocalization.RECENTLY_UPDATED_FEED, Context.Request.Query["search"]]" type="rss+xml" />
        <link href="@Url.Action(Routing.Controllers.Work.Routes.RSS, Routing.Controllers.Work.CONTROLLER, new { area = Routing.Areas.GENERAL, newOnly = true, search = Context.Request.Query["search"], rssKey = RSSKey })" rel="alternate" title="@generalLocalizer[GeneralLocalization.RECENTLY_ADDDED_FEED, Context.Request.Query["search"]]" type="rss+xml" />
    }
    else if (!String.IsNullOrWhiteSpace((string)Context.Items[RSSIdentifiers.TAG_RSS_IDENTIFIER]))
    {
        <link href="@Url.Action(Routing.Controllers.Work.Routes.RSS, Routing.Controllers.Work.CONTROLLER, new { area = Routing.Areas.GENERAL, search = (string)Context.Items[RSSIdentifiers.TAG_RSS_IDENTIFIER], rssKey = RSSKey })" rel="alternate" title="@generalLocalizer[GeneralLocalization.RECENTLY_UPDATED_FEED, (string)Context.Items[RSSIdentifiers.TAG_RSS_IDENTIFIER]]" type="rss+xml" />
        <link href="@Url.Action(Routing.Controllers.Work.Routes.RSS, Routing.Controllers.Work.CONTROLLER, new { area = Routing.Areas.GENERAL, newOnly = true, search = (string)Context.Items[RSSIdentifiers.TAG_RSS_IDENTIFIER], rssKey = RSSKey })" rel="alternate" title="@generalLocalizer[GeneralLocalization.RECENTLY_ADDDED_FEED, (string)Context.Items[RSSIdentifiers.TAG_RSS_IDENTIFIER]]" type="rss+xml" />
    }

    @if (((Guid?)Context.Items[RSSIdentifiers.COLLECTION_RSS_IDENTIFIER]) != null && ((Guid?)Context.Items[RSSIdentifiers.COLLECTION_RSS_IDENTIFIER]) != Guid.Empty)
    {
        <link href="@Url.Action(Routing.Controllers.Work.Routes.RSS, Routing.Controllers.Work.CONTROLLER, new { area = Routing.Areas.GENERAL, id = (Guid)Context.Items[RSSIdentifiers.COLLECTION_RSS_IDENTIFIER], rssKey = RSSKey })" rel="alternate" title="@generalLocalizer[GeneralLocalization.FEED, ((string)Context.Items[RSSIdentifiers.COLLECTION_RSS_NAME])]" type="rss+xml" />
    }
}
else
{
    <link href="@Url.Action(Routing.Controllers.Work.Routes.RSS, Routing.Controllers.Work.CONTROLLER, new { area = Routing.Areas.GENERAL })" rel="alternate" title="@generalLocalizer[GeneralLocalization.RECENTLY_UPDATED_WORKS_FEED]" type="rss+xml" />
    <link href="@Url.Action(Routing.Controllers.Work.Routes.RSS, Routing.Controllers.Work.CONTROLLER, new { area = Routing.Areas.GENERAL, newOnly = true })" rel="alternate" title="@generalLocalizer[GeneralLocalization.RECENTLY_ADDED_WORKS_FEED]" type="rss+xml" />

    @if (!String.IsNullOrWhiteSpace(Context.Request.Query["search"]))
    {
        <link href="@Url.Action(Routing.Controllers.Work.Routes.RSS, Routing.Controllers.Work.CONTROLLER, new { area = Routing.Areas.GENERAL, search = Context.Request.Query["search"] })" rel="alternate" title="@generalLocalizer[GeneralLocalization.RECENTLY_UPDATED_FEED, Context.Request.Query["search"]]" type="rss+xml" />
        <link href="@Url.Action(Routing.Controllers.Work.Routes.RSS, Routing.Controllers.Work.CONTROLLER, new { area = Routing.Areas.GENERAL, newOnly = true, search = Context.Request.Query["search"] })" rel="alternate" title="@generalLocalizer[GeneralLocalization.RECENTLY_ADDDED_FEED, Context.Request.Query["search"]]" type="rss+xml" />
    }
    else if (!String.IsNullOrWhiteSpace((string)Context.Items[RSSIdentifiers.TAG_RSS_IDENTIFIER]))
    {
        <link href="@Url.Action(Routing.Controllers.Work.Routes.RSS, Routing.Controllers.Work.CONTROLLER, new { area = Routing.Areas.GENERAL, search = (string)Context.Items[RSSIdentifiers.TAG_RSS_IDENTIFIER] })" rel="alternate" title="@generalLocalizer[GeneralLocalization.RECENTLY_UPDATED_FEED, (string)Context.Items[RSSIdentifiers.TAG_RSS_IDENTIFIER]]" type="rss+xml" />
        <link href="@Url.Action(Routing.Controllers.Work.Routes.RSS, Routing.Controllers.Work.CONTROLLER, new { area = Routing.Areas.GENERAL, newOnly = true, search = (string)Context.Items[RSSIdentifiers.TAG_RSS_IDENTIFIER] })" rel="alternate" title="@generalLocalizer[GeneralLocalization.RECENTLY_ADDDED_FEED, (string)Context.Items[RSSIdentifiers.TAG_RSS_IDENTIFIER]]" type="rss+xml" />
    }

    @if (((Guid?)Context.Items[RSSIdentifiers.COLLECTION_RSS_IDENTIFIER]) != null && ((Guid?)Context.Items[RSSIdentifiers.COLLECTION_RSS_IDENTIFIER]) != Guid.Empty)
    {
        <link href="@Url.Action(Routing.Controllers.Work.Routes.RSS, Routing.Controllers.Work.CONTROLLER, new { area = Routing.Areas.GENERAL, id = (Guid)Context.Items[RSSIdentifiers.COLLECTION_RSS_IDENTIFIER] })" rel="alternate" title="@generalLocalizer[GeneralLocalization.FEED, ((string)Context.Items[RSSIdentifiers.COLLECTION_RSS_NAME])]" type="rss+xml" />
    }
}