﻿@using ManicNet.Services
@inject ManicNetUserManager UserManager

@{
    Guid RSSKey = await UserManager.GetRSSKeyAsync(User);
}

<!-- Modal -->
<div class="modal fade" id="RSSModal" tabindex="-1" role="dialog" aria-labelledby="RSSModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="RSSModalLabel">@generalLocalizer[GeneralLocalization.RSS_FEED]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @if (RSSKey != Guid.Empty)
                {
                    @if (!String.IsNullOrWhiteSpace(Context.Request.Query["search"]))
                    {
                        <h6>@generalLocalizer[GeneralLocalization.SEARCH]</h6>
                        <div><a href="@Url.Action(Routing.Controllers.Work.Routes.RSS, Routing.Controllers.Work.CONTROLLER, new { area = Routing.Areas.GENERAL, search = Context.Request.Query["search"], rssKey = RSSKey })">@generalLocalizer[GeneralLocalization.RECENTLY_UPDATED_FEED, Context.Request.Query["search"]] <i class="fas fa-rss" aria-hidden="true"></i></a></div>
                        <div><a href="@Url.Action(Routing.Controllers.Work.Routes.RSS, Routing.Controllers.Work.CONTROLLER, new { area = Routing.Areas.GENERAL, newOnly = true, search = Context.Request.Query["search"], rssKey = RSSKey })">@generalLocalizer[GeneralLocalization.RECENTLY_ADDDED_FEED, Context.Request.Query["search"]] <i class="fas fa-rss" aria-hidden="true"></i></a></div>
                        <br />
                    }
                    else if (!String.IsNullOrWhiteSpace((string)Context.Items[RSSIdentifiers.TAG_RSS_IDENTIFIER]))
                    {
                        <h6>@generalLocalizer[GeneralLocalization.TAG]</h6>
                        <div><a href="@Url.Action(Routing.Controllers.Work.Routes.RSS, Routing.Controllers.Work.CONTROLLER, new { area = Routing.Areas.GENERAL, search = (string)Context.Items[RSSIdentifiers.TAG_RSS_IDENTIFIER], rssKey = RSSKey })">@generalLocalizer[GeneralLocalization.RECENTLY_UPDATED_FEED, (string)Context.Items[RSSIdentifiers.TAG_RSS_IDENTIFIER]] <i class="fas fa-rss" aria-hidden="true"></i></a></div>
                        <div><a href="@Url.Action(Routing.Controllers.Work.Routes.RSS, Routing.Controllers.Work.CONTROLLER, new { area = Routing.Areas.GENERAL, newOnly = true, search = (string)Context.Items[RSSIdentifiers.TAG_RSS_IDENTIFIER], rssKey = RSSKey })">@generalLocalizer[GeneralLocalization.RECENTLY_ADDDED_FEED, (string)Context.Items[RSSIdentifiers.TAG_RSS_IDENTIFIER]] <i class="fas fa-rss" aria-hidden="true"></i></a></div>
                        <br />
                    }

                    @if (((Guid?)Context.Items[RSSIdentifiers.COLLECTION_RSS_IDENTIFIER]) != null && ((Guid?)Context.Items[RSSIdentifiers.COLLECTION_RSS_IDENTIFIER]) != Guid.Empty)
                    {
                        <h6>@generalLocalizer[GeneralLocalization.WORK]</h6>
                        <div><a href="@Url.Action(Routing.Controllers.Work.Routes.RSS, Routing.Controllers.Work.CONTROLLER, new { area = Routing.Areas.GENERAL, id = (Guid)Context.Items[RSSIdentifiers.COLLECTION_RSS_IDENTIFIER], rssKey = RSSKey })">@generalLocalizer[GeneralLocalization.FEED, (string)Context.Items[RSSIdentifiers.COLLECTION_RSS_NAME]] <i class="fas fa-rss" aria-hidden="true"></i></a></div>
                        <br />
                    }

                    <h6>@generalLocalizer[GeneralLocalization.GENERAL]</h6>
                    <div><a href="@Url.Action(Routing.Controllers.Work.Routes.RSS, Routing.Controllers.Work.CONTROLLER, new { area = Routing.Areas.GENERAL, rssKey = RSSKey })">@generalLocalizer[GeneralLocalization.RECENTLY_UPDATED_WORKS_FEED] <i class="fas fa-rss" aria-hidden="true"></i></a></div>
                    <div><a href="@Url.Action(Routing.Controllers.Work.Routes.RSS, Routing.Controllers.Work.CONTROLLER, new { area = Routing.Areas.GENERAL, newOnly = true, rssKey = RSSKey })">@generalLocalizer[GeneralLocalization.RECENTLY_ADDED_WORKS_FEED] <i class="fas fa-rss" aria-hidden="true"></i></a></div>
                }
                else
                {
                    @if (!String.IsNullOrWhiteSpace(Context.Request.Query["search"]))
                    {
                        <h6>@generalLocalizer[GeneralLocalization.SEARCH]</h6>
                        <div><a href="@Url.Action(Routing.Controllers.Work.Routes.RSS, Routing.Controllers.Work.CONTROLLER, new { area = Routing.Areas.GENERAL, search = Context.Request.Query["search"] })">@generalLocalizer[GeneralLocalization.RECENTLY_UPDATED_FEED, Context.Request.Query["search"]] <i class="fas fa-rss" aria-hidden="true"></i></a></div>
                        <div><a href="@Url.Action(Routing.Controllers.Work.Routes.RSS, Routing.Controllers.Work.CONTROLLER, new { area = Routing.Areas.GENERAL, newOnly = true, search = Context.Request.Query["search"] })">@generalLocalizer[GeneralLocalization.RECENTLY_ADDDED_FEED, Context.Request.Query["search"]] <i class="fas fa-rss" aria-hidden="true"></i></a></div>
                        <br />
                    }
                    else if (!String.IsNullOrWhiteSpace((string)Context.Items[RSSIdentifiers.TAG_RSS_IDENTIFIER]))
                    {
                        <h6>@generalLocalizer[GeneralLocalization.TAG]</h6>
                        <div><a href="@Url.Action(Routing.Controllers.Work.Routes.RSS, Routing.Controllers.Work.CONTROLLER, new { area = Routing.Areas.GENERAL, search = (string)Context.Items[RSSIdentifiers.TAG_RSS_IDENTIFIER] })">@generalLocalizer[GeneralLocalization.RECENTLY_UPDATED_FEED, (string)Context.Items[RSSIdentifiers.TAG_RSS_IDENTIFIER]] <i class="fas fa-rss" aria-hidden="true"></i></a></div>
                        <div><a href="@Url.Action(Routing.Controllers.Work.Routes.RSS, Routing.Controllers.Work.CONTROLLER, new { area = Routing.Areas.GENERAL, newOnly = true, search = (string)Context.Items[RSSIdentifiers.TAG_RSS_IDENTIFIER] })">@generalLocalizer[GeneralLocalization.RECENTLY_ADDDED_FEED, (string)Context.Items[RSSIdentifiers.TAG_RSS_IDENTIFIER]] <i class="fas fa-rss" aria-hidden="true"></i></a></div>
                        <br />
                    }

                    @if (((Guid?)Context.Items[RSSIdentifiers.COLLECTION_RSS_IDENTIFIER]) != null && ((Guid?)Context.Items[RSSIdentifiers.COLLECTION_RSS_IDENTIFIER]) != Guid.Empty)
                    {
                        <h6>@generalLocalizer[GeneralLocalization.WORK]</h6>
                        <div><a href="@Url.Action(Routing.Controllers.Work.Routes.RSS, Routing.Controllers.Work.CONTROLLER, new { area = Routing.Areas.GENERAL, id = (Guid)Context.Items[RSSIdentifiers.COLLECTION_RSS_IDENTIFIER] })">@generalLocalizer[GeneralLocalization.FEED, (string)Context.Items[RSSIdentifiers.COLLECTION_RSS_NAME]]<i class="fas fa-rss" aria-hidden="true"></i></a></div>
                        <br />
                    }

                    <h6>@generalLocalizer[GeneralLocalization.GENERAL]</h6>
                    <div><a href="@Url.Action(Routing.Controllers.Work.Routes.RSS, Routing.Controllers.Work.CONTROLLER, new { area = Routing.Areas.GENERAL })">@generalLocalizer[GeneralLocalization.RECENTLY_UPDATED_WORKS_FEED] <i class="fas fa-rss" aria-hidden="true"></i></a></div>
                    <div><a href="@Url.Action(Routing.Controllers.Work.Routes.RSS, Routing.Controllers.Work.CONTROLLER, new { area = Routing.Areas.GENERAL, newOnly = true })">@generalLocalizer[GeneralLocalization.RECENTLY_ADDED_WORKS_FEED] <i class="fas fa-rss" aria-hidden="true"></i></a></div>
                }
            </div>
        </div>
    </div>
</div>