﻿@model ManicNet.Models.CollectionWorkAddModel
@inject IStringLocalizer<CollectionLocalization> collectionLocalizer

@{
    ViewData["Title"] = @collectionLocalizer[CollectionLocalization.ADD_WORK_TO_COLLECTION].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="card">
    <header name="title" class="card-header">
        <h1>@ViewData["Title"]</h1>
    </header>
    <section class="card-body card-text form-row col-12">
        <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Collection.CONTROLLER" asp-action="@Routing.Controllers.Collection.Routes.ADD_WORK" asp-route-id="" enctype="multipart/form-data">
            <div class="col-12">
                <input asp-for="CollectionID" name="CollectionID" type="hidden" />
                <div asp-validation-summary="All" class="text-danger"></div>

                <section name="@nameof(Model.WorkID)">
                    <section name="identifier">
                        <label asp-for="WorkID" class="control-label"></label>
                        <i class="fa fa-question-circle" aria-hidden="true" title="@collectionLocalizer[CollectionLocalization.Help.WORK_ID]"></i>
                    </section>
                    <input asp-for="WorkID" class="form-control col-12" />
                    <span asp-validation-for="WorkID" class="text-danger col-12"></span>
                </section>

                <section name="@nameof(Model.Number)">
                    <section name="identifier">
                        <label asp-for="Number" class="control-label"></label>
                        <i class="fa fa-question-circle" aria-hidden="true" title="@collectionLocalizer[CollectionLocalization.Help.NUMBER]"></i>
                    </section>
                    <input asp-for="Number" class="form-control" />
                    <span asp-validation-for="Number" class="text-danger"></span>
                </section>

                <div>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-plus" aria-hidden="true"></i> @collectionLocalizer[CollectionLocalization.ADD_WORK]</button>
                </div>
            </div>
        </form>
    </section>
</section>

<a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Collection.CONTROLLER" asp-action="@Routing.Controllers.Collection.Routes.SHOW" asp-route-id="@Model.CollectionID">@collectionLocalizer[CollectionLocalization.BACK_TO_COLLECTION]</a>

@section Scripts{

}