﻿@model ManicNet.Models.CollectionModifyModel
@inject IStringLocalizer<CollectionLocalization> collectionLocalizer

@{
    ViewData["Title"] = @collectionLocalizer[CollectionLocalization.CREATE_NEW_COLLECTION].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="card">
    <header name="title" class="card-header">
        <h1>@ViewData["Title"]</h1>
    </header>
    <section class="card-body card-text form-row col-12">
        <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Collection.CONTROLLER" asp-action="@Routing.Controllers.Collection.Routes.CREATE" asp-route-id="" enctype="multipart/form-data">
            <div class="col-12">
                @await Html.PartialAsync("_CollectionInput", Model)

                <div>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-plus" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.CREATE]</button>
                </div>
            </div>
        </form>
    </section>
</section>

<a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Collection.CONTROLLER" asp-action="@Routing.Controllers.Collection.Routes.INDEX">@generalLocalizer[GeneralLocalization.BACK_TO_LIST]</a>

@section Scripts{

}