﻿@model ManicNet.Models.CollectionModifyModel
@inject IStringLocalizer<CollectionLocalization> collectionLocalizer

@{
    ViewData["Title"] = @collectionLocalizer[CollectionLocalization.EDIT_COLLECTION, Model.Title].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="card">
    <header class="card-header">
        <div class="row">
            <section name="title" class="col-12 col-md-7 col-lg-9">
                <h1>@ViewData["Title"]</h1>
            </section>
            <section name="admin_buttons" class="col-12 col-md-5 col-lg-3 d-inline-flex flex-md-row-reverse">
                @if ((await AuthorizationService.Authorize(User, Policies.Administrator.EDIT_COLLECTION)).Succeeded)
                {
                    <div>
                        <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Collection.CONTROLLER" asp-action="@Routing.Controllers.Collection.Routes.SOFT_DELETE">
                            <input asp-for="CollectionID" name="id" type="hidden" />
                            <button type="submit" class="btn btn-danger text-nowrap deleteButton"><i class="fas fa-trash-alt" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.DELETE]</button>
                        </form>
                    </div>
                }

                <div>
                    <a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Collection.CONTROLLER" asp-action="@Routing.Controllers.Collection.Routes.SHOW" asp-route-id="@Model.CollectionID" class="btn btn-info text-nowrap" role="button">
                        <i class="fas fa-eye" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.SHOW]
                    </a>
                </div>
            </section>
        </div>
    </header>

    <section class="card-body card-text form-row col-12">
        <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Collection.CONTROLLER" asp-action="@Routing.Controllers.Collection.Routes.EDIT" asp-route-id="" enctype="multipart/form-data">
            <input asp-for="@Model.CollectionID" type="hidden" />
            <div class="col-12">
                @await Html.PartialAsync("_CollectionInput", Model)

                @if (Model.Works.Any())
                {
                    <section name="works">
                        <header>
                            <h2>Works</h2>
                        </header>
                        @for (int i = 0; i < Model.Works.Count(); i++)
                        {
                            <section class="row">
                                <section name="delete" class="col-3 col-md-2">
                                    <input type="checkbox" asp-for="@Model.Works[i].Delete" />
                                    <label asp-for="@Model.Works[i].Delete"></label>
                                    <span asp-validation-for="@Model.Works[i].Delete" class="text-danger"></span>
                                </section>
                                <section name="number" class="col-3">
                                    <input asp-for="@Model.Works[i].Number" class="form-control" />
                                    <span asp-validation-for="@Model.Works[i].Number" class="text-danger"></span>
                                </section>
                                <section name="link" class="col-6 col-md-7"><a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Work.CONTROLLER" asp-action="@Routing.Controllers.Work.Routes.SHOW" asp-route-id="@Model.Works[i].WorkID">@Model.Works[i].Title</a></section>

                                <input asp-for="@Model.Works[i].CollectionID" type="hidden" />
                                <input asp-for="@Model.Works[i].WorkID" type="hidden" />
                                <input asp-for="@Model.Works[i].Title" type="hidden" />
                            </section>
                        }
                    </section>
                }

                <div>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-edit" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.EDIT]</button>
                </div>
            </div>
        </form>
    </section>
</section>

<a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Collection.CONTROLLER" asp-action="@Routing.Controllers.Collection.Routes.INDEX">@generalLocalizer[GeneralLocalization.BACK_TO_LIST]</a>

@section Scripts{

}