﻿@inject IStringLocalizer<CollectionLocalization> collectionLocalizer

@{
    ViewData["Title"] = collectionLocalizer[CollectionLocalization.COLLECTION_ADMINISTRATION].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>@ViewData["Title"]</h1>

@if ((await AuthorizationService.Authorize(User, Policies.Generic.MANAGE_COLLECTION)).Succeeded)
{
    <section class="card mb-3">
        <h2 class="card-header">@generalLocalizer[GeneralLocalization.COLLECTIONS]</h2>
        <div class="card-body">
            <div class="card-text">
                <div class="row col-12">
                    @if ((await AuthorizationService.Authorize(User, Policies.Administrator.EDIT_COLLECTION)).Succeeded)
                    {
                        <div class="col-6 col-md-4 col-lg-3">
                            <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Collection.CONTROLLER" asp-action="@Routing.Controllers.Collection.Routes.CREATE">
                                <div><i class="fas fa-plus fa-7x" aria-hidden="true"></i></div>
                                <div>@collectionLocalizer[CollectionLocalization.CREATE_COLLECTION]</div>
                            </a>
                        </div>
                    }

                    @if ((await AuthorizationService.Authorize(User, Policies.Administrator.VIEW_DELETED_WORK)).Succeeded)
                    {
                        <div class="col-6 col-md-4 col-lg-3">
                            <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Collection.CONTROLLER" asp-action="@Routing.Controllers.Collection.Routes.DELETED">
                                <div><i class="fas fa-trash-alt fa-7x" aria-hidden="true"></i></div>
                                <div>@generalLocalizer[GeneralLocalization.VIEW_DELETED]</div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
}