﻿@inject IStringLocalizer<ConfigurationLocalization> configurationLocalizer

@{
    ViewData["Title"] = configurationLocalizer[ConfigurationLocalization.CacheConfiguration.CONFIGURATION_ADMINISTRATION].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

@if ((await AuthorizationService.Authorize(User, Policies.Generic.MANAGE_CACHING_CONFIGURATION_GENERIC)).Succeeded)
{
    <section class="card mb-3">
        <h2 class="card-header">@generalLocalizer[GeneralLocalization.CACHE]</h2>
        <div class="card-body">
            <div class="card-text">
                <div class="row col-12">
                    @if ((await AuthorizationService.Authorize(User, Policies.Owner.MANAGE_CACHE_CONFIGURATIONS)).Succeeded)
                    {
                        <div class="col-6 col-md-4 col-lg-3">
                            <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.CacheConfiguration.CONTROLLER" asp-action="@Routing.Controllers.CacheConfiguration.Routes.MANAGE">
                                <div><i class="fas fa-cog fa-7x" aria-hidden="true"></i></div>
                                <div>@generalLocalizer[GeneralLocalization.MANAGE]</div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
}