﻿@using ManicNet.Constants;
@inject IStringLocalizer<GeneralLocalization> generalStringLocalizer

@{
    ViewData["Title"] = generalStringLocalizer[GeneralLocalization.ADMINISTRATION].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <h1 class="card-header">@ViewData["Title"]</h1>
    <div class="card-body">
        <div class="card-text">
            <article>
                <div class="row">
                    @if ((await AuthorizationService.Authorize(User, Policies.Generic.MANAGE_USER_PERMISSION)).Succeeded)
                    {
                        <div class="col-6 col-md-4 col-lg-3">
                            <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Home.CONTROLLER" asp-action="@Routing.Controllers.Home.Routes.USERS">
                                <div><i class="fas fa-users fa-7x" aria-hidden="true"></i></div>
                                <div>@generalLocalizer[GeneralLocalization.USERS]</div>
                            </a>
                        </div>
                    }

                    @if ((await AuthorizationService.Authorize(User, Policies.Generic.MANAGE_TAG_GENERIC)).Succeeded)
                    {
                        <div class="col-6 col-md-4 col-lg-3">
                            <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Home.CONTROLLER" asp-action="@Routing.Controllers.Home.Routes.TAGS">
                                <div><i class="fas fa-tags fa-7x" aria-hidden="true"></i></div>
                                <div>@generalLocalizer[GeneralLocalization.TAGS]</div>
                            </a>
                        </div>
                    }

                    @if ((await AuthorizationService.Authorize(User, Policies.Generic.MANAGE_WORK)).Succeeded)
                    {
                        <div class="col-6 col-md-4 col-lg-3">
                            <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Home.CONTROLLER" asp-action="@Routing.Controllers.Home.Routes.WORKS">
                                <div><i class="fas fa-book fa-7x" aria-hidden="true"></i></div>
                                <div>@generalLocalizer[GeneralLocalization.WORKS]</div>
                            </a>
                        </div>
                    }

                    @if ((await AuthorizationService.Authorize(User, Policies.Generic.MANAGE_COLLECTION)).Succeeded)
                    {
                        <div class="col-6 col-md-4 col-lg-3">
                            <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Home.CONTROLLER" asp-action="@Routing.Controllers.Home.Routes.COLLECTIONS">
                                <div><i class="fas fa-book-reader fa-7x" aria-hidden="true"></i></div>
                                <div>@generalLocalizer[GeneralLocalization.COLLECTIONS]</div>
                            </a>
                        </div>
                    }

                    @if ((await AuthorizationService.Authorize(User, Policies.Generic.MANAGE_CONFIGURATION_GENERIC)).Succeeded)
                    {
                        <div class="col-6 col-md-4 col-lg-3">
                            <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Home.CONTROLLER" asp-action="@Routing.Controllers.Home.Routes.CONFIGURATIONS">
                                <div><i class="fas fa-cogs fa-7x" aria-hidden="true"></i></div>
                                <div>@generalLocalizer[GeneralLocalization.CONFIGURATIONS]</div>
                            </a>
                        </div>
                    }

                    @if ((await AuthorizationService.Authorize(User, Policies.Generic.MANAGE_SOCIAL_LINK)).Succeeded)
                    {
                         <div class="col-6 col-md-4 col-lg-3">
                            <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Home.CONTROLLER" asp-action="@Routing.Controllers.Home.Routes.SOCIAL_LINKS">
                                <div><i class="fas fa-link fa-7x" aria-hidden="true"></i></div>
                                <div>@generalLocalizer[GeneralLocalization.SOCIAL_LINKS]</div>
                            </a>
                        </div>   
                    }
                </div>
            </article>
        </div>
    </div>
</div>