﻿@inject IStringLocalizer<SocialLocalization> socialLocalizer
@inject IStringLocalizer<TagTypeLocalization> tagTypeLocalizer

@{
    ViewData["Title"] = socialLocalizer[SocialLocalization.SOCIAL_LINK_ADMINISTRATION].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>@ViewData["Title"]</h1>

@if ((await AuthorizationService.Authorize(User, Policies.Generic.MANAGE_SOCIAL_LINK)).Succeeded)
{
    <section class="card mb-3">
        <h2 class="card-header">@generalLocalizer[GeneralLocalization.SOCIAL_LINKS]</h2>
        <div class="card-body">
            <div class="card-text">
                <div class="row col-12">
                        <div class="col-6 col-md-4 col-lg-3">
                            <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.SocialLinks.CONTROLLER" asp-action="@Routing.Controllers.SocialLinks.Routes.INDEX">
                                <div><i class="fas fa-list fa-7x" aria-hidden="true"></i></div>
                                <div>@generalLocalizer[GeneralLocalization.INDEX]</div>
                            </a>
                        </div>
                        @if ((await AuthorizationService.Authorize(User, Policies.Administrator.EDIT_SOCIAL_LINK)).Succeeded)
                        {
                            <div class="col-6 col-md-4 col-lg-3">
                            <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.SocialLinks.CONTROLLER" asp-action="@Routing.Controllers.SocialLinks.Routes.CREATE">
                                <div><i class="fas fa-plus fa-7x" aria-hidden="true"></i></div>
                                <div>@tagTypeLocalizer[SocialLocalization.CREATE_SOCIAL_LINK]</div>
                            </a>
                        </div>
                        }
                        @if ((await AuthorizationService.Authorize(User, Policies.Administrator.VIEW_DELETED_SOCIAL_LINK)).Succeeded)
                        {
                            <div class="col-6 col-md-4 col-lg-3">
                            <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.SocialLinks.CONTROLLER" asp-action="@Routing.Controllers.SocialLinks.Routes.DELETED">
                                <div><i class="fas fa-trash fa-7x" aria-hidden="true"></i></div>
                                <div>@generalLocalizer[GeneralLocalization.VIEW_DELETED]</div>
                            </a>
                        </div>
                        }
                </div>
            </div>
        </div>
    </section>
}