﻿@inject IStringLocalizer<TagLocalization> tagLocalizer
@inject IStringLocalizer<TagTypeLocalization> tagTypeLocalizer

@{
    ViewData["Title"] = tagLocalizer[TagLocalization.TAG_ADMINISTRATION].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>@ViewData["Title"]</h1>

@if ((await AuthorizationService.Authorize(User, Policies.Generic.MANAGE_TAG_TYPE)).Succeeded)
{
    <section class="card mb-3">
        <h2 class="card-header">@generalLocalizer[GeneralLocalization.TAG_TYPES]</h2>
        <div class="card-body">
            <div class="card-text">
                <div class="row col-12">
                    @if ((await AuthorizationService.Authorize(User, Policies.Administrator.EDIT_TAG_TYPE)).Succeeded)
                    {
                        <div class="col-6 col-md-4 col-lg-3">
                            <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.TagType.CONTROLLER" asp-action="@Routing.Controllers.TagType.Routes.CREATE">
                                <div class="fa-stack fa-4x">
                                    <i class="fas fa-tags fa-stack-2x" aria-hidden="true"></i>
                                    <i class="fas fa-plus fa-stack-1x fa-inverse" aria-hidden="true"></i>
                                </div>
                                <div>@tagTypeLocalizer[TagTypeLocalization.CREATE_TAG_TYPE]</div>
                            </a>
                        </div>
                    }

                    @if ((await AuthorizationService.Authorize(User, Policies.Administrator.VIEW_DELETED_TAG_TYPE)).Succeeded)
                    {
                        <div class="col-6 col-md-4 col-lg-3">
                            <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.TagType.CONTROLLER" asp-action="@Routing.Controllers.TagType.Routes.DELETED">
                                <div class="fa-stack fa-4x">
                                    <i class="fas fa-tags fa-stack-2x" aria-hidden="true"></i>
                                    <i class="fas fa-trash-alt fa-stack-1x fa-inverse" aria-hidden="true"></i>
                                </div>
                                <div>@generalLocalizer[GeneralLocalization.VIEW_DELETED]</div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
}

@if ((await AuthorizationService.Authorize(User, Policies.Generic.MANAGE_TAG)).Succeeded)
{
    <section class="card mb-3">
        <h2 class="card-header">@generalLocalizer[GeneralLocalization.TAGS]</h2>
        <div class="card-body">
            <div class="card-text">
                <div class="row col-12">
                    @if ((await AuthorizationService.Authorize(User, Policies.Administrator.EDIT_TAG)).Succeeded)
                    {
                        <div class="col-6 col-md-4 col-lg-3">
                            <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Tag.CONTROLLER" asp-action="@Routing.Controllers.Tag.Routes.CREATE">
                                <div class="fa-stack fa-4x">
                                    <i class="fas fa-tag fa-stack-2x" aria-hidden="true"></i>
                                    <i class="fas fa-plus fa-stack-1x fa-inverse" aria-hidden="true"></i>
                                </div>
                                <div>@tagLocalizer[TagLocalization.CREATE_TAG]</div>
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Tag.CONTROLLER" asp-action="@Routing.Controllers.Tag.Routes.BULK_CREATE">
                                <div class="fa-stack fa-4x">
                                    <i class="fas fa-tag fa-stack-2x" aria-hidden="true"></i>
                                    <i class="fas fa-plus-circle fa-stack-1x fa-inverse" aria-hidden="true"></i>
                                </div>
                                <div>@tagLocalizer[TagLocalization.BULK_CREATE_TAGS]</div>
                            </a>
                        </div>
                    }
                    @if ((await AuthorizationService.Authorize(User, Policies.Administrator.VIEW_DELETED_TAG)).Succeeded)
                    {
                        <div class="col-6 col-md-4 col-lg-3">
                            <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Tag.CONTROLLER" asp-action="@Routing.Controllers.Tag.Routes.DELETED">
                                <div class="fa-stack fa-4x">
                                    <i class="fas fa-tag fa-stack-2x" aria-hidden="true"></i>
                                    <i class="fas fa-trash-alt fa-stack-1x fa-inverse" aria-hidden="true"></i>
                                </div>
                                <div>@generalLocalizer[GeneralLocalization.VIEW_DELETED]</div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
}