﻿@using ManicNet.Constants;
@using Microsoft.Extensions.Options;
@using ManicNet.Domain.Models;
@inject IOptions<ManicNetSettings> manicNetSettings;
@inject IStringLocalizer<UserLocalization> userLocalizer
@inject IStringLocalizer<RoleLocalization> roleLocalizer
@inject IStringLocalizer<RegistrationInviteLocalization> registrationInviteLocalizer


@{
    ViewData["Title"] = userLocalizer[UserLocalization.USER_ADMINISTRATION].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

@if ((await AuthorizationService.Authorize(User, Policies.Generic.MANAGE_USER_PERMISSION)).Succeeded)
{
    <section class="card mb-3">
        <h2 class="card-header">@userLocalizer[UserLocalization.MEMBER_ADMINISTRATION]</h2>
        <div class="card-body">
            <div class="card-text">
                <div class="row col-12">
                    @if ((await AuthorizationService.Authorize(User, Policies.Generic.MANAGE_USER_PERMISSION)).Succeeded)
                    {
                        <div class="col-6 col-md-4 col-lg-3">
                            <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.User.CONTROLLER" asp-action="@Routing.Controllers.User.Routes.INDEX">
                                <div><i class="fas fa-users fa-7x" aria-hidden="true"></i></div>
                                <div>@generalLocalizer[GeneralLocalization.USERS]</div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
}

@if ((await AuthorizationService.Authorize(User, Policies.Generic.MANAGE_ROLE_PERMISSION)).Succeeded)
{
    <section class="card mb-3">
        <h2 class="card-header">@roleLocalizer[RoleLocalization.ROLE_ADAMINISTRATION]</h2>
        <div class="card-body">
            <div class="card-text">
                <div class="row col-12">
                    @if ((await AuthorizationService.Authorize(User, Policies.Generic.MANAGE_ROLE_PERMISSION)).Succeeded)
                    {
                        <div class="col-6 col-md-4 col-lg-3">
                            <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Role.CONTROLLER" asp-action="@Routing.Controllers.Role.Routes.INDEX">
                                <div><i class="fas fa-id-badge fa-7x" aria-hidden="true"></i></div>
                                <div>@roleLocalizer[RoleLocalization.ROLES]</div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
}

@if (manicNetSettings.Value.Registration.RequiresInvite && (await AuthorizationService.Authorize(User, Policies.Generic.MANAGE_REGISTRATION_INVITE)).Succeeded)
{
    <section class="card mb-3">
        <h2 class="card-header">@registrationInviteLocalizer[RegistrationInviteLocalization.INVITE_ADMINISTRATION]</h2>
        <div class="card-body">
            <div class="card-text">
                <div class="row col-12">
                    @if ((await AuthorizationService.Authorize(User, Policies.Administrator.EDIT_REGISTRATION_INVITE)).Succeeded)
                    {
                        <div class="col-6 col-md-4 col-lg-3">
                            <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.RegistrationInvite.CONTROLLER" asp-action="@Routing.Controllers.RegistrationInvite.Routes.CREATE">
                                <div><i class="fas fa-plus fa-7x" aria-hidden="true"></i></div>
                                <div>@registrationInviteLocalizer[RegistrationInviteLocalization.CREATE_INVITE]</div>
                            </a>
                        </div>
                    }

                    @if ((await AuthorizationService.Authorize(User, Policies.Generic.MANAGE_REGISTRATION_INVITE)).Succeeded)
                    {
                        <div class="col-6 col-md-4 col-lg-3">
                            <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.RegistrationInvite.CONTROLLER" asp-action="@Routing.Controllers.RegistrationInvite.Routes.PENDING">
                                <div><i class="fas fa-clock fa-7x" aria-hidden="true"></i></div>
                                <div>@registrationInviteLocalizer[RegistrationInviteLocalization.PENDING_REGISTRATION_INVITES]</div>
                            </a>
                        </div>
                    }

                    @if ((await AuthorizationService.Authorize(User, Policies.Owner.DELETE_REGISTRATION_INVITE)).Succeeded)
                    {
                        <div class="col-6 col-md-4 col-lg-3">
                            <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.RegistrationInvite.CONTROLLER" asp-action="@Routing.Controllers.RegistrationInvite.Routes.APPROVED">
                                <div><i class="fas fa-check fa-7x" aria-hidden="true"></i></div>
                                <div>@registrationInviteLocalizer[RegistrationInviteLocalization.APPROVED_REGISTRATION_INVITES]</div>
                            </a>
                        </div>
                    }

                    @if ((await AuthorizationService.Authorize(User, Policies.Generic.MANAGE_REGISTRATION_INVITE)).Succeeded)
                    {
                        <div class="col-6 col-md-4 col-lg-3">
                            <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.RegistrationInvite.CONTROLLER" asp-action="@Routing.Controllers.RegistrationInvite.Routes.EXPIRED">
                                <div><i class="fas fa-times fa-7x" aria-hidden="true"></i></div>
                                <div>@registrationInviteLocalizer[RegistrationInviteLocalization.EXPIRED_REGISTRATION_INVITES]</div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
}
