﻿@inject IStringLocalizer<WorkLocalization> workLocalizer
@inject IStringLocalizer<VolumeLocalization> volumeLocalizer

@{
    ViewData["Title"] = workLocalizer[WorkLocalization.WORK_ADMINISTRATION].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>@ViewData["Title"]</h1>

@if ((await AuthorizationService.Authorize(User, Policies.Generic.MANAGE_WORK)).Succeeded)
{
    <section class="card mb-3">
        <h2 class="card-header">@generalLocalizer[GeneralLocalization.WORKS]</h2>
        <div class="card-body">
            <div class="card-text">
                <div class="row col-12">
                    @if ((await AuthorizationService.Authorize(User, Policies.Administrator.EDIT_WORK)).Succeeded)
                    {
                        <div class="col-6 col-md-4 col-lg-3">
                            <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Work.CONTROLLER" asp-action="@Routing.Controllers.Work.Routes.CREATE">
                                <div><i class="fas fa-plus fa-7x" aria-hidden="true"></i></div>
                                <div>@workLocalizer[WorkLocalization.CREATE_WORK]</div>
                            </a>
                        </div>
                    }

                    @if ((await AuthorizationService.Authorize(User, Policies.Administrator.VIEW_DELETED_WORK)).Succeeded)
                    {
                        <div class="col-6 col-md-4 col-lg-3">
                            <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Work.CONTROLLER" asp-action="@Routing.Controllers.Work.Routes.DELETED">
                                <div><i class="fas fa-trash-alt fa-7x" aria-hidden="true"></i></div>
                                <div>@generalLocalizer[GeneralLocalization.VIEW_DELETED]</div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
}

@if ((await AuthorizationService.Authorize(User, Policies.Generic.MANAGE_WORK)).Succeeded)
{
    <section class="card mb-3">
        <h2 class="card-header">@generalLocalizer[GeneralLocalization.VOLUMES]</h2>
        <div class="card-body">
            <div class="card-text">
                <div class="row col-12">
                    @if ((await AuthorizationService.Authorize(User, Policies.Administrator.VIEW_DELETED_WORK)).Succeeded)
                    {
                        <div class="col-6 col-md-4 col-lg-3">
                            <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Volume.CONTROLLER" asp-action="@Routing.Controllers.Volume.Routes.DELETED">
                                <div><i class="fas fa-trash-alt fa-7x" aria-hidden="true"></i></div>
                                <div>@generalLocalizer[GeneralLocalization.VIEW_DELETED]</div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
}

@if ((await AuthorizationService.Authorize(User, Policies.Generic.MANAGE_WORK)).Succeeded)
{
    <section class="card mb-3">
        <h2 class="card-header">@generalLocalizer[GeneralLocalization.CHAPTERS]</h2>
        <div class="card-body">
            <div class="card-text">
                <div class="row col-12">
                    @if ((await AuthorizationService.Authorize(User, Policies.Administrator.VIEW_DELETED_WORK)).Succeeded)
                    {
                        <div class="col-6 col-md-4 col-lg-3">
                            <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Chapter.CONTROLLER" asp-action="@Routing.Controllers.Chapter.Routes.DELETED">
                                <div><i class="fas fa-trash-alt fa-7x" aria-hidden="true"></i></div>
                                <div>@generalLocalizer[GeneralLocalization.VIEW_DELETED]</div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
}