﻿@model ManicNet.Models.CacheConfigurationManageModel
@inject IStringLocalizer<ConfigurationLocalization> configurationLocalizer

@{
    ViewData["Title"] = configurationLocalizer[ConfigurationLocalization.CacheConfiguration.CACHE_CONFIGURATIONS].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article>
    <header class="row">
        <section name="title" class="col-12 col-md-7 col-lg-8">
            <h1>@ViewData["Title"]</h1>
        </section>
        <hr />
    </header>

    @if (Model.cacheConfigurations.Any())
    {
        <div asp-validation-summary="All" class="text-danger"></div>

        <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.CacheConfiguration.CONTROLLER" asp-action="@Routing.Controllers.CacheConfiguration.Routes.MANAGE" asp-route-id="">

            <section class="row">
                <section class="col-3"><strong>@generalLocalizer[GeneralLocalization.SECTION]</strong></section>
                <section class="col-3"><strong>@generalLocalizer[GeneralLocalization.LOOKUP]</strong></section>
                <section class="col-3"><strong>@generalLocalizer[GeneralLocalization.TYPE]</strong></section>
                <section class="col-3"><strong>@generalLocalizer[GeneralLocalization.LENGTH]</strong></section>
            </section>

            @for (int i = 0; i < Model.cacheConfigurations.Count(); i++)
            {
                <section class="row">
                    <input asp-for="@Model.cacheConfigurations[i].CacheConfigurationID" type="hidden" />
                    <input asp-for="@Model.cacheConfigurations[i].SectionID" type="hidden" />
                    <input asp-for="@Model.cacheConfigurations[i].SectionText" type="hidden" />
                    <input asp-for="@Model.cacheConfigurations[i].LookupTypeID" type="hidden" />
                    <input asp-for="@Model.cacheConfigurations[i].LookupTypeText" type="hidden" />

                    <section name="section" class="col-3">@Model.cacheConfigurations[i].SectionText</section>
                    <section name="lookup" class="col-3">@Model.cacheConfigurations[i].LookupTypeText</section>
                    <section name="length_type" class="col-3">
                        <select asp-for="@Model.cacheConfigurations[i].LengthTypeID" class="form-control" asp-items="Model.cacheConfigurations[i].LengthTypes"></select>
                    </section>
                    <section name="length" class="col-3">
                        <input asp-for="@Model.cacheConfigurations[i].Length" class="form-control col-12" />
                        <span asp-validation-for="@Model.cacheConfigurations[i].Length" class="text-danger col-12"></span>
                    </section>
                </section>
            }

            <div>
                <button type="submit" class="btn btn-primary"><i class="fas fa-edit" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.EDIT]</button>
            </div>
        </form>
    }
    else
    {
        <section>
            @configurationLocalizer[ConfigurationLocalization.CacheConfiguration.NO_CACHE_CONFIGURATIONS_FOUND]
        </section>
    }
</article>