﻿@model ManicNet.Models.VolumeSummaryViewModel
@inject IStringLocalizer<VolumeLocalization> volumeLocalizer

<article name="deleted_volume_summary" class="card mb-3">
    <header class="card-header">
        <div class="row">
            <section name="title" class="@(Model.HasSummaryToDisplay() ? "col-11" : "col-12")">
                <h4><a href="@Url.Action(Routing.Controllers.Volume.Routes.SHOW, Routing.Controllers.Volume.CONTROLLER, new { area = Routing.Areas.GENERAL, id = Model.VolumeID })">@Model.WorkTitle - Volume @Model.Number @(String.IsNullOrWhiteSpace(Model.Title) ? string.Empty : " - " + @Model.Title)</a></h4>
            </section>
            @if (Model.HasSummaryToDisplay())
            {
                <!--https://disjfa.github.io/bootstrap-tricks/card-collapse-tricks/-->
                <div class="col-1">
                    <a data-bs-toggle="collapse" href="@("#Collapsable"+@Model.VolumeID)" aria-expanded="true" aria-controls="@("Collapsable"+@Model.VolumeID)">
                        <div class="align_right">
                            <h4><i class="collapsing-icon fa fa-chevron-down" title="@volumeLocalizer[VolumeLocalization.TOGGLE_VOLUME_SUMMARY]"></i></h4>
                        </div>
                    </a>
                </div>
            }
        </div>
    </header>
    <section name="details" id="@("Collapsable"+@Model.VolumeID)" class="card-body card-text row collapse show">
        @if (!String.IsNullOrWhiteSpace(Model.Cover.Thumbnail))
        {
            <section name="cover" class="col-12 col-md-2 summary_cover_image_holder">
                <a href="@Url.Action(Routing.Controllers.Volume.Routes.SHOW, Routing.Controllers.Volume.CONTROLLER, new { area = Routing.Areas.GENERAL, id = Model.VolumeID })"><img src="@Model.Cover.Thumbnail" asp-append-version="true" class="img-fluid rounded summary_cover_image" alt="@generalLocalizer[GeneralLocalization.COVER_TITLE, Model.Title]"></a>
            </section>
        }
        <section name="details" class="@(!String.IsNullOrWhiteSpace(Model.Cover.Thumbnail) ? "col-12 col-md-10" : "col-12")">
            @if (!String.IsNullOrWhiteSpace(Model.ShortDescription))
            {
                <section name="description">
                    <div><strong>@Html.DisplayNameFor(model => model.ShortDescription):</strong></div>
                    <div>@Model.ShortDescription</div>
                </section>
            }
            <section name="tags">
                <tag-type-tag-list-view info="Model.Tags"></tag-type-tag-list-view>
            </section>
        </section>
    </section>
</article>