﻿@using X.PagedList.Mvc.Core;
@using ManicNet.Models;
@model ManicNet.Models.VolumeIndexViewModel
@inject IStringLocalizer<VolumeLocalization> volumeLocalizer

@if (!Model.Volumes.Any())
{
    <section>
        @volumeLocalizer[VolumeLocalization.NO_VOLUMES_FOUND]
    </section>
}
else
{
    <section>
        @foreach (VolumeSummaryViewModel volume in Model.Volumes)
        {
            @await Html.PartialAsync("Volume/_DeletedVolumeSummaryView", volume)
        }
    </section>

    <section>
        <!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
        @Html.PagedListPager(Model.Volumes, pageNumber => Url.Action(Model.Path, new { pageNumber, workID = Model.WorkID }),
        new X.PagedList.Web.Common.PagedListRenderOptions
        {
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" }
        })
    </section>
}