﻿@model ManicNet.Models.RequestInviteCreationModel
@inject IStringLocalizer<RegistrationInviteLocalization> registrationInviteLocalizer

@{
    ViewData["Title"] = registrationInviteLocalizer[RegistrationInviteLocalization.CREATE_INVITE].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="card">
    <header class="card-header">
        <h1>@ViewData["Title"]</h1>
    </header>
    <section class="card-body">
        <header class="card-title">
            <h4>@registrationInviteLocalizer[RegistrationInviteLocalization.CREATE_AN_INVITE_TO_A_NEW_ACCOUNT]</h4>
        </header>
        <section class="card-text">
            <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.RegistrationInvite.CONTROLLER" asp-action="@Routing.Controllers.RegistrationInvite.Routes.CREATE" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <section name="@nameof(Model.Email)">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </section>
                <section name="@nameof(Model.Note)">
                    <label asp-for="Note"></label>
                    <textarea asp-for="Note" class="form-control richtext"></textarea>
                    <span asp-validation-for="Note" class="text-danger"></span>
                </section>
                <button type="submit" class="btn btn-primary">@registrationInviteLocalizer[RegistrationInviteLocalization.REQUEST_INVITE]</button>
            </form>
        </section>
    </section>
</section>
