﻿@using X.PagedList.Mvc.Core;
@model ManicNet.Models.RegistrationInviteListViewModel
@inject IStringLocalizer<RegistrationInviteLocalization> registrationInviteLocalizer

@{
    ViewData["Title"] = registrationInviteLocalizer[RegistrationInviteLocalization.PENDING_REGISTRATION_INVITES].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article>
    <header>
        <h1>@ViewData["Title"]</h1>
    </header>

    @if (!Model.invites.Any())
    {
        <section>@registrationInviteLocalizer[RegistrationInviteLocalization.NO_REGISTRATION_INVITES_FOUND]</section>
    }
    else
    {
        <section>
            <table class="table">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.invites.FirstOrDefault().Email)</th>
                    <th>@Html.DisplayNameFor(model => model.invites.FirstOrDefault().Note)</th>
                    <th></th>
                </tr>
                <tbody>
                    @foreach (var item in Model.invites)
                    {
                        <tr>
                            <td>
                                <a href="mailto:@Html.DisplayFor(modelItem => item.Email)">@Html.DisplayFor(modelItem => item.Email)</a>
                            </td>
                            <td>
                                <div>@Html.Raw(item.Note)</div>
                            </td>
                            <td>
                                @if ((await AuthorizationService.Authorize(User, Policies.Administrator.EDIT_REGISTRATION_INVITE)).Succeeded)
                                {
                                    <div>
                                        <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.RegistrationInvite.CONTROLLER" asp-action="@Routing.Controllers.RegistrationInvite.Routes.APPROVE">
                                            <input id="RegistrationInviteID" name="RegistrationInviteID" value="@item.RegistrationInviteID" type="hidden" />
                                            <input id="Callback" name="Callback" value="Pending" type="hidden" />
                                            <button type="submit" class="btn btn-success"><i class="fas fa-check" aria-hidden="true"></i> @registrationInviteLocalizer[RegistrationInviteLocalization.APPROVE]</button>
                                        </form>
                                    </div>
                                }
                                @if ((await AuthorizationService.Authorize(User, Policies.Owner.DELETE_REGISTRATION_INVITE)).Succeeded)
                                {
                                    <div>
                                        <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.RegistrationInvite.CONTROLLER" asp-action="@Routing.Controllers.RegistrationInvite.Routes.DELETE">
                                            <input id="RegistrationInviteID" name="RegistrationInviteID" value="@item.RegistrationInviteID" type="hidden" />
                                            <input id="Callback" name="Callback" value="Pending" type="hidden" />
                                            <button type="submit" class="btn btn-danger deleteButton"><i class="fas fa-trash-alt" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.DELETE]</button>
                                        </form>
                                    </div>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
        <section>
            <!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
            @Html.PagedListPager(Model.invites, pageNumber => Url.Action("Pending", new { pageNumber }),
            new X.PagedList.Web.Common.PagedListRenderOptions
            {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" }
            })
        </section>
    }
</article>