﻿@model ManicNet.Models.VolumeModifyModel
@inject IStringLocalizer<VolumeLocalization> volumeLocalizer

@{
    ViewData["Title"] = volumeLocalizer[VolumeLocalization.CREATE_VOLUME].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="card">
    <header name="title" class="card-header">
        <h1>@ViewData["Title"]</h1>
    </header>
    <section class="card-body card-text form-row col-12">
        <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Volume.CONTROLLER" asp-action="@Routing.Controllers.Volume.Routes.CREATE" asp-route-id="" enctype="multipart/form-data">
            <input asp-for="WorkID" type="hidden" />
            <div class="col-12">
                @await Html.PartialAsync("_VolumeInput", Model)

                <div>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-plus" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.CREATE]</button>
                </div>
            </div>
        </form>
    </section>
</section>

<a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Work.CONTROLLER" asp-action="@Routing.Controllers.Work.Routes.SHOW" asp-route-id="@Model.WorkID">@generalLocalizer[GeneralLocalization.BACK_TO_PARENT_WORK]</a>

@section Scripts{

}

