﻿@model ManicNet.Models.VolumeIndexViewModel
@inject IStringLocalizer<VolumeLocalization> volumeLocalizer

@{
    ViewData["Title"] = volumeLocalizer[VolumeLocalization.DELETED_VOLUMES].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="row">
    <section name="title" class="col-12 col-md-7 col-lg-8">
        <h1>@ViewData["Title"]</h1>
    </section>

    <section name="admin_buttons" class="col-12 col-md-5 col-lg-4 d-inline-flex flex-md-row-reverse">
        <div>
            <a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Work.CONTROLLER" asp-action="@Routing.Controllers.Work.Routes.INDEX" class="btn btn-light text-nowrap" role="button">
                <i class="fas fa-list" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.INDEX]
            </a>
        </div>
    </section>
</header>

@if (Model.WorkID.HasValue)
{
    <h5>@volumeLocalizer[VolumeLocalization.PARENT_WORK]: <a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Work.CONTROLLER" asp-action="@Routing.Controllers.Work.Routes.SHOW" asp-route-id="@Model.WorkID">@Model.WorkTitle</a></h5>
}

@await Html.PartialAsync("Volume/_Index", Model)