﻿@model ManicNet.Models.VolumeModifyModel
@inject IStringLocalizer<VolumeLocalization> volumeLocalizer

@{
    ViewData["Title"] = string.IsNullOrWhiteSpace(Model.Title) ? volumeLocalizer[VolumeLocalization.EDIT_VOLUME, Model.Number].ToString() : volumeLocalizer[VolumeLocalization.EDIT_VOLUME_WITH_TITLE, Model.Number, Model.Title].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="card">
    <header class="card-header">
        <div class="row">
            <section name="title" class="col-12 col-md-7 col-lg-9">
                <h1>@ViewData["Title"]</h1>
            </section>
            <section name="admin_buttons" class="col-12 col-md-5 col-lg-3 d-inline-flex flex-md-row-reverse">
                @if ((await AuthorizationService.Authorize(User, Policies.Administrator.EDIT_WORK)).Succeeded)
                {
                    <div>
                        <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Volume.CONTROLLER" asp-action="@Routing.Controllers.Volume.Routes.SOFT_DELETE">
                            <input asp-for="VolumeID" name="id" type="hidden" />
                            <button type="submit" class="btn btn-danger text-nowrap deleteButton"><i class="fas fa-trash-alt" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.DELETE]</button>
                        </form>
                    </div>
                }

                <div>
                    <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Volume.CONTROLLER" asp-action="@Routing.Controllers.Volume.Routes.MIGRATE" asp-route-id="@Model.VolumeID" class="btn btn-secondary text-nowrap" role="button">
                        <i class="fas fa-route" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.MIGRATE]
                    </a>
                </div>

                <div>
                    <a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Volume.CONTROLLER" asp-action="@Routing.Controllers.Volume.Routes.SHOW" asp-route-id="@Model.VolumeID" class="btn btn-info text-nowrap" role="button">
                        <i class="fas fa-eye" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.SHOW]
                    </a>
                </div>
            </section>
        </div>
    </header>
    <section class="card-body card-text form-row col-12">
        <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Volume.CONTROLLER" asp-action="@Routing.Controllers.Volume.Routes.EDIT" asp-route-id="" enctype="multipart/form-data">
            <input asp-for="WorkID" type="hidden" />
            <input asp-for="VolumeID" type="hidden" />

            <div class="col-12">
                @if (!string.IsNullOrWhiteSpace(Model.CoverImage))
                {
                    <section name="@nameof(Model.CoverImage)">
                        <section name="display">
                            <img src="@Model.CoverImage" asp-append-version="true" alt="@generalLocalizer[GeneralLocalization.COVER_TITLE, Model.Title]">
                        </section>
                        <section name="delete">
                            <label asp-for="DeleteCover"></label>
                            <input asp-for="DeleteCover" />
                        </section>
                    </section>
                }

                @await Html.PartialAsync("_VolumeInput", Model)
                <div>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-edit" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.EDIT]</button>
                </div>
            </div>
        </form>
    </section>
</section>

<a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Work.CONTROLLER" asp-action="@Routing.Controllers.Work.Routes.SHOW" asp-route-id="@Model.WorkID">@generalLocalizer[GeneralLocalization.BACK_TO_PARENT_WORK]</a>

@section Scripts{
    
}

