﻿@model ManicNet.Models.VolumeMigrationModel
@inject IStringLocalizer<VolumeLocalization> volumeLocalizer

@{
    ViewData["Title"] = volumeLocalizer[VolumeLocalization.MIGRATE_VOLUME, Model.Name].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="card">
    <header class="card-header">
        <div class="row">
            <section name="title" class="col-12 col-md-7 col-lg-9">
                <h1>@ViewData["Title"]</h1>
            </section>
            <section name="admin_buttons" class="col-12 col-md-5 col-lg-3 d-inline-flex flex-md-row-reverse">
                @if ((await AuthorizationService.Authorize(User, Policies.Administrator.EDIT_TAG)).Succeeded)
                {
                    <div>
                        <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Volume.CONTROLLER" asp-action="@Routing.Controllers.Volume.Routes.EDIT" asp-route-id="@Model.VolumeID" class="btn btn-success text-nowrap" role="button">
                            <i class="fas fa-edit" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.EDIT]
                        </a>
                    </div>
                }

                <div>
                    <a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Volume.CONTROLLER" asp-action="@Routing.Controllers.Volume.Routes.SHOW" asp-route-id="@Model.VolumeID" class="btn btn-info text-nowrap" role="button">
                        <i class="fas fa-eye" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.SHOW]
                    </a>
                </div>
            </section>
        </div>
    </header>
    <section class="card-body card-text form-row col-12">
        <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Volume.CONTROLLER" asp-action="@Routing.Controllers.Volume.Routes.MIGRATE" asp-route-id="">
            <input asp-for="VolumeID" type="hidden" />
            <input asp-for="Name" type="hidden" />
            <div class="col-12">
                <section name="@nameof(Model.WorkID)">
                    <section name="identifier">
                        <label asp-for="WorkID" class="control-label"></label>
                        <i class="fa fa-question-circle" title="@volumeLocalizer[VolumeLocalization.Help.MIGRATE_VOLUME]"></i>
                    </section>
                    <input asp-for="WorkID" class="form-control" />
                    <span asp-validation-for="WorkID" class="text-danger"></span>
                </section>
                <section name="@nameof(Model.Number)">
                    <section name="identifier">
                        <label asp-for="Number" class="control-label"></label>
                        <i class="fa fa-question-circle" title="@volumeLocalizer[VolumeLocalization.Help.NUMBER]"></i>
                    </section>
                    <input asp-for="Number" class="form-control" />
                    <span asp-validation-for="Number" class="text-danger"></span>
                </section>

                <div>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-route" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.MIGRATE]</button>
                </div>
            </div>
        </form>
    </section>
</section>

@section Scripts{

}