﻿@model ManicNet.Models.CollectionSummaryViewModel

<article name="collection_summary" class="card mb-3">
    <header section="title" class="card-header">
        <h4><a href="@Url.Action(Routing.Controllers.Collection.Routes.SHOW, Routing.Controllers.Collection.CONTROLLER, new { area = Routing.Areas.GENERAL, id = Model.CollectionID })">@Model.Title</a></h4>
    </header>
    <section name="details" class="card-body card-text row">
        <section name="work_count" class="col-12">
            <span><strong>@Html.DisplayNameFor(model => model.WorkCount):</strong></span>
            <span>@Model.WorkCount</span>
        </section>

        @if (!String.IsNullOrWhiteSpace(Model.ShortDescription))
        {
            <section name="short_description" class="col-12">
                <span><strong>@Html.DisplayNameFor(model => model.ShortDescription):</strong></span>
                <span>@Model.ShortDescription</span>
            </section>
        }
    </section>
</article>