﻿@model ManicNet.Models.CollectionWorkViewModel
@inject IStringLocalizer<CollectionLocalization> collectionLocalizer

<article name="collection_work_summary" class="card">
    <header class="card-header row">
        <section name="title" class="@(Model.HasSummaryToDisplay() ? "col-11" : "col-12")">
            <h4>@Model.Number - <a href="@Url.Action(Routing.Controllers.Work.Routes.SHOW, Routing.Controllers.Work.CONTROLLER, new { area = Routing.Areas.GENERAL, id = Model.WorkID })">@Model.Title</a></h4>
        </section>
        @if (Model.HasSummaryToDisplay())
        {
            <div class="col-1">
                <a data-bs-toggle="collapse" href="@("#Collapsable"+@Model.WorkID)" aria-expanded="@(Model.IsExpanded ? true : false)" class="@(Model.IsExpanded ? string.Empty : "collapsed")" aria-controls="@("Collapsable"+@Model.WorkID)">
                    <div class="align_right">
                        <h4><i class="collapsing-icon fa fa-chevron-down" title="@collectionLocalizer[CollectionLocalization.TOGGLE_WORK_SUMMARY]"></i></h4>
                    </div>
                </a>
            </div>
        }
    </header>
    <section id="@("Collapsable"+@Model.WorkID)" class="collapse @(Model.IsExpanded ? "show" : "hide")">
        @if (Model.HasSummaryToDisplay())
        {
            <div class="card-body card-text row">
                @if (!String.IsNullOrWhiteSpace(Model.Cover.Thumbnail))
                {
                    <section name="cover_image" class="col-12 col-md-2 summary_cover_image_holder">
                        <a href="@Url.Action(Routing.Controllers.Work.Routes.SHOW, Routing.Controllers.Work.CONTROLLER, new { area = Routing.Areas.GENERAL, id = Model.WorkID })"><img src="@Model.Cover.Thumbnail" asp-append-version="true" class="img-fluid rounded summary_cover_image" alt="@generalLocalizer[GeneralLocalization.COVER_TITLE, Model.Title]"></a>
                    </section>
                }
                <section name="details" class="@(!String.IsNullOrWhiteSpace(Model.Cover.Thumbnail) ? "col-12 col-md-10" : "col-12")">
                    @if (!String.IsNullOrWhiteSpace(Model.ShortDescription))
                    {
                        <section name="short_description">
                            <div><strong>@Html.DisplayNameFor(model => model.ShortDescription):</strong></div>
                            <div>@Model.ShortDescription</div>
                        </section>
                    }
                    <section name="tags">
                        <tag-type-tag-list-view info="Model.Tags"></tag-type-tag-list-view>
                    </section>
                </section>
            </div>
        }
    </section>
</article>