﻿@using X.PagedList.Mvc.Core;
@using ManicNet.Models;
@model ManicNet.Models.CollectionIndexViewModel
@inject IStringLocalizer<CollectionLocalization> collectionLocalizer

@if (!Model.Collections.Any())
{
    <section>
        @collectionLocalizer[CollectionLocalization.NO_COLLECTIONS_FOUND]
    </section>
}
else
{
    <section>
        @foreach (CollectionSummaryViewModel work in Model.Collections)
        {
            @await Html.PartialAsync("Collection/_CollectionSummaryView", work)
        }
    </section>

    <section>
        <!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
        @Html.PagedListPager(Model.Collections, pageNumber => Url.Action(Model.Path, new { pageNumber }),
        new X.PagedList.Web.Common.PagedListRenderOptions
        {
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" }
        })
    </section>
}