﻿@model ManicNet.Models.WorkCollectionViewModel
@inject IStringLocalizer<WorkLocalization> workLocalizer

<article name="work_collection_summary" class="card">
    <header class="card-header">
        <div class="row">
            <section name="title" class="@(Model.HasSummaryToDisplay() ? "col-11" : "col-12")">
                <h4><a href="@Url.Action(Routing.Controllers.Collection.Routes.SHOW, Routing.Controllers.Collection.CONTROLLER, new { area = Routing.Areas.GENERAL, id = Model.CollectionID })">@Model.Title</a></h4>
            </section>
            @if (Model.HasSummaryToDisplay())
            {
                <div class="col-1">
                    <!--https://disjfa.github.io/bootstrap-tricks/card-collapse-tricks/-->
                    <a data-bs-toggle="collapse" href="@("#Collapsable"+@Model.CollectionID)" aria-expanded="@(Model.IsExpanded ? true : false)" class="@(Model.IsExpanded ? string.Empty : "collapsed")" aria-controls="@("Collapsable"+@Model.CollectionID)">
                        <div class="align_right">
                            <h4><i class="collapsing-icon fa fa-chevron-down" title="@workLocalizer[WorkLocalization.TOGGLE_COLLECTION_SUMMARY]"></i></h4>
                        </div>
                    </a>
                </div>
            }
        </div>
    </header>
    <div id="@("Collapsable"+@Model.CollectionID)" class="collapse @(Model.IsExpanded ? "show" : "hide")">
        @if (Model.HasSummaryToDisplay())
        {
            <section class="card-body card-text row col-12">
                @if (!String.IsNullOrWhiteSpace(Model.ShortDescription))
                {
                    <section name="name" work_collection_summary_short_description"">
                        <div><strong>@Html.DisplayNameFor(model => model.ShortDescription):</strong></div>
                        <div>@Model.ShortDescription</div>
                    </section>
                }
            </section>
        }
    </div>
</article>