﻿@model ManicNet.Models.CollectionViewModel
@inject IStringLocalizer<CollectionLocalization> collectionLocalizer

@{
    ViewData["Title"] = collectionLocalizer[CollectionLocalization.COLLECTION_TITLE, Model.Title].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article>
    <header class="row">
        <section name="title" class="col-12 col-md-7 col-lg-9">
            <h1>
                @Model.Title
                @if (Model.IsDeleted)
                {
                    <i class="far fa-trash-alt" title="@generalLocalizer[GeneralLocalization.DELETED]"></i>
                }
            </h1>
        </section>

        <section name="admin_buttons" class="col-12 col-md-5 col-lg-3 d-inline-flex flex-md-row-reverse">
            @if (Model.IsDeleted && (await AuthorizationService.Authorize(User, Policies.Owner.DELETE_COLLECTION)).Succeeded)
            {
                <div>
                    <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Collection.CONTROLLER" asp-action="@Routing.Controllers.Collection.Routes.DELETE">
                        <input asp-for="CollectionID" name="id" type="hidden" />
                        <div>
                            <button type="submit" class="btn btn-danger text-nowrap deleteButton"><i class="fas fa-trash-alt" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.DELETE]</button>
                        </div>
                    </form>
                </div>
            }

            @if ((await AuthorizationService.Authorize(User, Policies.Administrator.EDIT_COLLECTION)).Succeeded)
            {
                @if (Model.IsDeleted)
                {
                    <div>
                        <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Collection.CONTROLLER" asp-action="@Routing.Controllers.Collection.Routes.RESTORE">
                            <input asp-for="CollectionID" name="id" type="hidden" />
                            <button type="submit" class="btn btn-dark text-nowrap"><i class="fas fa-trash-restore-alt" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.RESTORE]</button>
                        </form>
                    </div>
                }
                else if (!Model.IsDeleted)
                {
                    <div>
                        <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Collection.CONTROLLER" asp-action="@Routing.Controllers.Collection.Routes.EDIT" asp-route-id="@Model.CollectionID" class="btn btn-success text-nowrap" role="button">
                            <i class="fas fa-edit" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.EDIT]
                        </a>
                    </div>
                }
            }
        </section>
    </header>

    @if (!(String.IsNullOrWhiteSpace(Model.ShortDescription) && String.IsNullOrWhiteSpace(Model.URL)))
    {
        <section name="basics" class="card mb-3">
            <header class="card-header">
                <h3>@generalLocalizer[GeneralLocalization.BASICS]</h3>
            </header>
            <section name="details" class="card-body card-text row col-12">
                @if (!String.IsNullOrWhiteSpace(Model.ShortDescription))
                {
                    <section name="short_description">
                        <div><strong>@Html.DisplayNameFor(model => model.ShortDescription):</strong></div>
                        <div>@Model.ShortDescription</div>
                    </section>
                }

                @if (!String.IsNullOrWhiteSpace(Model.URL))
                {
                    <section name="url"><strong>@Html.DisplayNameFor(model => model.URL):</strong> <a href="@Model.URL">@generalLocalizer[GeneralLocalization.SOURCE]</a></section>
                }
            </section>
        </section>
    }

    @if (!String.IsNullOrWhiteSpace(Model.LongDescription))
    {
        <section name="long_description" class="card mb-3">
            <header class="card-header">
                <h3>@Html.DisplayNameFor(model => model.LongDescription)</h3>
            </header>
            <section class="card-body card-text row col-12">
                @Html.Raw(Model.LongDescription)
            </section>
        </section>
    }

    @if (!Model.Works.Any())
    {
        <section name="admin_buttons" class="col-12 d-inline-flex flex-row-reverse">
            @if (!Model.IsDeleted && (await AuthorizationService.Authorize(User, Policies.Administrator.EDIT_COLLECTION)).Succeeded)
            {
                <div>
                    <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Collection.CONTROLLER" asp-action="@Routing.Controllers.Collection.Routes.ADD_WORK" asp-route-id="@Model.CollectionID" class="btn btn-success text-nowrap" role="button">
                        <i class="fas fa-plus" aria-hidden="true"></i> @collectionLocalizer[CollectionLocalization.ADD_WORK]
                    </a>
                </div>
            }
        </section>
    }

    @if (Model.Works.Any())
    {
        <section name="works" class="card mb-3">
            <header class="card-header">
                <div class="row">
                    <section name="title" class="col-12 col-md-7 col-lg-9">
                        <h3>@generalLocalizer[GeneralLocalization.WORKS]</h3>
                    </section>
                    <section name="admin_buttons" class="col-12 col-md-5 col-lg-3 d-inline-flex flex-md-row-reverse">
                        @if (!Model.IsDeleted && (await AuthorizationService.Authorize(User, Policies.Administrator.EDIT_COLLECTION)).Succeeded)
                        {
                            <div>
                                <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Collection.CONTROLLER" asp-action="@Routing.Controllers.Collection.Routes.ADD_WORK" asp-route-id="@Model.CollectionID" class="btn btn-success text-nowrap">
                                    <i class="fas fa-plus" aria-hidden="true"></i> @collectionLocalizer[CollectionLocalization.ADD_WORK]
                                </a>
                            </div>
                        }
                    </section>
                </div>
            </header>
            <section class="card-body card-text">
                @foreach (var work in Model.Works)
                {
                    @await Html.PartialAsync("Collection/_CollectionWorkSummaryView", work)
                }
            </section>
        </section>
    }
</article>