﻿@model ManicNet.Models.TagTypeViewModel
@inject IStringLocalizer<TagTypeLocalization> tagTypeLocalizer

@{
    ViewData["Title"] = tagTypeLocalizer[TagTypeLocalization.TAG_TYPE_TITLE, Model.Name].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article>
    <header class="row">
        <section name="title" class="col-12 col-md-7 col-lg-8">
            <h1>
                @Model.Name
                @if (Model.IsDeleted)
                {
                    <i class="far fa-trash-alt" title="@generalLocalizer[GeneralLocalization.DELETED]"></i>
                }
            </h1>
        </section>

        <section name="admin_buttons" class="col-12 col-md-5 col-lg-4 d-inline-flex flex-md-row-reverse">
            @if (Model.IsDeleted && (await AuthorizationService.Authorize(User, Policies.Owner.DELETE_TAG_TYPE)).Succeeded)
            {
                <div>
                    <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.TagType.CONTROLLER" asp-action="@Routing.Controllers.TagType.Routes.DELETE">
                        <input asp-for="TagTypeID" name="id" type="hidden" />
                        <div>
                            <button type="submit" class="btn btn-danger text-nowrap deleteButton"><i class="fas fa-trash-alt" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.DELETE]</button>
                        </div>
                    </form>
                </div>
            }

            @if ((await AuthorizationService.Authorize(User, Policies.Administrator.EDIT_TAG_TYPE)).Succeeded)
            {
                @if (Model.IsDeleted)
                {
                    <div>
                        <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.TagType.CONTROLLER" asp-action="@Routing.Controllers.TagType.Routes.RESTORE">
                            <input asp-for="TagTypeID" name="id" type="hidden" />
                            <button type="submit" class="btn btn-dark text-nowrap"><i class="fas fa-trash-restore-alt" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.RESTORE]</button>
                        </form>
                    </div>
                }
                else if (!Model.IsDeleted)
                {
                    <div>
                        <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.TagType.CONTROLLER" asp-action="@Routing.Controllers.TagType.Routes.EDIT" asp-route-id="@Model.TagTypeID" class="btn btn-success text-nowrap" role="button">
                            <i class="fas fa-edit" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.EDIT]
                        </a>
                    </div>
                }
            }
        </section>
    </header>

    <section class="card-body card-text">
        <section name="basics" class="card mb-3">
            <header class="card-header">
                <h3>@generalLocalizer[GeneralLocalization.BASICS]</h3>
            </header>
            <section class="card-body card-text">
                <div>
                    <section class="row" name="searchable_prefix">
                        <div class="col-sm-3 col-lg-2 basics_field">
                            @Html.DisplayNameFor(model => model.SearchablePrefix):
                        </div>
                        <div class="col-sm-9 col-lg-10">
                            @Html.DisplayFor(model => model.SearchablePrefix)
                        </div>
                    </section>
                    <section class="row" name="priority">
                        <div class="col-sm-3 col-lg-2 basics_field">
                            @Html.DisplayNameFor(model => model.Priority):
                        </div>
                        <div class="col-sm-9 col-lg-10">
                            @Html.DisplayFor(model => model.Priority)
                        </div>
                    </section>
                </div>
                @if (!String.IsNullOrWhiteSpace(Model.ShortDescription))
                {
                    <section name="short_description" class="row">
                        <div class="col-sm-3 col-lg-2 basics_field">
                            @Html.DisplayNameFor(model => model.ShortDescription):
                        </div>
                        <div class="col-sm-9 col-lg-10">
                            @Html.DisplayFor(model => model.ShortDescription)
                        </div>
                    </section>
                }
                @if (!String.IsNullOrWhiteSpace(Model.URL))
                {
                    <section name="url" class="row">
                        <div class="col-sm-3 col-lg-2 basics_field">
                            @Html.DisplayNameFor(model => model.URL):
                        </div>
                        <div class="col-sm-9 col-lg-10">
                            <a href="@Model.URL">@generalLocalizer[GeneralLocalization.SOURCE]</a>
                        </div>
                    </section>
                }
            </section>
        </section>
        @if (!String.IsNullOrWhiteSpace(Model.LongDescription))
        {
            <section name="long_description" class="card mb-3">
                <header class="card-header">
                    <h3>@generalLocalizer[GeneralLocalization.LONG_DESCRIPTION]</h3>
                </header>
                <section class="card-body card-text">
                    @Html.Raw(Model.LongDescription)
                </section>
            </section>
        }
        <section name="usage" class="card mb-3">
            <header>
                <h3 class="card-header">@generalLocalizer[GeneralLocalization.USAGE]</h3>
            </header>
            <section class="card-body card-text">
                <div class="row">
                    <section name="work_usage" class="col-md col-xs-12 card">
                        <div class="card-body card-text">
                            <header class="card-title">
                                <h4>@generalLocalizer[GeneralLocalization.WORK]</h4>
                            </header>
                            <section name="available" class="row col-12">
                                <span><strong>@Html.DisplayNameFor(model => model.AvailableOnWork): </strong>@(Model.AvailableOnWork ? @generalLocalizer[GeneralLocalization.YES] : @generalLocalizer[GeneralLocalization.NO])</span>
                            </section>
                            <section name="on_summary" class="row col-12">
                                <span><strong>@Html.DisplayNameFor(modle => Model.DisplayedInWorkSummary): </strong>@(Model.DisplayedInWorkSummary ? @generalLocalizer[GeneralLocalization.YES] : @generalLocalizer[GeneralLocalization.NO])</span>
                            </section>
                            @if (Model.NumberDisplayedInWorkSummary != null)
                            {
                                <section name="number" class="row col-12">
                                    <span><strong>@Html.DisplayNameFor(modle => Model.NumberDisplayedInWorkSummary): </strong>@(Model.NumberDisplayedInWorkSummary)</span>
                                </section>
                            }
                        </div>
                    </section>

                    <section name="volume_usage" class="col-md col-xs-12 card">
                        <div class="card-body card-text">
                            <header class="card-title">
                                <h4>@generalLocalizer[GeneralLocalization.VOLUME]</h4>
                            </header>
                            <section name="available" class="row col-12">
                                <span><strong>@Html.DisplayNameFor(model => model.AvailableOnVolume): </strong>@(Model.AvailableOnVolume ? @generalLocalizer[GeneralLocalization.YES] : @generalLocalizer[GeneralLocalization.NO])</span>
                            </section>
                            <section name="on_summary" class="row col-12">
                                <span><strong>@Html.DisplayNameFor(modle => Model.DisplayedInVolumeSummary): </strong>@(Model.DisplayedInVolumeSummary ? @generalLocalizer[GeneralLocalization.YES] : @generalLocalizer[GeneralLocalization.NO])</span>
                            </section>
                            @if (Model.NumberDisplayedInVolumeSummary != null)
                            {
                                <section name="number" class="row col-12">
                                    <span><strong>@Html.DisplayNameFor(modle => Model.NumberDisplayedInVolumeSummary): </strong>@(Model.NumberDisplayedInVolumeSummary)</span>
                                </section>
                            }
                        </div>
                    </section>

                    <section name="chapter_usage" class="col-md col-xs-12 card">
                        <div class="card-body card-text">
                            <header class="card-title">
                                <h4>@generalLocalizer[GeneralLocalization.CHAPTER]</h4>
                            </header>
                            <section name="available" class="row col-12">
                                <span><strong>@Html.DisplayNameFor(model => model.AvailableOnChapter): </strong>@(Model.AvailableOnChapter ? @generalLocalizer[GeneralLocalization.YES] : @generalLocalizer[GeneralLocalization.NO])</span>
                            </section>
                            <section name="on_summary" class="row col-12">
                                <span><strong>@Html.DisplayNameFor(modle => Model.DisplayedInChapterSummary): </strong>@(Model.DisplayedInChapterSummary ? @generalLocalizer[GeneralLocalization.YES] : @generalLocalizer[GeneralLocalization.NO])</span>
                            </section>
                            @if (Model.NumberDisplayedInChapterSummary != null)
                            {
                                <section name="number" class="row col-12">
                                    <span><strong>@Html.DisplayNameFor(modle => Model.NumberDisplayedInChapterSummary): </strong>@(Model.NumberDisplayedInChapterSummary)</span>
                                </section>
                            }
                        </div>
                    </section>
                </div>
            </section>
        </section>
    </section>

    @if (Model.IsDeleted && (await AuthorizationService.Authorize(User, Policies.Administrator.VIEW_DELETED_TAG_TYPE)).Succeeded)
    {
        <a class="card-link" asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.TagType.CONTROLLER" asp-action="@Routing.Controllers.TagType.Routes.DELETED">@generalLocalizer[GeneralLocalization.BACK_TO_LIST]</a>
    }
    else
    {
        <a class="card-link" asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.TagType.CONTROLLER" asp-action="@Routing.Controllers.TagType.Routes.INDEX">@generalLocalizer[GeneralLocalization.BACK_TO_LIST]</a>
    }
</article>