﻿@model ManicNet.Models.TagViewModel
@inject IStringLocalizer<TagLocalization> tagLocalizer

@{
    ViewData["Title"] = tagLocalizer[TagLocalization.TAG_TITLE, Model.Name].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article>
    <header class="row">
        <section name="title" class="col-12 col-md-7 col-lg-9">
            <h1>
                @Model.Name
                @if (Model.IsVirtual || Model.IsParentDeleted || Model.IsDeleted)
                {
                    @if (Model.IsVirtual)
                    {
                        <i class="fas fa-cog" title="@generalLocalizer[GeneralLocalization.VIRTUAL]"></i>
                    }

                    @if (Model.IsParentDeleted)
                    {
                        <i class="fas fa-dumpster" title="@generalLocalizer[GeneralLocalization.PARENT_IS_DELETED]"></i>
                    }

                    @if (Model.IsDeleted)
                    {
                        <i class="far fa-trash-alt" title="@generalLocalizer[GeneralLocalization.DELETED]"></i>
                    }
                }
            </h1>
        </section>

        <section name="admin_buttons" class="col-12 col-md-5 col-lg-3 d-inline-flex flex-md-row-reverse">
            @if (Model.IsDeleted && (await AuthorizationService.Authorize(User, Policies.Owner.DELETE_TAG)).Succeeded)
            {
                <div>
                    <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Tag.CONTROLLER" asp-action="@Routing.Controllers.Tag.Routes.DELETE">
                        <input asp-for="TagID" name="id" type="hidden" />
                        <button type="submit" class="btn btn-danger text-nowrap deleteButton"><i class="fas fa-trash-alt" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.DELETE]</button>
                    </form>
                </div>
            }

            @if (Model.IsParentDeleted && !Model.IsDeleted && (await AuthorizationService.Authorize(User, Policies.Administrator.EDIT_TAG)).Succeeded)
            {
                <div>
                    <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Tag.CONTROLLER" asp-action="@Routing.Controllers.Tag.Routes.SOFT_DELETE">
                        <input asp-for="TagID" name="id" type="hidden" />
                        <button type="submit" class="btn btn-danger text-nowrap deleteButton"><i class="fas fa-trash-alt" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.DELETE]</button>
                    </form>
                </div>
            }

            @if (!Model.IsParentDeleted && (await AuthorizationService.Authorize(User, Policies.Administrator.EDIT_TAG)).Succeeded)
            {
                @if (Model.IsDeleted)
                {
                    <div>
                        <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Tag.CONTROLLER" asp-action="@Routing.Controllers.Tag.Routes.RESTORE">
                            <input asp-for="TagID" name="id" type="hidden" />
                            <button type="submit" class="btn btn-dark text-nowrap"><i class="fas fa-trash-restore-alt" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.RESTORE]</button>
                        </form>
                    </div>
                }
                else if (!Model.IsDeleted)
                {
                    <div class="col-sm-2 d-sm-inline-flex flex-sm-row-reverse">
                        <div>
                            <a asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Tag.CONTROLLER" asp-action="@Routing.Controllers.Tag.Routes.EDIT" asp-route-id="@Model.TagID" class="btn btn-success text-nowrap" role="button">
                                <i class="fas fa-edit" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.EDIT]
                            </a>
                        </div>
                    </div>
                }
            }
        </section>
    </header>

    <section name="search_for_tag" class="mb-3 mt-3">
        <a asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Work.CONTROLLER" asp-action="@Routing.Controllers.Work.Routes.INDEX" asp-route-search="@Model.GetSearchName()" class="btn btn-success text-nowrap" role="button">
            <i class="fas fa-search" aria-hidden="true"></i> @tagLocalizer[TagLocalization.SEARCH_FOR_TAG]
        </a>
    </section>

    @if (Model.Aliases.Any())
    {
        <section name="aliases" class="card mb-3">
            <header class="card-header">
                <h3>@tagLocalizer[TagLocalization.ALIASES]</h3>
            </header>
            <section class="card-body card-text">
                <ul>
                    @foreach (string alias in Model.Aliases)
                    {
                        <li>@alias</li>
                    }
                </ul>
            </section>
        </section>
    }
    <section name="basics" class="card mb-3">
        <header class="card-header">
            <h3>@generalLocalizer[GeneralLocalization.BASICS]</h3>
        </header>
        <div class="card-body card-text">
            <section name="tag_type" class="row">
                <div class="col-sm-3 col-lg-2 basics_field">
                    @tagLocalizer[TagLocalization.TAG_TYPE]:
                </div>
                <div class="col-sm-9 col-lg-10">
                    @Html.ActionLink(Model.TagType.Name, Routing.Controllers.TagType.Routes.SHOW, Routing.Controllers.TagType.CONTROLLER, new { area = Routing.Areas.GENERAL, id = Model.TagType.TagTypeID })
                </div>
            </section>

            @if (!String.IsNullOrWhiteSpace(Model.ShortDescription))
            {
                <sction name="short_description" class="row">
                    <div class="col-sm-3 col-lg-2 basics_field">
                        @Html.DisplayNameFor(model => model.ShortDescription):
                    </div>
                    <div class="col-sm-9 col-lg-10">
                        @Html.DisplayFor(model => model.ShortDescription)
                    </div>
                </sction>
            }

            @if (!String.IsNullOrWhiteSpace(Model.URL))
            {
                <section name="url" class="row">
                    <div class="col-sm-3 col-lg-2 basics_field">
                        @Html.DisplayNameFor(model => model.URL):
                    </div>
                    <div class="col-sm-9 col-lg-10">
                        <a href="@Model.URL">@generalLocalizer[GeneralLocalization.SOURCE]</a>
                    </div>
                </section>
            }
        </div>
    </section>

    @if (!String.IsNullOrWhiteSpace(Model.LongDescription))
    {
        <section name="long_description" class="card mb-3">
            <header class="card-header">
                <h3>@generalLocalizer[GeneralLocalization.LONG_DESCRIPTION]</h3>
            </header>
            <div class="card-body card-text">
                @Html.Raw(Model.LongDescription)
            </div>
        </section>
    }

    @if ((Model.ImpliedBy != null && Model.ImpliedBy.Any()) || (Model.Implies != null && Model.Implies.Any()))
    {
        <section name="related_tags" class="card mb-3">
            <header class="card-header">
                <h3>@tagLocalizer[TagLocalization.RELATED_TAGS]</h3>
            </header>
            <section class="card-body card-text">
                @if (Model.ImpliedBy != null && Model.ImpliedBy.Any())
                {
                    <section>
                        <header>
                            <h4>@tagLocalizer[TagLocalization.IMPLIED_BY]</h4>
                        </header>
                        <tag-type-tag-list-view info="Model.ImpliedBy"></tag-type-tag-list-view>
                    </section>
                }

                @if (Model.Implies != null && Model.Implies.Any())
                {
                    <section>
                        <header>
                            <h4>@tagLocalizer[TagLocalization.IMPLIES]</h4>
                        </header>
                        <tag-type-tag-list-view info="Model.Implies"></tag-type-tag-list-view>
                    </section>
                }
            </section>
        </section>
    }

    @if (Model.IsDeleted && (await AuthorizationService.Authorize(User, Policies.Administrator.VIEW_DELETED_TAG)).Succeeded)
    {
        <a class="card-link" asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.Tag.CONTROLLER" asp-action="@Routing.Controllers.Tag.Routes.DELETED">@generalLocalizer[GeneralLocalization.BACK_TO_LIST]</a>
    }
    else
    {
        <a class="card-link" asp-area="@Routing.Areas.GENERAL" asp-controller="@Routing.Controllers.Tag.CONTROLLER" asp-action="@Routing.Controllers.Tag.Routes.INDEX">@generalLocalizer[GeneralLocalization.BACK_TO_LIST]</a>
    }
</article>