﻿@model ManicNet.Models.UserEditViewModel
@inject IStringLocalizer<UserLocalization> userLocalizer

@{
    ViewData["Title"] = userLocalizer[UserLocalization.EDIT_USER, Model.Username].ToString() ;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <header>
        <h1>@ViewData["Title"]</h1>
    </header>

    <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.User.CONTROLLER" asp-action="@Routing.Controllers.User.Routes.EDIT" asp-route-id="" method="post">
        @Html.HiddenFor(x => x.ID)
        <div style="width:100%">
            @{
                Html.ViewData.TemplateInfo.HtmlFieldPrefix = "Roles";
                @await Html.PartialAsync("_RoleSection", Model.Roles);
            }

            <section name="permissions" class="card mb-3">
                <header class="card-header">
                    <h2>@userLocalizer[UserLocalization.PERMISSIONS]</h2>
                </header>
                <section class="card-body">
                    @for (int p = 0; p < Model.Permissions.Count(); p++)
                    {
                        Html.ViewData.TemplateInfo.HtmlFieldPrefix = "Permissions[" + p + "]";
                        @await Html.PartialAsync("_PermissionSection", Model.Permissions[p]);
                    }
                </section>
            </section>

            <button type="submit" class="btn btn-primary"><i class="fas fa-edit" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.EDIT]</button>
        </div>
    </form>

    <a class="card-link" asp-action="@Routing.Controllers.User.Routes.INDEX">@generalLocalizer[GeneralLocalization.BACK_TO_LIST]</a>
</section>