﻿@using X.PagedList.Mvc.Core;
@model ManicNet.Models.UserIndexViewModel
@inject IStringLocalizer<UserLocalization> userLocalizer
@inject IStringLocalizer<GeneralLocalization> generalStringLocalizer

@{
    ViewData["Title"] = userLocalizer[UserLocalization.ADMIN_USER_INDEX].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article>
    <header>
        <h1>@ViewData["Title"]</h1>
    </header>

    <section name="user_search">
        <!--Search box-->
        <form asp-area="@Routing.Areas.ADMINISTRATION" asp-controller="@Routing.Controllers.User.CONTROLLER" asp-action="@Routing.Controllers.User.Routes.INDEX" method="get">
            <div class="row">
                <span class="col-md-4">
                    <input asp-for="Search" placeholder="@generalLocalizer[GeneralLocalization.USER]" class="form-control" />
                </span>
                <span class="col-3">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-search" aria-hidden="true"></i> @generalLocalizer[GeneralLocalization.SEARCH]</button>
                </span>
            </div>
        </form>
    </section>

    @if (!Model.Users.Any())
    {
        <section>@userLocalizer[UserLocalization.NO_USERS_FOUND]</section>
    }
    else
    {
        <section>
            <table class="table">
                <tbody>
                    @foreach (var item in Model.Users)
                    {
                        <tr>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @Html.ActionLink(generalStringLocalizer[GeneralLocalization.EDIT].ToString(), "Edit", new { area = "Administration", id = item.ID })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>

        <section>
            <!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
            @Html.PagedListPager(Model.Users, pageNumber => Url.Action(@Routing.Controllers.User.Routes.INDEX, new { pageNumber, search = Model.Search }),
            new X.PagedList.Web.Common.PagedListRenderOptions
            {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" }
            })
        </section>
    }
</article>