﻿@model ManicNet.Email.Models.AccountRegistrationEmailModel

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div>
    <main role="main" class="pb-3">

        <p>Welcome @Model.Username,</p>

        <p>Your new account has been created on @Model.SiteName</p>

        <p>Please confirm the email address associated with your account on @Model.SiteName by clicking the link <a href="@Model.AccountConfirmationUrl">here</a>.</p>

        <p>Thanks,</p>

        <p>The @Model.SiteName Team</p>
    </main>
</div>