﻿@model ManicNet.Email.Models.EmailConfirmationEmailModel

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div>
    <main role="main" class="pb-3">

        <p>Hello @Model.Username,</p>

        <p>The email address associated with your account on @Model.SiteName has been changed. Please confirm your new email address by clicking the link <a href="@Model.AccountConfirmationUrl">here</a>.</p>

        <p>Thanks,</p>

        <p>The @Model.SiteName Team</p>
    </main>
</div>