﻿@model ManicNet.Email.Models.RegistrationInviteEmailModel

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div>
    <main role="main" class="pb-3">

        <p>Welcome,</p>

        <p>A registration invite has been approved for this email address on on @Model.SiteName</p>

        <p>Your registration invite code is: <strong>@Model.RegistrationInviteId</strong>.</p>

        @if (Model.Expires.HasValue)
        {
            <p>Your registration invite code expires at @Model.Expires.Value.</p>
        }

        <p>Thanks,</p>

        <p>The @Model.SiteName Team</p>
    </main>
</div>