﻿@model ManicNet.Email.Models.ResetPasswordEmailModel

@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div>
    <main role="main" class="pb-3">

        <p>Hello @Model.Username,</p>

        <p>A password reset email has been requested for your account on @Model.SiteName.</p>

        <p>You can reset your password by clicking the link <a href="@Model.PasswordResetUrl">here</a>.</p>

        <p>If you did not request a password reset you can safely ignore this message.</p>

        <p>Thanks,</p>

        <p>The @Model.SiteName Team</p>
    </main>
</div>